extends /app/pages/templates/article  

block configParams
  -
    title       = "Configure Elixir to run in Production | Nanobox"
    description = "Learn how to configure an Elixir application to run in production"
    keywords    = "elixir, elixir production application, manage elixir application, configure elixir, production elixir, elixir in production"
    articles    = "elixir/generic"
    icons       = "elixir,generic"
    id          = "Configure your App"
    
block markdown
  include:md /articles/elixir/generic/configure-generic.md
