extends /app/pages/templates/article  

block configParams
  -
    title       = "Run an Existing Elixir Applicatin in Docker | Nanobox"
    description = "Learn how to take an existing Elixir application and run it using Docker"
    keywords    = "elixir, elixir production application, manage elixir application, docker, elixir on docker, containers"
    articles    = "elixir/generic"
    icons       = "elixir,generic"
    id          = "Existing Elixir App"
    
block markdown
  include:md /articles/elixir/generic/existing-app.md
