extends /app/pages/templates/article  

block configParams
  -
    title       = "Stage an Elixir application | Nanobox"
    description = "Easily stage an Elixir application before deplying to production"
    keywords    = "elixir, elixir production application, manage elixir application, test elixir application, stage elixir application"
    articles    = "elixir/generic"
    icons       = "elixir,generic"
    id          = "Preview your App"
    
block markdown
  include:md /articles/elixir/generic/preview-your-app.md
