extends /app/pages/templates/article  

block configParams
  -
    title       = "Remote Access to Elixir Applications | Nanobox"
    description = "Securely manage running Elixir application with SSH remote access"
    keywords    = "elixir, elixir production application, manage elixir application, ssh access, remote access, server management, secure access"
    articles    = "elixir/generic"
    icons       = "elixir,generic"
    id          = "Remote Access"
    
block markdown
  include:md /articles/shared/remote-access.md
