extends /app/pages/templates/article  

block configParams
  -
    title       = "Manage Elixir Application Teams | Nanobox"
    description = "Easily manage Elixir development teams and application collaborators"
    keywords    = "elixir, elixir production application, manage elixir application, elixir collaboration, team management"
    articles    = "elixir/generic"
    icons       = "elixir,generic"
    id          = "Team Management"
    
block markdown
  include:md /articles/shared/team-management.md
