
	.st0_itd4y69h{opacity:0.08;fill:url(#SVGID_1_itd4y69h);}
	.st1_itd4y69h{opacity:0.08;fill:url(#SVGID_2_itd4y69h);}
	.st2_itd4y69h{opacity:0.08;fill:url(#SVGID_3_itd4y69h);}
	.st3_itd4y69h{opacity:0.08;fill:url(#SVGID_4_itd4y69h);}
	.st4_itd4y69h{fill:#1CACEF;}
	.st5_itd4y69h{fill:#0D85BD;}
	.st6_itd4y69h{fill:#FFFFFF;}
	.st7_itd4y69h{fill:#DEDEDE;}
	.st8_itd4y69h{fill:#EBEBEB;}
	.st9_itd4y69h{opacity:0.42;fill:#DEDEDE;}
	.st10_itd4y69h{fill:#E6E6E6;}
	.st11_itd4y69h{fill:none;stroke:#1EB8FF;stroke-width:5;stroke-miterlimit:10;}
	.st12_itd4y69h{fill-rule:evenodd;clip-rule:evenodd;fill:#FFFFFF;}
	.st13_itd4y69h{fill:#E2E2E2;}
	.st14_itd4y69h{fill:#D2D2D2;}
	.st15_itd4y69h{fill:#B8BEC1;}
	.st16_itd4y69h{fill-rule:evenodd;clip-rule:evenodd;fill:#0D81B8;}
