
	.st0_itd4y6yw{fill:#FFFFFF;}
	.st1_itd4y6yw{fill:#EFF2F2;}
	.st2_itd4y6yw{fill:#D8DFE3;}
	.st3_itd4y6yw{fill:#E2E9ED;}
	.st4_itd4y6yw{fill:#F3F5F5;}
	.st5_itd4y6yw{fill:#F9FCFC;}
	.st6_itd4y6yw{fill:#EAEDED;}
	.st7_itd4y6yw{fill:#4EBFC9;}
	.st8_itd4y6yw{fill:#1E77A3;}
	.st9_itd4y6yw{fill:#175D80;}
	.st10_itd4y6yw{opacity:0.37;fill:#0B194F;}
	.st11_itd4y6yw{fill:#4AF1FF;}
	.st12_itd4y6yw{fill:#31CFDC;}
	.st13_itd4y6yw{fill:#07C1D1;}
	.st14_itd4y6yw{fill:#EC5268;}
	.st15_itd4y6yw{fill:#C74F62;}
	.st16_itd4y6yw{fill:#F97792;}
	.st17_itd4y6yw{fill:#F25C75;}
	.st18_itd4y6yw{fill:#2F4757;}
	.st19_itd4y6yw{fill:#50728A;}
	.st20_itd4y6yw{fill:#47657A;}
	.st21_itd4y6yw{fill:#1E2B33;}
	.st22_itd4y6yw{fill:#19242B;}
	.st23_itd4y6yw{opacity:0.73;fill:url(#SVGID_3_itd4y6yw);}
	.st24_itd4y6yw{opacity:0.73;fill:url(#SVGID_4_itd4y6yw);}
	.st25_itd4y6yw{opacity:0.73;fill:url(#SVGID_5_itd4y6yw);}
	.st26_itd4y6yw{opacity:0.73;fill:url(#SVGID_6_itd4y6yw);}
	.st27_itd4y6yw{fill:#F7F7F7;}
	.st28_itd4y6yw{fill:none;stroke:#FFFFFF;stroke-width:0.6224;stroke-miterlimit:10;stroke-dasharray:2.5206;}
	.st29_itd4y6yw{fill:none;stroke:#FFFFFF;stroke-width:0.6224;stroke-miterlimit:10;}
	.st30_itd4y6yw{opacity:0.39;fill:url(#SVGID_7_itd4y6yw);}
	.st31_itd4y6yw{opacity:0.39;fill:url(#SVGID_8_itd4y6yw);}
	.st32_itd4y6yw{opacity:0.72;fill:url(#SVGID_9_itd4y6yw);}
	.st33_itd4y6yw{opacity:0.72;fill:url(#SVGID_10_itd4y6yw);}
	.st34_itd4y6yw{opacity:0.13;fill:url(#SVGID_11_itd4y6yw);}
	.st35_itd4y6yw{fill:#DFDFDF;}
	.st36_itd4y6yw{fill:#E6E6E6;}
	.st37_itd4y6yw{fill:#31A6DC;}
	.st38_itd4y6yw{fill:#0790D1;}
	.st39_itd4y6yw{fill:#0572A6;}
	.st40_itd4y6yw{fill:#EAED9D;}
	.st41_itd4y6yw{fill:#D1D39F;}
	.st42_itd4y6yw{fill:#FDFFE2;}
	.st43_itd4y6yw{fill:#1CACEF;}
	.st44_itd4y6yw{fill:#1583B5;}
	.st45_itd4y6yw{fill:#75D6FF;}
	.st46_itd4y6yw{fill:#3AC4FF;}
	.st47_itd4y6yw{fill:none;stroke:#AE59FF;stroke-width:2.8006;stroke-miterlimit:10;}
	.st48_itd4y6yw{fill:#D3E5F0;}
	.st49_itd4y6yw{fill:#C4D5DF;}
	.st50_itd4y6yw{fill:#CADCE6;}
	.st51_itd4y6yw{fill:none;stroke:#D0E2ED;stroke-width:1.0658;stroke-miterlimit:10;stroke-dasharray:9.4284,2.6938;}
	.st52_itd4y6yw{clip-path:url(#SVGID_13_itd4y6yw);fill:#1583B5;}
	.st53_itd4y6yw{fill:#B7EAFF;}
	.st54_itd4y6yw{fill:#C0D0DA;}
	.st55_itd4y6yw{fill:#88DCFF;}
	.st56_itd4y6yw{fill:#A1E3FF;}
	.st57_itd4y6yw{fill:#74D4FF;}
	.st58_itd4y6yw{fill:#BACAD3;}
	.st59_itd4y6yw{fill:#BAE9FF;}
	.st60_itd4y6yw{fill:#9EE0FF;}
	.st61_itd4y6yw{fill:#67D0FF;}
	.st62_itd4y6yw{fill:url(#SVGID_14_itd4y6yw);}
	.st63_itd4y6yw{fill:#BFECFF;}
	.st64_itd4y6yw{fill:#55CBFF;}
	.st65_itd4y6yw{fill-rule:evenodd;clip-rule:evenodd;fill:#FFFFFF;}
	.st66_itd4y6yw{fill:#FFFFFF;stroke:#FFFFFF;stroke-width:0.0771;stroke-miterlimit:10;}
	.st67_itd4y6yw{fill:none;stroke:#FFFFFF;stroke-width:1.5676;stroke-miterlimit:10;}
	.st68_itd4y6yw{fill:none;stroke:#FFFFFF;stroke-width:1.8811;stroke-miterlimit:10;}
	.st69_itd4y6yw{clip-path:url(#SVGID_16_itd4y6yw);fill:#FFFFFF;}
	.st70_itd4y6yw{clip-path:url(#SVGID_18_itd4y6yw);fill:#FFFFFF;}
	.st71_itd4y6yw{clip-path:url(#SVGID_20_itd4y6yw);fill:#FFFFFF;}
	.st72_itd4y6yw{clip-path:url(#SVGID_22_itd4y6yw);fill:#FFFFFF;}
	.st73_itd4y6yw{clip-path:url(#SVGID_24_itd4y6yw);fill:#FFFFFF;}
	.st74_itd4y6yw{clip-path:url(#SVGID_26_itd4y6yw);fill:#FFFFFF;}
	.st75_itd4y6yw{clip-path:url(#SVGID_46_itd4y6yw);fill:#FFFFFF;}
	.st76_itd4y6yw{clip-path:url(#SVGID_48_itd4y6yw);fill:#FFFFFF;}
	.st77_itd4y6yw{clip-path:url(#SVGID_50_itd4y6yw);fill:#FFFFFF;}
	.st78_itd4y6yw{clip-path:url(#SVGID_52_itd4y6yw);fill:#FFFFFF;}
	.st79_itd4y6yw{clip-path:url(#SVGID_54_itd4y6yw);fill:#FFFFFF;}
	.st80_itd4y6yw{clip-path:url(#SVGID_56_itd4y6yw);fill:#FFFFFF;}
	.st81_itd4y6yw{clip-path:url(#SVGID_58_itd4y6yw);fill:#FFFFFF;}
	.st82_itd4y6yw{clip-path:url(#SVGID_60_itd4y6yw);fill:#FFFFFF;}
	.st83_itd4y6yw{clip-path:url(#SVGID_62_itd4y6yw);fill:#FFFFFF;}
	.st84_itd4y6yw{fill:url(#SVGID_81_itd4y6yw);}
	.st85_itd4y6yw{fill:#1485A3;}
	.st86_itd4y6yw{fill:#FFFFFF;stroke:#FFFFFF;stroke-miterlimit:10;}
	.st87_itd4y6yw{fill:#79B94A;}
	.st88_itd4y6yw{fill:none;stroke:#FFFFFF;stroke-width:1.5289;stroke-miterlimit:10;}
	.st89_itd4y6yw{fill:#98CF70;}
	.st90_itd4y6yw{fill:#E8F1F7;}
	.st91_itd4y6yw{fill:#CC3038;stroke:#A8282E;stroke-miterlimit:10;}
	.st92_itd4y6yw{fill:#FFB733;}
	.st93_itd4y6yw{fill:#D1323A;}
	.st94_itd4y6yw{fill:#EF3942;}
	.st95_itd4y6yw{clip-path:url(#SVGID_83_itd4y6yw);fill:#CC3038;}
	.st96_itd4y6yw{fill:#FFD6D9;}
	.st97_itd4y6yw{fill:#DADADA;}
	.st98_itd4y6yw{fill:#FFA7AD;}
	.st99_itd4y6yw{fill:#FFC0C4;}
	.st100_itd4y6yw{fill:#FF9399;}
	.st101_itd4y6yw{fill:#D3D3D3;}
	.st102_itd4y6yw{fill:#FFD9DB;}
	.st103_itd4y6yw{fill:#FFBDC0;}
	.st104_itd4y6yw{fill:#FF616B;}
	.st105_itd4y6yw{fill:#FF868D;}
	.st106_itd4y6yw{fill:url(#SVGID_84_itd4y6yw);}
	.st107_itd4y6yw{fill:#FFDEE0;}
	.st108_itd4y6yw{fill:#FF747C;}
	.st109_itd4y6yw{fill:#A7E37B;}
	.st110_itd4y6yw{fill:#0FA0D4;}
	.st111_itd4y6yw{clip-path:url(#SVGID_86_itd4y6yw);fill:#98CF70;}
	.st112_itd4y6yw{clip-path:url(#SVGID_88_itd4y6yw);fill:#1485A3;}
	.st113_itd4y6yw{fill:none;stroke:#FFFFFF;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}
	.st114_itd4y6yw{fill:#2CB6E2;}
	.st115_itd4y6yw{fill:#E7F1F5;}
	.st116_itd4y6yw{fill:#CCDAE3;}
	.st117_itd4y6yw{fill:none;stroke:#CCDAE3;stroke-width:6;stroke-miterlimit:10;}
	.st118_itd4y6yw{fill:none;stroke:#E3ECF2;stroke-width:6;stroke-miterlimit:10;}
	.st119_itd4y6yw{fill:none;stroke:#A8282E;stroke-width:6;stroke-miterlimit:10;}
	.st120_itd4y6yw{fill:none;stroke:#117089;stroke-width:6;stroke-miterlimit:10;}
	.st121_itd4y6yw{fill:none;stroke:#7CAB5C;stroke-width:6;stroke-miterlimit:10;}
	.st122_itd4y6yw{fill:none;stroke:#8FACBD;stroke-width:0.475;stroke-miterlimit:10;stroke-dasharray:2.8356,2.8356;}
	.st123_itd4y6yw{fill:none;stroke:#8FACBD;stroke-width:0.475;stroke-miterlimit:10;stroke-dasharray:2.8276,2.8276;}
	.st124_itd4y6yw{fill:#79B94A;stroke:#79B94A;stroke-miterlimit:10;}
	.st125_itd4y6yw{fill:#FFB35C;stroke:#79B94A;stroke-miterlimit:10;}
	.st126_itd4y6yw{fill:none;stroke:#BCCCD4;stroke-width:4;stroke-miterlimit:10;}
	.st127_itd4y6yw{fill:none;stroke:#E8E8E8;stroke-width:4;stroke-miterlimit:10;}
	.st128_itd4y6yw{fill:#E36464;}
	.st129_itd4y6yw{opacity:0.55;fill:#E36464;}
	.st130_itd4y6yw{fill:#62B1DD;}
	.st131_itd4y6yw{opacity:0.42;fill:#0B194F;}
	.st132_itd4y6yw{opacity:0.76;fill:#E1ED9D;}
	.st133_itd4y6yw{fill:none;stroke:#2A3D4A;stroke-width:1.507;stroke-miterlimit:10;}
	.st134_itd4y6yw{clip-path:url(#SVGID_94_itd4y6yw);fill:#B52B32;}
	.st135_itd4y6yw{clip-path:url(#SVGID_96_itd4y6yw);fill:#81B05F;}
	.st136_itd4y6yw{fill:#3672A4;}
	.st137_itd4y6yw{clip-path:url(#SVGID_98_itd4y6yw);fill:#29577D;}
	.st138_itd4y6yw{fill:#29577D;}
	.st139_itd4y6yw{fill:#9CB3F0;}
	.st140_itd4y6yw{fill:#52638F;}
	.st141_itd4y6yw{fill:#374E78;}
	.st142_itd4y6yw{fill:#2D3652;}
	.st143_itd4y6yw{fill:#897596;}
	.st144_itd4y6yw{clip-path:url(#SVGID_100_itd4y6yw);fill:#7B6987;}
	.st145_itd4y6yw{opacity:0.4;fill:#CBADDE;}
	.st146_itd4y6yw{opacity:0.28;fill:#CBADDE;}
	.st147_itd4y6yw{fill:#91DC47;stroke:#91DC47;stroke-width:2;stroke-miterlimit:10;}
	.st148_itd4y6yw{fill:#7BBA3C;}
	.st149_itd4y6yw{fill:none;stroke:#FFFFFF;stroke-width:4.1403;stroke-miterlimit:10;}
	.st150_itd4y6yw{fill:#75CEDE;}
	.st151_itd4y6yw{clip-path:url(#SVGID_102_itd4y6yw);fill:#61AAB8;}
	.st152_itd4y6yw{clip-path:url(#SVGID_104_itd4y6yw);fill:#437680;}
	.st153_itd4y6yw{clip-path:url(#SVGID_106_itd4y6yw);fill:#61AAB8;}
	.st154_itd4y6yw{clip-path:url(#SVGID_108_itd4y6yw);fill:#437680;}
	.st155_itd4y6yw{clip-path:url(#SVGID_110_itd4y6yw);}
	.st156_itd4y6yw{fill:#61AAB8;}
	.st157_itd4y6yw{clip-path:url(#SVGID_112_itd4y6yw);fill:#61AAB8;}
	.st158_itd4y6yw{fill:#437680;}
	.st159_itd4y6yw{fill:#ACE8F2;}
	.st160_itd4y6yw{fill:#9C6B3D;}
	.st161_itd4y6yw{clip-path:url(#SVGID_114_itd4y6yw);fill:#805832;}
	.st162_itd4y6yw{fill:none;stroke:#FFFFFF;stroke-width:9.6606;stroke-miterlimit:10;}
	.st163_itd4y6yw{fill:#75AFDE;}
	.st164_itd4y6yw{clip-path:url(#SVGID_116_itd4y6yw);fill:#6699C2;}
	.st165_itd4y6yw{fill:#DBEFFF;}
	.st166_itd4y6yw{fill:#65CF69;}
	.st167_itd4y6yw{clip-path:url(#SVGID_118_itd4y6yw);fill:#55B358;}
	.st168_itd4y6yw{fill:none;stroke:#FFFFFF;stroke-width:4.1403;stroke-linecap:round;stroke-miterlimit:10;}
	.st169_itd4y6yw{fill:#DC322D;}
	.st170_itd4y6yw{clip-path:url(#SVGID_120_itd4y6yw);fill:#C22C28;}
	.st171_itd4y6yw{fill:#F28885;}
	.st172_itd4y6yw{fill:#B07C5C;}
	.st173_itd4y6yw{clip-path:url(#SVGID_124_itd4y6yw);fill:#D69F72;}
	.st174_itd4y6yw{clip-path:url(#SVGID_126_itd4y6yw);fill:#B37E5D;}
	.st175_itd4y6yw{fill:none;stroke:#FFFFFF;stroke-width:3;stroke-miterlimit:10;}
	.st176_itd4y6yw{fill:none;stroke:#DFDFDF;stroke-linecap:round;stroke-miterlimit:10;}
	.st177_itd4y6yw{fill:none;stroke:#FFFFFF;stroke-width:2;stroke-miterlimit:10;}
	.st178_itd4y6yw{fill:#EF454E;}
	.st179_itd4y6yw{clip-path:url(#SVGID_128_itd4y6yw);fill:#FFFFFF;}
	.st180_itd4y6yw{fill:#3D699C;}
	.st181_itd4y6yw{clip-path:url(#SVGID_130_itd4y6yw);fill:#325680;}
	.st182_itd4y6yw{fill:none;stroke:#FFFFFF;stroke-width:1.3801;stroke-miterlimit:10;stroke-dasharray:5.5052,2.7526;}
	.st183_itd4y6yw{fill:#9E9E9E;}
	.st184_itd4y6yw{clip-path:url(#SVGID_132_itd4y6yw);fill:#666666;}
	.st185_itd4y6yw{fill:#DBDBDB;}
	.st186_itd4y6yw{fill:none;stroke:#26BBFF;stroke-width:1.507;stroke-miterlimit:10;}
