extends /app/pages/templates/article  

block configParams
  -
    title    = "Built-In Settings"
    articles = "php"
    icons    = "php"
    
block markdown
  include:md /articles/php/generic/builtin-settings.md
