extends /app/pages/templates/article  

block configParams
  -
    title    = "General Webserver Settings"
    articles = "php"
    icons    = "php"
    
block markdown
  include:md /articles/php/generic/config/webserver/webserver-settings.md
