extends /app/pages/templates/article  

block configParams
  -
    title       = "Add a Database"
    keywords    = "nodejs,hapi,add-a-database"
    description = "add a database to hapi"
    articles    = "nodejs/hapi"
    icons       = "nodejs,hapi"
    
block markdown
  include:md /articles/nodejs/hapi/add-a-database.md
