extends /app/pages/templates/article  

block configParams
  -
    title       = "Managing Nodejs Versions | Nanobox"
    description = "How to update or change nodejs versions in development and production environments"
    keywords    = "nodejs, hapi production application, manage hapi application, configure hapi, production hapi, hapi in production, nodejs version, manage nodejs versions"
    articles    = "nodejs/hapi"
    icons       = "nodejs,hapi"
    
block markdown
  include:md /articles/nodejs/config.md
