extends /app/pages/templates/article  

block configParams
  -
    title       = "Configure Nodejs"
    keywords    = "nodejs,configure"
    description = "configure nodejs"
    articles    = "nodejs/hapi"
    icons       = "nodejs,hapi"
    
block markdown
  include:md /articles/nodejs/config.md
