extends /app/pages/templates/article  

block configParams
  -
    title       = "Debugging hapi"
    keywords    = "nodejs,hapi,debug"
    description = "Debugging your hapi app with Nanobox"
    articles    = "nodejs/hapi"
    icons       = "nodejs,hapi"
    
block markdown
  include:md /articles/shared/debugging.md
