extends /app/pages/templates/article  

block configParams
  -
    title       = "SSL/TLS Encryption"
    keywords    = "nodejs,hapi,ssl,tls,encryption"
    description = "hapi SSL/TLS Encryption"
    articles    = "nodejs/hapi"
    icons       = "nodejs,hapi"
    
block markdown
  include:md /articles/shared/encryption.md
