extends /app/pages/templates/article  

block configParams
  -
    title       = "Run an Existing Hapi Application in Docker | Nanobox"
    description = "Learn how to take an existing Hapi application and run it using Docker"
    keywords    = "nodejs, hapi production application, manage hapi application, docker, hapi on docker, containers"
    articles    = "nodejs/hapi"
    icons       = "node,hapi"
    id          = "Existing Hapi App"
    
block markdown
  include:md /articles/nodejs/hapi/existing-app.md
