extends /app/pages/templates/article  

block configParams
  -
    title       = "Frontend Javascript"
    keywords    = "nodejs,hapi,javascript,node,yarn,npm,bower,gulp,grunt,brunch,broccoli"
    description = "javascript in hapi"
    articles    = "nodejs/hapi"
    icons       = "nodejs,hapi"
    
block markdown
  :md
    # Frontend Javascript
  include:md /articles/shared/partials/nodejs.md
  include:md /articles/shared/partials/package-managers.md
  include:md /articles/shared/partials/task-runners.md
