extends /app/pages/templates/article  

block configParams
  -
    title       = "Launch your App"
    keywords    = "nodejs,hapi,launch"
    description = "Launch your hapi app on live servers with Nanobox"
    articles    = "nodejs/hapi"
    icons       = "nodejs,hapi"
    
block markdown
  :md
    # Launch Your App
  include:md /articles/shared/partials/launch-your-app.md
  include:md /articles/nodejs/hapi/launch-your-app.md
  include:md /articles/shared/partials/deploy-your-app.md
