extends /app/pages/templates/article  

block configParams
  -
    title       = "Yarn & NPM"
    keywords    = "nodejs,hapi,npm,yarn"
    description = "Yarn, and npm with hapi and Nanobox"
    articles    = "nodejs/hapi"
    icons       = "nodejs,hapi"
    
block markdown
  include:md /articles/nodejs/npm.md
