extends /app/pages/templates/article  

block configParams
  -
    title       = "Managing Hapi Packages with Yarn & NPM | Nanobox"
    description = "How to manage Hapi application dependencies with Yarn & NPM"
    keywords    = "nodejs, hapi application, manage hapi application, yarn, npm, hapi yarn, hapi npm, nodejs yarn, nodejs npm"
    articles    = "nodejs/hapi"
    icons       = "nodejs,hapi"
    id          = "Yarn & NPM"
    
block markdown
  include:md /articles/nodejs/npm.md
