extends /app/pages/templates/article  

block configParams
  -
    title       = "Dry Run"
    keywords    = "nodejs,hapi,stage,test"
    description = "Preview your hapi app with Nanobox"
    articles    = "nodejs/hapi"
    icons       = "nodejs,hapi"
    
block markdown
  include:md /articles/nodejs/hapi/preview-your-app.md
