extends /app/pages/templates/article  

block configParams
  -
    title       = "Stage a Hapi application | Nanobox"
    description = "Easily stage a Hapi application before deplying to production"
    keywords    = "nodejs, hapi production application, manage hapi application, test hapi application, stage hapi application"
    articles    = "nodejs/hapi"
    icons       = "nodejs,hapi"
    id          = "Preview your App"
    
block markdown
  include:md /articles/nodejs/hapi/preview-your-app.md
