extends /app/pages/templates/article  

block configParams
  -
    title       = "Remote Access"
    keywords    = "nodejs,hapi,remote-access"
    description = "Remotely access your hapi app with Nanobox"
    articles    = "nodejs/hapi"
    icons       = "nodejs,hapi"
    
block markdown
  include:md /articles/shared/remote-access.md
