extends /app/pages/templates/article  

block configParams
  -
    title       = "Remote Access to Hapi Applications | Nanobox"
    description = "Securely manage running Hapi application with SSH remote access"
    keywords    = "nodejs, hapi production application, manage hapi application, ssh access, remote access, server management, secure access"
    articles    = "nodejs/hapi"
    icons       = "nodejs,hapi"
    id          = "Remote Access"
    
block markdown
  include:md /articles/shared/remote-access.md
