extends /app/pages/templates/article  

block configParams
  -
    title       = "Scale Your App"
    keywords    = "nodejs,hapi,production,scale"
    description = "how to scale hapi"
    articles    = "nodejs/hapi"
    icons       = "nodejs,hapi"
    
block markdown
  include:md /articles/shared/scale-your-app.md
