extends /app/pages/templates/article  

block configParams
  -
    title       = "Configure Play to run in Production | Nanobox"
    description = "Learn how to configure a Play application to run in production"
    keywords    = "scala, play production application, manage play application, configure play, production play, play in production"
    articles    = "scala/play"
    icons       = "scala,play"
    id          = "Configure Play"
    
block markdown
  include:md /articles/scala/play/configure-play.md
