extends /app/pages/templates/article  

block configParams
  -
    title       = "Debug Play Application in Production | Nanobox"
    description = "Learn how to debug a production Play application"
    keywords    = "scala, play production application, manage play application, play logging, play monitoring, debug play, debugging play"
    articles    = "scala/play"
    icons       = "scala,play"
    id          = "Debugging"
    
block markdown
  include:md /articles/shared/debugging.md
