extends /app/pages/templates/article  

block configParams
  -
    title       = "Adding Javascript to a Play Application | Nanobox"
    description = "How to add Javascript to a Play application"
    keywords    = "scala, play application, play javascript, javascript"
    articles    = "scala/play"
    icons       = "scala,play"
    id          = "Frontend Javascript"
    
block markdown
  :md
    # Frontend Javascript
  include:md /articles/shared/partials/nodejs.md
  include:md /articles/shared/partials/package-managers.md
  include:md /articles/shared/partials/task-runners.md
