extends /app/pages/templates/article  

block configParams
  -
    title       = "Adding a Domain to a Play Application | Nanobox"
    description = "How to point an existing domain name to a Play application"
    keywords    = "scala, play production application, manage play application point dns, add dns, domain, domin pointing, point domain"
    articles    = "scala/play"
    icons       = "scala,play"
    id          = "Point your Domain"
    
block markdown
  include:md /articles/shared/point-your-domain.md
