extends /app/pages/templates/article  

block configParams
  -
    title       = "Add Environment Variable to Production Play Application | Nanobox"
    description = "Learn how to add environment variable to a production Play application"
    keywords    = "scala, play production application, manage play application, play environment variables, environment variables"
    articles    = "scala/play"
    icons       = "scala,play"
    id          = "Environment Variables"
    
block markdown
  include:md /articles/shared/production-evars.md
