extends /app/pages/templates/article  

block configParams
  -
    title       = "Manage Play Application Teams | Nanobox"
    description = "Easily manage Play development teams and application collaborators"
    keywords    = "scala, play production application, manage play application, play collaboration, team management"
    articles    = "scala/play"
    icons       = "scala,play"
    id          = "Team Management"
    
block markdown
  include:md /articles/shared/team-management.md
