extends /app/pages/templates/article  

block configParams
  -
    title       = "Add a Database"
    keywords    = "nodejs,sails,add-a-database"
    description = "Add a database to Sails with Nanobox"
    articles    = "nodejs/sails"
    icons       = "nodejs,sails"
    
block markdown
  include:md /articles/nodejs/sails/add-a-database.md
