extends /app/pages/templates/article  

block configParams
  -
    title       = "Configure Sails for Production"
    keywords    = "nodejs,sails,configure,production"
    description = "Configuring Sails for production with Nanobox"
    articles    = "nodejs/sails"
    icons       = "nodejs,sails"
    
block markdown
  include:md /articles/nodejs/sails/configure-sails.md
