extends /app/pages/templates/article  

block configParams
  -
    title       = "Managing Nodejs Versions | Nanobox"
    description = "How to update or change nodejs versions in development and production environments"
    keywords    = "nodejs, sails production application, manage sails application, configure sails, production sails, sails in production, nodejs version, manage nodejs versions"
    articles    = "nodejs/sails"
    icons       = "node,sails"
    id          = "Configure Nodejs"
    
block markdown
  include:md /articles/nodejs/config.md
