extends /app/pages/templates/article  

block configParams
  -
    title       = "Configure Nodejs"
    keywords    = "nodejs,configure"
    description = "Configure Node.js with Sails and Nanobox"
    articles    = "nodejs/sails"
    icons       = "nodejs,sails"
    
block markdown
  include:md /articles/nodejs/config.md
