extends /app/pages/templates/article  

block configParams
  -
    title       = "Debug Sails Application in Production | Nanobox"
    description = "Learn how to debug a production Sails application"
    keywords    = "nodejs, sails production application, manage sails application, sails logging, sails monitoring, debug sails, debugging sails"
    articles    = "nodejs/sails"
    icons       = "nodejs,sails"
    id          = "Debugging"
    
block markdown
  include:md /articles/shared/debugging.md
