extends /app/pages/templates/article  

block configParams
  -
    title       = "Debugging Sails"
    keywords    = "nodejs,sails,debug"
    description = "Debug your Sails app with Nanobox"
    articles    = "nodejs/sails"
    icons       = "nodejs,sails"
    
block markdown
  include:md /articles/shared/debugging.md
