extends /app/pages/templates/article  

block configParams
  -
    title       = "Add SSL/TLS Encryption to a Sails Application | Nanobox"
    description = "Learn how to easily add SSL/TLS encryption to a Sails production application"
    keywords    = "nodejs, sails production application, manage sails application,
    articles    = "nodejs/sails"
    icons       = "nodejs,sails"
    
block markdown
  include:md /articles/shared/encryption.md
