extends /app/pages/templates/article  

block configParams
  -
    title    = "SSL/TLS Encryption"
    articles = "nodejs/sails"
    icons    = "nodejs,sails"
    
block markdown
  include:md /articles/shared//encryption.md
