extends /app/pages/templates/article  

block configParams
  -
    title       = "Run an Existing Sails Applicatin in Docker | Nanobox"
    description = "Learn how to take an existing Sails application and run it using Docker"
    keywords    = "nodejs, sails production application, manage sails application, docker, sails on docker, containers"
    articles    = "nodejs/sails"
    icons       = "nodejs,sails"
    
block markdown
  include:md /articles/nodejs/sails/existing-app.md
