extends /app/pages/templates/article  

block configParams
  -
    title       = "Existing Sails App"
    keywords    = "nodejs,sails"
    description = "Launch your existing Sails app with Nanobox"
    articles    = "nodejs/sails"
    icons       = "nodejs,sails"
    
block markdown
  include:md /articles/nodejs/sails/existing-app.md
