extends /app/pages/templates/article  

block configParams
  -
    title    = "Sails From Scratch"
    articles = "nodejs/sails"
    icons    = "nodejs,sails"
    
block markdown
  include:md /articles/nodejs/sails//from-scratch.md
