extends /app/pages/templates/article  

block configParams
  -
    title       = "Create a Sails Application from Scratch | Nanobox"
    description = "Learn how to create a new Sails application and local development environment"
    keywords    = "nodejs, sails application, sails application, nodejs dev environment, dev environment, sails dev environemnt, sails dev, docker, containers"
    articles    = "nodejs/sails"
    icons       = "nodejs,sails"
    
block markdown
  include:md /articles/nodejs/sails/from-scratch.md
