extends /app/pages/templates/article  

block configParams
  -
    title    = "Getting Started"
    articles = "sails"
    icons    = "node,sails"
    
block markdown
  include:md /articles/nodejs/sails/getting-started.md
