extends /app/pages/templates/article  

block configParams
  -
    title       = "Launch a Sails Application to Production | Nanobox"
    description = "Learn how to deploy a Sails application to production servers"
    keywords    = "nodejs, sails production application, manage sails application, deploy sails, launch sails, sails in production, sails production servers"
    articles    = "nodejs/sails"
    icons       = "node,sails"
    id          = "Launch your App"
    
block markdown
  :md
    # Launch Your App
  include:md /articles/shared/partials/launch-your-app.md
  include:md /articles/nodejs/sails/launch-your-app.md
  include:md /articles/shared/partials/deploy-your-app.md
