extends /app/pages/templates/article  

block configParams
  -
    title       = "Local Environment Variables"
    keywords    = "nodejs,sails,environment-variables"
    description = "Sails environment variables with Nanobox"
    articles    = "nodejs/sails"
    icons       = "nodejs,sails"
    
block markdown
  include:md /articles/shared/local-evars.md
