extends /app/pages/templates/article  

block configParams
  -
    title       = "Add Environment Variable to Sails Application in Development| Nanobox"
    description = "Learn how to add environment variable to a Sails applicationin development"
    keywords    = "nodejs, sails application, manage sails application, sails environment variables, environment variables"
    articles    = "nodejs/sails"
    icons       = "nodejs,sails"
    
block markdown
  include:md /articles/shared/local-evars.md
