extends /app/pages/templates/article  

block configParams
  -
    title       = "Managing a Production Sails Application | Nanobox"
    description = "Manage a Sails application's logs, traffic, health, and storage"
    keywords    = "nodejs, sails production application, manage sails application, monitor sails, sails logging, load balancer, sails monitoring, production logs"
    articles    = "nodejs/sails"
    icons       = "node,sails"
    id          = "Manage Platform"
    
block markdown
  include:md /articles/shared/manage-platform.md
