extends /app/pages/templates/article  

block configParams
  -
    title       = "Point your Domain"
    keywords    = "nodejs,sails,dns,domain"
    description = "manage sails dns"
    articles    = "nodejs/sails"
    icons       = "nodejs,sails"
    
block markdown
  include:md /articles/shared/point-your-domain.md
