extends /app/pages/templates/article  

block configParams
  -
    title    = "Prepare for production"
    articles = "nodejs/sails"
    icons    = "nodejs,sails"
    
block markdown
  include:md /articles/nodejs/sails/prepare-for-production.md
