extends /app/pages/templates/article  

block configParams
  -
    title       = "Stage a Sails application | Nanobox"
    description = "Easily stage a Sails application before deplying to production"
    keywords    = "nodejs, sails production application, manage sails application, test sails application, stage sails application"
    articles    = "nodejs/sails"
    icons       = "nodejs,sails"
    id          = "Preview your App"
    
block markdown
  include:md /articles/nodejs/sails/preview-your-app.md
