extends /app/pages/templates/article  

block configParams
  -
    title       = "Remote Access"
    keywords    = "nodejs,sails,remote-access"
    description = "sails remote access"
    articles    = "nodejs/sails"
    icons       = "nodejs,sails"
    
block markdown
  include:md /articles/shared/remote-access.md
