extends /app/pages/templates/article  

block configParams
  -
    title       = "Remote Access to Sails Applications | Nanobox"
    description = "Securely manage running Sails application with SSH remote access"
    keywords    = "nodejs, sails production application, manage sails application, ssh access, remote access, server management, secure access"
    articles    = "nodejs/sails"
    icons       = "node,sails"
    id          = "Remote Access"
    
block markdown
  include:md /articles/shared/remote-access.md
