extends /app/pages/templates/article  

block configParams
  -
    title       = "Manage Sails Application Teams | Nanobox"
    description = "Easily manage Sails development teams and application collaborators"
    keywords    = "nodejs, sails production application, manage sails application, sails collaboration, team management"
    articles    = "nodejs/sails"
    icons       = "nodejs,sails"
    
block markdown
  include:md /articles/shared/team-management.md
