extends /app/pages/templates/article  

block configParams
  -
    title       = "Team Management"
    keywords    = "nodejs,sails,production,manage"
    description = "Managing your team with Nanobox"
    articles    = "nodejs/sails"
    icons       = "nodejs,sails"
    
block markdown
  include:md /articles/shared/team-management.md
