extends /app/pages/templates/article  

block configParams
  -
    title       = "Managing Sails Packages with Yarn & NPM | Nanobox"
    description = "How to manage Sails application dependencies with Yarn & NPM"
    keywords    = "nodejs, sails application, manage sails application, yarn, npm, sails yarn, sails npm, nodejs yarn, nodejs npm"
    articles    = "nodejs/sails"
    icons       = "nodejs,sails"
    id          = "Yarn & NPM"
    
block markdown
  include:md /articles/nodejs/yarn-npm.md
