extends /app/pages/templates/article  

block configParams
  -
    title    = "Angular From Scratch"
    articles = "nodejs/angular"
    icons    = "nodejs,angular"
    
block markdown
  include:md /articles/nodejs/angular/getting-started/from-scratch.md
