extends /app/pages/templates/article  

block configParams
  -
    title    = "Configure Ruby"
    articles = "ruby"
    icons    = "ruby"
    
block markdown
  include:md /articles/ruby/generic/config.md
