extends /app/pages/templates/framework-landing  

block configParams
  -
    title        = "Create and Deploy a Production Ruby App | Nanobox"
    description  = "Learn how to setup a Ruby development environment and configure it to deploy to production."
    keywords     = "ruby, ruby config, ruby development environment, ruby production app, ruby app, deploy ruby, create ruby app, config ruby app"
    formalName   = "Ruby"
    informalName = "ruby"
    icon         = "ruby"
    iconCrumbs   = "ruby"
    noQuickstart = true

block jsParams
  script.
    //- This is javascript
    requiredComponents = [
      {name:'Ruby', icon:'ruby', href:'#'}
    ]
    optionalComponents = [
      {name:'Postgres', icon:'postgres', href:'#'},
      {name:'MongoDB', icon:'mongo', href:'#'},
      {name:'Redis', icon:'redis', href:'#'}
    ]
    articleGroups = "ruby/generic"
