extends /app/pages/templates/article  

block configParams
  -
    title    = "Getting Started"
    articles = "ruby"
    icons    = "ruby"
    
block markdown
  include:md /articles/ruby/generic/getting-started.md
