extends /app/pages/templates/article  

block configParams
  -
    title    = "Production Environment Variables"
    articles = "ruby"
    icons    = "ruby"
    
block markdown
  include:md /articles/shared//production-evars.md
