extends /app/pages/templates/framework-landing  

block configParams
  -
    formalName   = "Ruby on Rails"
    informalName = "rails"
    icon         = "rails"
    iconCrumbs   = "ruby,rails"

block jsParams
  script.
    //- This is javascript
    requiredComponents = [
      {name:'Ruby', icon:'ruby', href:'#'},
      {name:'Postgres', icon:'postgres', href:'#'}
    ]
    optionalComponents = [
      {name:'MongoDB', icon:'mongo', href:'#'},
      {name:'Redis', icon:'redis', href:'#'}
    ]
    articleGroups = [
      {title:"Getting Started", group:"ruby/rails/getting-started"},
      {title:"Next Steps",      group:"ruby/rails/next-steps"},
      {title:"Production",      group:"ruby/rails/production"},
      {title:"Going Further",   group:"ruby/rails/going-further"}
    ]
