extends /app/pages/templates/framework-landing  

block configParams
  -
    formalName   = "Ruby on Rails"
    informalName = "rails"
    icon         = "rails"
    iconCrumbs   = "ruby,rails"
    
block overview
  p Part of what makes nanobox so useful is you don't have to have rails installed on your local machine to utilize it. We're going to create a development (dev) environment in which you will generate your rails app.

block jsParams
  script.
    //- This is javascript
    requiredComponents = [
      {name:'Ruby', icon:'ruby', href:'#'},
      {name:'PostgreSQL', icon:'postgres', href:'#'}
    ]
    optionalComponents = [
      {name:'Mongo DB', icon:'mongo', href:'#'},
      {name:'Redis', icon:'redis', href:'#'}
    ]
    articleGroups = [
      {title:"Getting Started", group:"ruby/rails/getting-started"},
      {title:"Next Steps",      group:"ruby/rails/next-steps"},
      {title:"Production",      group:"ruby/rails/production"},
      {title:"Going Further",   group:"ruby/rails/going-further"}
    ]
