extends /app/pages/templates/framework-landing  

block configParams
  -
    title        = "Rails with Nanobox"
    description  = "Get Rails up and running with Nanobox"
    formalName   = "Ruby on Rails"
    informalName = "rails"
    icon         = "rails"
    iconCrumbs   = "ruby,rails"

block jsParams
  script.
    //- This is javascript
    requiredComponents = [
      {name:'Ruby', icon:'ruby', href:'#'},
      {name:'Postgres', icon:'postgres', href:'#'}
    ]
    optionalComponents = [
      {name:'MongoDB', icon:'mongo', href:'#'},
      {name:'Redis', icon:'redis', href:'#'}
    ]
    articleGroups = "ruby/rails"
