extends /app/pages/templates/framework-landing  

block configParams
  -
    formalName   = "Sinatra"
    informalName = "sinatra"
    icon         = "sinatra"
    iconCrumbs   = "ruby,sinatra"

block jsParams
  script.
    //- This is javascript
    requiredComponents = [
      {name:'Ruby', icon:'ruby', href:'#'},
      {name:'Postgres', icon:'postgres', href:'#'}
    ]
    optionalComponents = [
      {name:'MongoDB', icon:'mongo', href:'#'},
      {name:'Redis', icon:'redis', href:'#'}
    ]
    articleGroups = "ruby/sinatra"
    devMode = true
