extends /app/pages/templates/framework-landing  

block configParams
  -
    title        = "Create and Deploy a Production Sinatra App"
    description  = "Learn how to setup a Sinatra development environment and configure it to deploy to production."
    keywords     = "sinatra, sinatra framework, ruby frameworks, sinatra config, sinatra development environment, sinatra production app, sinatra app, deploy sinatra, create sinatra app, config sinatra app"
    formalName   = "Sinatra"
    informalName = "sinatra"
    icon         = "sinatra"
    iconCrumbs   = "ruby,sinatra"

block jsParams
  script.
    //- This is javascript
    requiredComponents = [
      {name:'Ruby', icon:'ruby', href:'#'},
      {name:'Postgres', icon:'postgres', href:'#'}
    ]
    optionalComponents = [
      {name:'MongoDB', icon:'mongo', href:'#'},
      {name:'Redis', icon:'redis', href:'#'}
    ]
    articleGroups = "ruby/sinatra"
