extends /app/pages/templates/article  

block configParams
  -
    title    = "Stage your App"
    articles = "ruby"
    icons    = "ruby"
    
block markdown
  include:md /articles/shared//stage-your-app.md
