extends /app/pages/templates/framework-landing  

block configParams
  -
    formalName   = "Angular"
    informalName = "angular"
    icon         = "angular"
    iconCrumbs   = "nodejs,angular"

block jsParams
  script.
    //- This is javascript
    requiredComponents = [
      {name:'Nodejs', icon:'nodejs', href:'#'},
      {name:'Postgres', icon:'postgres', href:'#'}
    ]
    optionalComponents = [
      {name:'MongoDB', icon:'mongo', href:'#'},
      {name:'Redis', icon:'redis', href:'#'}
    ]
    articleGroups = [
      {title:"Getting Started", group:"nodejs/angular/getting-started"},
      {title:"Next Steps",      group:"nodejs/angular/next-steps"},
      {title:"Production",      group:"nodejs/angular/production"},
      {title:"Going Further",   group:"nodejs/angular/going-further"}
    ]
    devMode = true
