extends /app/pages/templates/article  

block configParams
  -
    title    = "Configure Node.js"
    articles = "nodejs"
    icons    = "node"
    
block markdown
  include:md /articles/nodejs/config.md
