extends /app/pages/templates/framework-landing  

block configParams
  -
    formalName   = "Ember"
    informalName = "ember"
    icon         = "ember"
    iconCrumbs   = "nodejs,ember"

block jsParams
  script.
    //- This is javascript
    requiredComponents = [
      {name:'Nodejs', icon:'node', href:'#'},
      {name:'Postgres', icon:'postgres', href:'#'}
    ]
    optionalComponents = [
      {name:'MongoDB', icon:'mongo', href:'#'},
      {name:'Redis', icon:'redis', href:'#'}
    ]
    articleGroups = [
      {title:"Getting Started", group:"nodejs/ember/getting-started"},
      {title:"Next Steps",      group:"nodejs/ember/next-steps"},
      {title:"Production",      group:"nodejs/ember/production"},
      {title:"Going Further",   group:"nodejs/ember/going-further"}
    ]
    devMode = true
