extends /app/pages/templates/framework-landing  

block configParams
  -
    title        = "Create and Deploy a Production Express App | Nanobox"
    description  = "Learn how to setup a Express development environment and configure it to deploy to production."
    keywords     = "express, express framework, node js frameworks, express config, express development environment, express production app, express app, deploy express, create express app, config express app"
    formalName   = "Express"
    informalName = "express"
    icon         = "express"
    iconCrumbs   = "node,express"

block jsParams
  script.
    //- This is javascript
    requiredComponents = [
      {name:'Nodejs', icon:'node', href:'#'},
      {name:'PostgreSQL', icon:'postgres', href:'#'}
    ]
    optionalComponents = [
      {name:'Mongo DB', icon:'mongo', href:'#'},
      {name:'Redis', icon:'redis', href:'#'},
      {name:'Storage', icon:'storage', href:'#'}
    ]
    articleGroups = "nodejs/express"
