extends /app/pages/templates/framework-landing  

block configParams
  -
    title        = "Express with Nanobox"
    description  = "Get Express up and running with Nanobox"
    formalName   = "Express"
    informalName = "express"
    icon         = "express"
    iconCrumbs   = "node,express"

block jsParams
  script.
    //- This is javascript
    requiredComponents = [
      {name:'Nodejs', icon:'node', href:'#'},
      {name:'PostgreSQL', icon:'postgres', href:'#'}
    ]
    optionalComponents = [
      {name:'Mongo DB', icon:'mongo', href:'#'},
      {name:'Redis', icon:'redis', href:'#'},
      {name:'Storage', icon:'storage', href:'#'}
    ]
    articleGroups = "nodejs/express"
