extends /app/pages/templates/framework-landing  

block configParams
  -
    formalName   = "Express"
    informalName = "express"
    icon         = "express"
    iconCrumbs   = "nodejs,express"

block jsParams
  script.
    //- This is javascript
    requiredComponents = [
      {name:'Nodejs', icon:'node', href:'#'}
    ]
    optionalComponents = [
      {name:'PostgreSQL', icon:'postgres', href:'#'},
      {name:'Mongo DB', icon:'mongo', href:'#'},
      {name:'Redis', icon:'redis', href:'#'},
      {name:'Storage', icon:'storage', href:'#'}
    ]
    articleGroups = [
      {title:"First Steps",   group:"shared/first-steps,nodejs/express/first-steps"},
      {title:"Next Steps",    group:"nodejs/express/next-steps,shared/next-steps"},
      {title:"Production",    group:"nodejs/express/production,shared/production"},
      {title:"Going Further", group:"nodejs/express/going-further,shared/going-further"}
    ]
