extends /app/pages/templates/framework-landing  

block configParams
  -
    title        = "Create and Deploy a Production Node App | Nanobox"
    description  = "Learn how to setup a Node development environment and configure it to deploy to production."
    keywords     = "nodejs, nodejs config, nodejs development environment, nodejs production app, nodejs app, deploy nodejs, create nodejs app, config nodejs app"
    formalName   = "Nodejs"
    informalName = "nodejs"
    icon         = "node"
    iconCrumbs   = "nodejs"
    noQuickstart = true

block jsParams
  script.
    //- This is javascript
    requiredComponents = [
      {name:'Nodejs', icon:'node', href:'#'}
    ]
    optionalComponents = [
      {name:'Postgres', icon:'postgres', href:'#'},
      {name:'MongoDB', icon:'mongo', href:'#'},
      {name:'Redis', icon:'redis', href:'#'}
    ]
    articleGroups = "nodejs/generic"
