extends /app/pages/templates/article  

block configParams
  -
    title    = "Overview"
    articles = "nodejs"
    icons    = "node"

block custom
  h1 Node.js
  p Lorem Ipsum. Some sort of intro paragraph where we direct them to frameworks
  h4 Frameworks
  .frameworks
    a.hex(href="/nodejs/sails/getting-started")
      .icon
        img.shadow-icon(data-src="hex-sails" scalable='true')
      .txt Sails
    a.hex(href="/nodejs/ember/getting-started")
      .icon
        img.shadow-icon(data-src="hex-ember" scalable='true')
      .txt Ember
