extends /app/pages/templates/article  

block configParams
  -
    title    = "Production Environment Variables"
    articles = "nodejs"
    icons    = "node"
    
block markdown
  include:md /articles/shared/production-evars.md
