extends /app/pages/templates/article  

block configParams
  -
    title    = "Remote Access"
    articles = "nodejs"
    icons    = "node"
    
block markdown
  include:md /articles/shared/remote-access.md
