extends /app/pages/templates/framework-landing  

block configParams
  -
    title        = "Create and Deploy a Production Sails App"
    description  = "Learn how to setup a Sails development environment and configure it to deploy to production."
    keywords     = "sails, sails framework, node js frameworks, sails config, sails development environment, sails production app, sails app, deploy sails, create sails app, config sails app"
    formalName   = "Sails"
    informalName = "sails"
    icon         = "sails"
    iconCrumbs   = "node,sails"
    launchTime   = "12"

block jsParams
  script.
    //- This is javascript
    requiredComponents = [
      {name:'Nodejs', icon:'node', href:'#'},
      {name:'Postgres', icon:'postgres', href:'#'}
    ]
    optionalComponents = [
      {name:'MongoDB', icon:'mongo', href:'#'},
      {name:'Redis', icon:'redis', href:'#'}
    ]
    articleGroups = "nodejs/sails"
