extends /app/pages/templates/framework-landing  

block configParams
  -
    formalName   = "Sails"
    informalName = "sails"
    icon         = "sails"
    iconCrumbs   = "node,sails"
    launchTime   = "12"

block jsParams
  script.
    //- This is javascript
    requiredComponents = [
      {name:'Nodejs', icon:'node', href:'#'},
      {name:'Postgres', icon:'postgres', href:'#'}
    ]
    optionalComponents = [
      {name:'MongoDB', icon:'mongo', href:'#'},
      {name:'Redis', icon:'redis', href:'#'}
    ]
    articleGroups = "nodejs/sails"
    devMode = true
