extends /app/pages/templates/article  

block configParams
  -
    title    = "App Health"
    articles = "nodejs/express"
    icons    = "nodejs,express"
    
block markdown
  include:md /articles/shared/going-further/app-health.md
