extends /app/pages/templates/article  

block configParams
  -
    title    = "Add Additional Components"
    articles = "nodejs/express"
    icons    = "nodejs,express"
    
block markdown
  include:md /articles/shared/scale-your-app.md
