extends /app/pages/templates/article  

block configParams
  -
    title       = "Configure Zend Framework to run in Production | Nanobox"
    description = "Learn how to configure a Zend Framework application to run in production"
    keywords    = "php, zend framework production application, manage zend framework application, configure zend framework, production zend framework, zend framework in production"
    articles    = "php/zendframework"
    icons       = "php,zendframework"
    id          = "Configure Zend Framework"
    
block markdown
  include:md /articles/php/zendframework/configure-zendframework.md
