extends /app/pages/templates/article  

block configParams
  -
    title       = "Debug Zend Framework Application in Production | Nanobox"
    description = "Learn how to debug a production Zend Framework application"
    keywords    = "php, zend framework production application, manage zend framework application, zend framework logging, zend framework monitoring, debug zend framework, debugging zend framework"
    articles    = "php/zendframework"
    icons       = "php,zendframework"
    id          = "Debugging"
    
block markdown
  include:md /articles/shared/debugging.md
