extends /app/pages/templates/article  

block configParams
  -
    title       = "Zend Framework PHP Application Extensions Configuration | Nanobox"
    description = "How to configure PHP Extentions for Zend Framework PHP"
    keywords    = "php, zend framework production application, manage zend framework application, php extentions, zend framework php extensions, php extension configuration"
    articles    = "php/zendframework"
    icons       = "php,zendframework"
    id          = "Extensions Config"
    
block markdown
  include:md /articles/php/extensions-config.md
