extends /app/pages/templates/article  

block configParams
  -
    title       = "Using New Relic in Zend Framework Applications | Nanobox"
    description = "How to install and use New Relic in Zend Framework applications deployed with Nanobox"
    keywords    = "newrelic zend framework, performance monitoring, newrelic php, new relic php, new relic paas, installing new relic, installing newrelic php, production performance monitoring"
    articles    = "php/zendframework"
    icons       = "php,zendframework"
    id          = "New Relic"
    
block markdown
  include:md /articles/php/newrelic.md
