extends /app/pages/templates/article  

block configParams
  -
    title       = "Add Environment Variable to Production Zend Framework Application | Nanobox"
    description = "Learn how to add environment variable to a production Zend Framework application"
    keywords    = "php, zend framework production application, manage zend framework application, zend framework environment variables, environment variables"
    articles    = "php/zendframework"
    icons       = "php,zendframework"
    id          = "Environment Variables"
    
block markdown
  include:md /articles/shared/production-evars.md
