.article-page          {max-width:1015px; margin:0 auto; display:flex; margin-top:100px;
  .main                {width:665px; background:white; padding:30px; position:relative;
    h1,h2,h3,h4,h5,h6  {color:$navy; border-bottom:solid 1px #E1E9ED; margin-bottom:0;padding-bottom:0.2em;
      a                {color:inherit; position:relative;
        &:before       {content:"#"; opacity:0; transition: opacity 300ms; position:absolute; left:-0.85em; font-size:24px; color:#D8DDE0; }
        &:hover:before {opacity:1; }
      }
      & + p            {margin-top:15px;}
    }
    h1, h2             {text-transform:uppercase; letter-spacing:0.05em; line-height:1em;}
    h1                 {font-size:45px; margin-top:20px; padding-bottom:30px;
      a:before         {top:10px;}
    }
    h2                 {letter-spacing:0.03em;margin-top:40px; }
    h4                 {font-size:18px; font-style:italic;
      a:before         {font-size:20px; left:-0.7em;}
    }
    p                  {color:#738792; font-size:17px; font-weight:$medium; line-height: 1.65em; margin:30px 0;
      code             {color:#395465; font-weight:bold; padding:4px 8px 6px; background:$bg;}
    }
    @import "bread-crumb";
    .frameworks        {display:flex; margin-top:20px;
      .hex             {margin-right:35px; }
    }
    .icon-crumbs       {display: flex; position: absolute; right:0; top:-43px;
      .icon            {width:31px; margin-left:7px;}
    }
  }
}
