
html           {box-sizing: border-box; }
*, *:before,
*:after        {box-sizing: inherit; ; }

body           { margin:0; padding:0 0 0 0; font-family: $proxima; background:#DBE1E6; overflow-x: hidden; }
body *         { -webkit-font-smoothing:antialiased;  }
a              { text-decoration: none; color: #26BBFF; }
::-webkit-input-placeholder {
   color: #d4dce2;
}

:-moz-placeholder { /* Firefox 18- */
   color: #d4dce2;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #d4dce2;
}

:-ms-input-placeholder {
   color: #d4dce2;
}
