@font-face{
	font-family: "oregon";
  font-weight: normal;
  font-style: normal;
	src: url('/assets/oregon-webfont.eot');
	src: url('/assets/oregon-webfont.eot?#iefix') format('embedded-opentype'),
	     url('/assets/oregon-webfont.woff2') format('woff2'),
	     url('/assets/oregon-webfont.woff') format('woff'),
	     url('/assets/oregon-webfont.ttf') format('truetype'),
	     url('/assets/oregon-webfont.svg#webfont') format('svg');
}
