.framework        {max-width:$app-width; margin:0 auto; padding-top:30px;
  > .title        {margin:0 auto; display:flex; flex-direction: column; align-items: center;
    .icon         {width:75px; }
    .framework    {font-size:29px; color:$navy; text-transform: uppercase; font-weight:bold; white-space: no-wrap; letter-spacing: 0.06em; border: solid 1px #BAC8CF; border-right: none; border-left:none; padding:2px 0; margin:20px 0 0 0; }
    .sub          {color:#5A7B8F; font-style:italic; font-wdith: $semibold; font-size:17px; margin-top:10px; }
  }

  .article-groups {display:flex; margin-top:60px; justify-content: space-between;
    .group        {width:30.5%; display:flex; flex-direction: column; align-items: flex-start;
      .title      {font-size:20px; color:$navy; text-transform: uppercase; font-weight:bold; white-space: no-wrap; letter-spacing: 0.04em; border-bottom: solid 1px #BAC8CF; width:100%; text-align: left; margin-bottom:10px; padding-bottom:7px; }
      a           {font-style:italic; color:#0079D6; font-size:15px; font-weight: $semibold; padding:2px 0;}
    }
  }
}
