.index                 {
  .languages           {max-width:590px; margin:0 auto; text-align: center; font-weight: $bold; margin-top:30px;
    .title             {display: flex; justify-content: center; align-items:center;letter-spacing:0.06em; margin-bottom:20px;
      .txt             {color:#548099; font-size:18px; text-transform:uppercase; margin-left:10px;}
    }
    .language-icons    {border:solid 1px #C4CCD1; border-right:none; border-left:none;
      .row             {display:flex; justify-content: space-between;margin:40px 0 55px;
        &:last-of-type {margin-bottom:30px;}
      }
    }
    a.more             {display: flex; align-items: center; justify-content: flex-end; padding:12px 0;
      .txt             {color:#1884D6; font-weight:$semibold; font-style:italic; font-size:15px; padding-right:10px;}
      &:hover          {
        .txt           {color:$navy;}
      }
    }
  }
}
