.left-nav                     {flex-grow:1;
  > *                         {margin-right:35px;}
  .title                      {color:$navy; text-transform:uppercase;  font-size:13px;  letter-spacing: 0.06em; font-weight:$bold; }

  .article-nav                {background:#E6EAED;
    .title                    {background:white; padding:13px 0px 10px 15px; }
    .articles                 {
      > .children             {display:flex; flex-direction:column; padding:10px 0;
        .nav-item             {
          a                   {padding:5px 0px 2px 20px;font-size:15px; color:$navy; font-weight:$medium; position: relative;
            &:before          {content:"> "; opacity:0; position:absolute; transform:scale(0.5,1); font-size:17px; top:4px; left:7px; }
            &:hover           {color:#092F46;
              &:before        {opacity:0.5;}
            }
          }
          &.active            {
            a                 {font-weight:$bold;
              &:before        {opacity:1;}
            }
          }
          &.parent            {position: relative;
            > .child-toggle   {cursor:pointer;
              &:after         {background:white; color:#0276E3;  content:"+"; margin-left:auto; position:absolute; right:10px; top:3px; width:17px; height:17px;text-align:center; font-weight: $bold; border-radius: 50%;line-height: 18px;}
            }
            >.children         {padding-left:10px; display:none;}
            &.open            {
              >.children       {display:block;}
              > .child-toggle {
                &:after       {content:"-"; line-height: 16px;}
              }
            }
          }
        }
      }
    }
  }

  .page-nav                   {background: white; margin-top:35px; padding:20px;
    .links                    {display:flex; flex-direction: column;
      a                       {font-weight: $medium; font-style: italic; font-size:14px; padding: 2px 0;
        &.h1                  {border-bottom:solid 1px #E1E9ED; padding-bottom:10px; margin-bottom:10px;color:$navy; text-transform:uppercase; font-style:normal; font-size:13px;  letter-spacing: 0.06em; font-weight:$bold;}
        &.h3, &.h4,
        &.h5, &.h6            {padding-left:10px;}
        &:hover               {color:$navy}
      }
    }
  }
}
