a.hex           {cursor:pointer; color:#809CAD; text-transform:uppercase; font-size:15px; letter-spacing:0.06em; position:relative; transition:all 200ms; font-weight:bold; text-align:center; display: flex; flex-direction: column; align-items: center; width: 47px;
  .icon         {width:70px;position:relative;
    &:after     {position: absolute; top:-6px; left:-73px; z-index: -1; content:""; display:block; background:url(/assets/sprite.png); width:216px; height:188px; background-position:-49px -61px; opacity:0; transition:opacity 300ms; }
  }
  .txt          {margin-top:7px}
  &:hover       {color:#1B415D;
    .icon:after {opacity:1;}
  }
}
