.top-nav-wrapper      {height: 65px;
  .top-nav            {max-width: 1015px;
    .logo             {
      .icon           {width:48px;
        &:hover:after {position: absolute; bottom:-15px; content:"Home"; letter-spacing: 0.06em; font-size:13px; text-transform: uppercase; color:#0D69B4; left:-6px; }
      }
      .company        {color:#285875}
    }
    .menu             {
      .nav            {
        a             {color:#7b94a2}
      }
    }
  }
}
