$code      : "Consolas",monaco,"Courier New",Courier,"Lucida Sans Typewriter","Lucida Typewriter",monospace;
$proxima   : "proxima-nova";
$oregon    : "oregon";

$medium    : 500;
$semibold  : 600;
$bold      : 700;

$navy      : #285875;
$app-width : 1015px;
