$code     : "Courier New",Courier,"Lucida Sans Typewriter","Lucida Typewriter","Consolas",monaco,monospace;
$proxima  : "proxima-nova";
$oregon   : "oregon";

$medium   : 500;
$semibold : 600;
$bold     : 700;

$navy     : #285875;
