extends /app/pages/templates/article  

block configParams
  -
    title       = "Add a Database to a Yii Application | Nanobox"
    description = "How to add and connect to a database with a Yii applciation"
    keywords    = "php, yii production application, manage yii application, yii database, yii and mongodb, yii and postgres, mongodb, postgres"
    articles    = "php/yii"
    icons       = "php,yii"
    id          = "Add a Database"
    
block markdown
  include:md /articles/php/yii/add-a-database.md
