extends /app/pages/templates/article  

block configParams
  -
    title       = "Configure Yii to run in Production | Nanobox"
    description = "Learn how to configure a Yii application to run in production"
    keywords    = "php, yii production application, manage yii application, configure yii, production yii, yii in production"
    articles    = "php/yii"
    icons       = "php,yii"
    id          = "Configure Yii"
    
block markdown
  include:md /articles/php/yii/configure-yii.md
