extends /app/pages/templates/article  

block configParams
  -
    title       = "Add SSL/TLS Encryption to a Yii Application | Nanobox"
    description = "Learn how to easily add SSL/TLS encryption to a Yii production application"
    keywords    = "php, yii production application, manage yii application, ssl, tls, encryption"
    articles    = "php/yii"
    icons       = "php,yii"
    id          = "SSL/TLS Encryption"
    
block markdown
  include:md /articles/shared/encryption.md
