extends /app/pages/templates/article  

block configParams
  -
    title       = "Yii PHP Application Extensions | Nanobox"
    description = "Find out what PHP Extentions are available for Yii PHP"
    keywords    = "php, yii production application, manage yii application, php extentions, yii php extensions"
    articles    = "php/yii"
    icons       = "php,yii"
    id          = "PHP Extensions"
    
block markdown
  include:md /articles/php/extensions.md
