extends /app/pages/templates/article  

block configParams
  -
    title       = "Adding a Domain to a Yii Application | Nanobox"
    description = "How to point an existing domain name to a Yii application"
    keywords    = "php, yii production application, manage yii application, point dns, add dns, domain, domin pointing, point domain"
    articles    = "php/yii"
    icons       = "php,yii"
    id          = "Point your Domain"
    
block markdown
  include:md /articles/shared/point-your-domain.md
