extends /app/pages/templates/article  

block configParams
  -
    title       = "Stage a Yii application | Nanobox"
    description = "Easily stage a Yii application before deplying to production"
    keywords    = "php, yii production application, manage yii application, test yii application, stage yii application"
    articles    = "php/yii"
    icons       = "php,yii"
    id          = "Preview your App"
    
block markdown
  include:md /articles/php/yii/preview-your-app.md
