extends /app/pages/templates/article  

block configParams
  -
    title       = "Remote Access to Yii Applications | Nanobox"
    description = "Securely manage running Yii application with SSH remote access"
    keywords    = "php, yii production application, manage yii application, ssh access, remote access, server management, secure access"
    articles    = "php/yii"
    icons       = "php,yii"
    id          = "Remote Access"
    
block markdown
  include:md /articles/shared/remote-access.md
