extends /app/pages/templates/article  

block configParams
  -
    title    = "Memcache Settings"
    articles = "php"
    icons    = "php"
    
block markdown
  include:md /articles/php/generic/config/advanced/memcache-settings.md
