extends /app/pages/templates/article  

block configParams
  -
    title    = "PHP-FPM Settings"
    articles = "php"
    icons    = "php"
    
block markdown
  include:md /articles/php/generic/config/advanced/php-fpm-settings.md
