extends /app/pages/templates/article  

block configParams
  -
    title       = "Using Caching Plugins with WordPress | Nanobox"
    description = "Using Caching Plugins in WordPress with Nanobox"
    articles    = "php/wordpress"
    icons       = "php,wordpress"
    id          = "Using Caching Plugins"
    
block markdown
  include:md /articles/php/wordpress/caching-plugins.md
