extends /app/pages/templates/article  

block configParams
  -
    title       = "Deploy WordPress"
    description = "Deploying WordPress to live servers with Nanobox"
    articles    = "php/wordpress"
    icons       = "php,wordpress"
    
block markdown
  include:md /articles/php/wordpress/deploy-wordpress.md
