extends /app/pages/templates/article  

block configParams
  -
    title       = "Deploy WordPress to Live Servers | Nanobox"
    description = "Nanobox makes deploying WordPress to live servers easy with just a few simple steps."
    articles    = "php/wordpress"
    icons       = "php,wordpress"
    id          = "Deploy WordPress"
    
block markdown
  include:md /articles/php/wordpress/deploy-wordpress.md
