extends /app/pages/templates/article  

block configParams
  -
    title       = "Existing WordPress App"
    description = "Launch your existing WordPress app with Nanobox" 
    articles    = "php/wordpress"
    icons       = "php,wordpress"
    
block markdown
  include:md /articles/php/wordpress/existing-app.md
