extends /app/pages/templates/article  

block configParams
  -
    title       = "Getting an Existing WordPress App Up and Running | Nanobox"
    description = "Configure WordPress for Nanobox and launch it in a development environment." 
    articles    = "php/wordpress"
    icons       = "php,wordpress"
    
block markdown
  include:md /articles/php/wordpress/existing-app.md
