extends /app/pages/templates/article  

block configParams
  -
    title    = "Secure WordPress and Force HTTPS | Nanobox"
    description = "Simple steps for forcing HTTPS in WordPress with Nanobox."
    articles = "php/wordpress"
    icons    = "php,wordpress"
    
block markdown
  include:md /articles/php/wordpress/force-https.md
