extends /app/pages/templates/article  

block configParams
  -
    title    = "Force HTTPS in WordPress"
    articles = "php/wordpress"
    icons    = "php,wordpress"
    
block markdown
  include:md /articles/php/wordpress//force-https.md
