extends /app/pages/templates/article  

block configParams
  -
    title       = "Get a New WordPress App Up and Running | Nanobox"
    description = "Configure and launch a new WordPress app with Nanobox"
    articles    = "php/wordpress"
    icons       = "php,wordpress"
    
block markdown
  include:md /articles/php/wordpress/from-scratch.md
