extends /app/pages/templates/article  

block configParams
  -
    title       = "Importing WordPress Data into MySQL | Nanobox"
    description = "Steps for importing data into WordPress running with Nanobox"
    articles    = "php/wordpress"
    icons       = "php,wordpress"
    id          = "Importing Data"
    
block markdown
  include:md /articles/php/wordpress/importing-data.md
