extends /app/pages/templates/article  

block configParams
  -
    title    = "Importing Data"
    articles = "php/wordpress"
    icons    = "php,wordpress"
    
block markdown
  include:md /articles/php/wordpress/data-storage/importing-data.md
