extends /app/pages/templates/article  

block configParams
  -
    title       = "Installing & Updating Themes"
    description = "Installing and updated WordPress themes with Nanobox"
    articles    = "php/wordpress"
    icons       = "php,wordpress"
    
block markdown
  include:md /articles/php/wordpress/installing-updating-themes.md
