extends /app/pages/templates/article  

block configParams
  -
    title       = "Installing & Updating WordPress Plugins | Nanobox"
    description = "How to installing and update WordPress plugins with Nanobox"
    articles    = "php/wordpress"
    icons       = "php,wordpress"
    
block markdown
  include:md /articles/php/wordpress/installing-updating-plugins.md
