extends /app/pages/templates/article  

block configParams
  -
    title    = "Point your Domain"
    description = "Point your domain to your WordPress app launched with Nanobox"
    articles = "php/wordpress"
    icons    = "php,wordpress"
    
block markdown
  include:md /articles/shared/point-your-domain.md
