extends /app/pages/templates/article  

block configParams
  -
    title    = "Reduce the Size of Your Deploy"
    description = "Use the .nanoignore file to reduce the size of your deploy when deploying WordPress with Nanobox"
    articles = "php/wordpress"
    icons    = "php,wordpress"
    
block markdown
  include:md /articles/php/wordpress/reduce-deploy-size.md
