extends /app/pages/templates/article  

block configParams
  -
    title       = "Monitoring Production Slim Applications | Nanobox"
    description = "Monitor a production Slim application with live and historical stats"
    keywords    = "php, slim production application, manage slim application, stats, php stats, slim stats, monitor slim, slim app health"
    articles    = "php/slim"
    icons       = "php,slim"
    id          = "App Health"
    
block markdown
  include:md /articles/shared/app-health.md
