extends /app/pages/templates/article  

block configParams
  -
    title       = "Managing PHP Extensions with Composer | Nanobox"
    description = "How to manage Slim application dependencies with Composer"
    keywords    = "php, slim application, manage slim application, composer, slim composer, php composer"
    articles    = "php/slim"
    icons       = "php,slim"
    
block markdown
  include:md /articles/php/composer.md
