extends /app/pages/templates/article  

block configParams
  -
    title       = "Managing PHP Gems with Bundler | Nanobox"
    description = "How to manage Slim application dependencies with Bundler"
    keywords    = "php, slim application, manage slim application, bundler, slim bundler, php bundler, gem bundler"
    articles    = "php/slim"
    icons       = "php,slim"
    
block markdown
  include:md /articles/php/bundler.md
