extends /app/pages/templates/article  

block configParams
  -
    title       = "Configure Slim for Production"
    keywords    = "php,slim,configure,production"
    description = "Configure your Slim app for production with Nanobox"
    articles    = "php/slim"
    icons       = "php,slim"
    
block markdown
  include:md /articles/php/slim/configure-slim.md
