extends /app/pages/templates/article  

block configParams
  -
    title       = "Configure Slim to run in Production | Nanobox"
    description = "Learn how to configure a Slim application to run in production"
    keywords    = "php, slim production application, manage slim application, configure slim, production slim, slim in production"
    articles    = "php/slim"
    icons       = "php,slim"
    id          = "Configure Slim"
    
block markdown
  include:md /articles/php/slim/configure-slim.md
