extends /app/pages/templates/article  

block configParams
  -
    title       = "Debugging Slim"
    keywords    = "php,slim,debug"
    description = "Debug your Slim app with Nanobox"
    articles    = "php/slim"
    icons       = "php,slim"
    
block markdown
  include:md /articles/shared/debugging.md
