extends /app/pages/templates/article  

block configParams
  -
    title       = "Debug Slim Application in Production | Nanobox"
    description = "Learn how to debug a production Slim application"
    keywords    = "php, slim production application, manage slim application, slim logging, slim monitoring, debug slim, debugging slim"
    articles    = "php/slim"
    icons       = "php,slim"
    
block markdown
  include:md /articles/shared/debugging.md
