extends /app/pages/templates/article  

block configParams
  -
    title       = "Run an Existing Slim Applicatin in Docker | Nanobox"
    description = "Learn how to take an existing Slim application and run it using Docker"
    keywords    = "php, slim production application, manage slim application, docker, slim on docker, containers"
    articles    = "php/slim"
    icons       = "php,slim"
    
block markdown
  include:md /articles/php/slim/existing-app.md
