extends /app/pages/templates/article  

block configParams
  -
    title       = "Slim PHP Application Extensions Configuration | Nanobox"
    description = "How to configure PHP Extentions for Slim PHP"
    keywords    = "php, slim production application, manage slim application, php extentions, slim php extensions, php extension configuration"
    articles    = "php/slim"
    icons       = "php,slim"
    id          = "Extensions Config"
    
block markdown
  include:md /articles/php/extensions-config.md
