extends /app/pages/templates/article  

block configParams
  -
    title       = "Create a Slim Application from Scratch | Nanobox"
    description = "Learn how to create a new Slim application and local development environment"
    keywords    = "php, slim application, slim application, php dev environment, dev environment, slim dev environemnt, slim dev, docker, containers"
    articles    = "php/slim"
    icons       = "php,slim"
    
block markdown
  include:md /articles/php/slim/from-scratch.md
