extends /app/pages/templates/article  

block configParams
  -
    title       = "Launch your App"
    keywords    = "php,slim,launch"
    description = "launch slim app"
    articles    = "php/slim"
    icons       = "php,slim"
    
block markdown
  :md
    # Launch Your App
  include:md /articles/shared/partials/launch-your-app.md
  include:md /articles/php/slim/launch-your-app.md
  include:md /articles/shared/partials/deploy-your-app.md
