extends /app/pages/templates/article  

block configParams
  -
    title       = "Add Environment Variable to Slim Application in Development| Nanobox"
    description = "Learn how to add environment variable to a Slim applicationin development"
    keywords    = "php, slim application, manage slim application, slim environment variables, environment variables"
    articles    = "php/slim"
    icons       = "php,slim"
    id          = "Local Environment Variables"
    
block markdown
  include:md /articles/shared/local-evars.md
