extends /app/pages/templates/article  

block configParams
  -
    title       = "Using New Relic in Slim Applications | Nanobox"
    description = "How to install and use New Relic in Slim applications deployed with Nanobox"
    keywords    = "newrelic slim, performance monitoring, newrelic php, new relic php, new relic paas, installing new relic, installing newrelic php, production performance monitoring"
    articles    = "php/slim"
    icons       = "php,slim"
    id          = "New Relic"
    
block markdown
  include:md /articles/php/newrelic.md
