extends /app/pages/templates/article  

block configParams
  -
    title       = "Slim PHP Application Extensions | Nanobox"
    description = "Find out what PHP Extentions are available for Slim PHP"
    keywords    = "php, slim production application, manage slim application, php extentions, slim php extensions"
    articles    = "php/slim"
    icons       = "php,slim"
    
block markdown
  include:md /articles/php/extensions.md
