extends /app/pages/templates/article  

block configParams
  -
    title       = "Stage a Slim application | Nanobox"
    description = "Easily stage a Slim application before deplying to production"
    keywords    = "php, slim production application, manage slim application, test slim application, stage slim application"
    articles    = "php/slim"
    icons       = "php,slim"
    
block markdown
  include:md /articles/php/slim/preview-your-app.md
