extends /app/pages/templates/article  

block configParams
  -
    title       = "Add Environment Variable to Production Slim Application | Nanobox"
    description = "Learn how to add environment variable to a production Slim application"
    keywords    = "php, slim production application, manage slim application, slim environment variables, environment variables"
    articles    = "php/slim"
    icons       = "php,slim"
    
block markdown
  include:md /articles/shared/production-evars.md
