extends /app/pages/templates/article  

block configParams
  -
    title       = "Remote Access to Slim Applications | Nanobox"
    description = "Securely manage running Slim application with SSH remote access"
    keywords    = "php, slim production application, manage slim application, ssh access, remote access, server management, secure access"
    articles    = "php/slim"
    icons       = "php,slim"
    id          = "Remote Access"
    
block markdown
  include:md /articles/shared/remote-access.md
