extends /app/pages/templates/article  

block configParams
  -
    title       = "Remote Access"
    keywords    = "php,slim,remote-access"
    description = "slim remote access"
    articles    = "php/slim"
    icons       = "php,slim"
    
block markdown
  include:md /articles/shared/remote-access.md
