extends /app/pages/templates/article  

block configParams
  -
    title       = "Scale Your App"
    keywords    = "php,slim,production,scale"
    description = "Scaling your Slim app with Nanobox"
    articles    = "php/slim"
    icons       = "php,slim"
    
block markdown
  include:md /articles/shared/scale-your-app.md
