extends /app/pages/templates/article  

block configParams
  -
    title       = "Scale Slim Applications | Nanobox"
    description = "Easily scale production Slim applications with zero downtime"
    keywords    = "php, slim production application, manage slim application, scale slim application, zero downtime"
    articles    = "php/slim"
    icons       = "php,slim"
    id          = "Scale your App"
    
block markdown
  include:md /articles/shared/scale-your-app.md
