extends /app/pages/templates/article  

block configParams
  -
    title       = "Configure Apache and Nginx for Slim PHP | Nanobox"
    description = "How to configure Apache and Nginx to run Slim PHP in production"
    keywords    = "php, slim production application, manage slim application, nginx, apache, nginx php, apache php, slim php nginx, slim php apache"
    articles    = "php/slim"
    icons       = "php,slim"
    id          = "Webserver Config"
    
block markdown
  include:md /articles/php/webserver-config.md
