extends /app/pages/templates/article  

block configParams
  -
    title       = "App Health"
    keywords    = "python,flask,app-health"
    description = "monitor flask app"
    articles    = "python/flask"
    icons       = "python,flask"
    
block markdown
  include:md /articles/shared/app-health.md
