extends /app/pages/templates/article  

block configParams
  -
    title       = "Monitoring Production Flask Applications | Nanobox"
    description = "Monitor a production Flask application with live and historical stats"
    keywords    = "python, flask production application, manage flask application, stats, python stats, flask stats, monitor flask, flask app health"
    articles    = "python/flask"
    icons       = "python,flask"
    id          = "App Health"
    
block markdown
  include:md /articles/shared/app-health.md
