extends /app/pages/templates/article  

block configParams
  -
    title       = "Configure Flask to run in Production | Nanobox"
    description = "Learn how to configure a Flask application to run in production"
    keywords    = "python, flask production application, manage flask application, configure flask, production flask, flask in production"
    articles    = "python/flask"
    icons       = "python,flask"
    
block markdown
  include:md /articles/python/flask/configure-flask.md
