extends /app/pages/templates/article  

block configParams
  -
    title    = "Connect a Database"
    articles = "python/flask"
    icons    = "python,flask"
    
block markdown
  include:md /articles/python/flask/connect-a-database.md
