extends /app/pages/templates/article  

block configParams
  -
    title       = "Debugging Flask"
    keywords    = "python,flask,debug"
    description = "Debug your Flask app with Nanobox"
    articles    = "python/flask"
    icons       = "python,flask"
    
block markdown
  include:md /articles/shared/debugging.md
