extends /app/pages/templates/article  

block configParams
  -
    title       = "Debug Flask Application in Production | Nanobox"
    description = "Learn how to debug a production Flask application"
    keywords    = "python, flask production application, manage flask application, flask logging, flask monitoring, debug flask, debugging flask"
    articles    = "python/flask"
    icons       = "python,flask"
    id          = "Debugging"
    
block markdown
  include:md /articles/shared/debugging.md
