extends /app/pages/templates/article  

block configParams
  -
    title       = "Dry Run"
    keywords    = "python,flask,stage,test"
    description = "test flask app"
    articles    = "python/flask"
    icons       = "python,flask"
    
block markdown
  include:md /articles/shared/dry-run.md
