extends /app/pages/templates/article  

block configParams
  -
    title       = "SSL/TLS Encryption"
    keywords    = "python,flask,ssl,tls,encryption"
    description = "flask ssl/tls Encryption"
    articles    = "python/flask"
    icons       = "python,flask"
    
block markdown
  include:md /articles/shared/encryption.md
