extends /app/pages/templates/article  

block configParams
  -
    title       = "Add SSL/TLS Encryption to a Flask Application | Nanobox"
    description = "Learn how to easily add SSL/TLS encryption to a Flask production application"
    keywords    = "python, flask production application, manage flask application, ssl, tls, encryption"
    articles    = "python/flask"
    icons       = "python,flask"
    
block markdown
  include:md /articles/shared/encryption.md
