extends /app/pages/templates/article  

block configParams
  -
    title       = "Run an Existing Flask Applicatin in Docker | Nanobox"
    description = "Learn how to take an existing Flask application and run it using Docker"
    keywords    = "python, flask production application, manage flask application, docker, flask on docker, containers"
    articles    = "python/flask"
    icons       = "python,flask"
    
block markdown
  include:md /articles/python/flask/existing-app.md
