extends /app/pages/templates/article  

block configParams
  -
    title       = "Existing Flask App"
    keywords    = "python,flask"
    description = "launch flask app"
    articles    = "python/flask"
    icons       = "python,flask"
    
block markdown
  include:md /articles/python/flask/existing-app.md
