extends /app/pages/templates/article  

block configParams
  -
    title    = "Flask From Scratch"
    articles = "python/flask"
    icons    = "python,flask"
    
block markdown
  include:md /articles/python/flask/from-scratch.md
