extends /app/pages/templates/article  

block configParams
  -
    title       = "Install Nanobox"
    keywords    = "python,flask,nanobox"
    description = "nanobox for flask"
    articles    = "python/flask"
    icons       = "python,flask"
    
block markdown
  include:md /articles/shared/install-nanobox.md
