extends /app/pages/templates/article  

block configParams
  -
    title       = "Local Environment Variables"
    keywords    = "python,flask,environment-variables"
    description = "Flask environment variables with Nanobox"
    articles    = "python/flask"
    icons       = "python,flask"
    
block markdown
  include:md /articles/shared/local-evars.md
