extends /app/pages/templates/article  

block configParams
  -
    title       = "Managing a Production Flask Application | Nanobox"
    description = "Manage a Flask application's logs, traffic, health, and storage"
    keywords    = "python, flask production application, manage flask application, monitor flask, flask logging, load balancer, flask monitoring, production logs"
    articles    = "python/flask"
    icons       = "python,flask"
    
block markdown
  include:md /articles/shared/manage-platform.md
