extends /app/pages/templates/article  

block configParams
  -
    title       = "Managing Python Dependencies with Pip | Nanobox"
    description = "How to manage Python dependencies with Pip"
    keywords    = "python, flask application, manage flask application, pip, python pip, flask pip"
    articles    = "python/flask"
    icons       = "python,flask"
    id          = "Pip"
    
block markdown
  include:md /articles/python/pip.md
