extends /app/pages/templates/article  

block configParams
  -
    title       = "Pip"
    keywords    = "python,flask,pip"
    description = "pip with flask"
    articles    = "python/flask"
    icons       = "python,flask"
    
block markdown
  include:md /articles/python/pip.md
