extends /app/pages/templates/article  

block configParams
  -
    title       = "Point your Domain"
    keywords    = "python,flask,dns,domain"
    description = "manage flask dns"
    articles    = "python/flask"
    icons       = "python,flask"
    
block markdown
  include:md /articles/shared/point-your-domain.md
