extends /app/pages/templates/article  

block configParams
  -
    title       = "Adding a Domain to a Flask Application | Nanobox"
    description = "How to point an existing domain name to a Flask application"
    keywords    = "python, flask production application, manage flask application point dns, add dns, domain, domin pointing, point domain"
    articles    = "python/flask"
    icons       = "python,flask"
    id          = "Point your Domain"
    
block markdown
  include:md /articles/shared/point-your-domain.md
