extends /app/pages/templates/article  

block configParams
  -
    title       = "Stage a Flask application | Nanobox"
    description = "Easily stage a Flask application before deplying to production"
    keywords    = "python, flask production application, manage flask application, test flask application, stage flask application"
    articles    = "python/flask"
    icons       = "python,flask"
    id          = "Preview your App"
    
block markdown
  include:md /articles/python/flask/preview-your-app.md
