extends /app/pages/templates/article  

block configParams
  -
    title       = "Add Environment Variable to Production Flask Application | Nanobox"
    description = "Learn how to add environment variable to a production Flask application"
    keywords    = "python, flask production application, manage flask application, flask environment variables, environment variables"
    articles    = "python/flask"
    icons       = "python,flask"
    
block markdown
  include:md /articles/shared/production-evars.md
