extends /app/pages/templates/article  

block configParams
  -
    title       = "Production Environment Variables"
    keywords    = "python,flask,environment-variables"
    description = "flask environment variables"
    articles    = "python/flask"
    icons       = "python,flask"
    
block markdown
  include:md /articles/shared/production-evars.md
