extends /app/pages/templates/article  

block configParams
  -
    title       = "Production Environment Variables"
    keywords    = "python,flask,environment-variables"
    description = "Flask environment variables in production with Nanobox"
    articles    = "python/flask"
    icons       = "python,flask"
    
block markdown
  include:md /articles/shared/production-evars.md
