extends /app/pages/templates/article  

block configParams
  -
    title       = "Scale Your App"
    keywords    = "python,flask,production,scale"
    description = "How to scale your Flask app with Nanobox"
    articles    = "python/flask"
    icons       = "python,flask"
    
block markdown
  include:md /articles/shared/scale-your-app.md
