extends /app/pages/templates/article  

block configParams
  -
    title       = "Scale Flask Applications | Nanobox"
    description = "Easily scale production Flask applications with zero downtime"
    keywords    = "python, flask production application, manage flask application, scale flask application, zero downtime"
    articles    = "python/flask"
    icons       = "python,flask"
    
block markdown
  include:md /articles/shared/scale-your-app.md
