extends /app/pages/templates/article  

block configParams
  -
    title       = "Team Management"
    keywords    = "python,flask,production,manage"
    description = "Managing your team with Nanobox"
    articles    = "python/flask"
    icons       = "python,flask"
    
block markdown
  include:md /articles/shared/team-management.md
