extends /app/pages/templates/article  

block configParams
  -
    title       = "Manage Flask Application Teams | Nanobox"
    description = "Easily manage Flask development teams and application collaborators"
    keywords    = "python, flask production application, manage flask application, flask collaboration, team management"
    articles    = "python/flask"
    icons       = "python,flask"
    id          = "Team Management"
    
block markdown
  include:md /articles/shared/team-management.md
