extends /app/pages/templates/article  

block configParams
  -
    title       = "Managing Golang Versions | Nanobox"
    description = "How to update or change golang versions in development and production environments"
    keywords    = "golang, gin production application, manage gin application, configure gin, production gin, gin in production, golang version, manage golang versions"
    articles    = "golang/gin"
    icons       = "golang,gin"
    id          = "Configure Golang"
    
block markdown
  include:md /articles/golang/config.md
