extends /app/pages/templates/article  

block configParams
  -
    title       = "SSL/TLS Encryption"
    keywords    = "golang,gin,ssl,tls,encryption"
    description = "Gin SSL/TLS Encryption with Nanobox"
    articles    = "golang/gin"
    icons       = "golang,gin"
    
block markdown
  include:md /articles/shared/encryption.md
