extends /app/pages/templates/article  

block configParams
  -
    title       = "Run an Existing Gin Applicatin in Docker | Nanobox"
    description = "Learn how to take an existing Gin application and run it using Docker"
    keywords    = "golang, gin production application, manage gin application, docker, gin on docker, containers"
    articles    = "golang/gin"
    icons       = "golang,gin"
    id          = "Existing Gin App"
    
block markdown
  include:md /articles/golang/gin/existing-app.md
