extends /app/pages/templates/article  

block configParams
  -
    title       = "Launch your App"
    keywords    = "golang,gin,launch"
    description = "Launch your Gin app with Nanobox"
    articles    = "golang/gin"
    icons       = "golang,gin"
    
block markdown
  :md
    # Launch Your App
  include:md /articles/shared/partials/launch-your-app.md
  include:md /articles/golang/gin/launch-your-app.md
  include:md /articles/shared/partials/deploy-your-app.md
