extends /app/pages/templates/article  

block configParams
  -
    title       = "Point your Domain"
    keywords    = "golang,gin,dns,domain"
    description = "Point your domain to your Gin app launched with Nanobox"
    articles    = "golang/gin"
    icons       = "golang,gin"
    
block markdown
  include:md /articles/shared/point-your-domain.md
