extends /app/pages/templates/article  

block configParams
  -
    title       = "Remote Access to Gin Applications | Nanobox"
    description = "Securely manage running Gin application with SSH remote access"
    keywords    = "golang, gin production application, manage gin application, ssh access, remote access, server management, secure access"
    articles    = "golang/gin"
    icons       = "golang,gin"
    id          = "Remote Access"
    
block markdown
  include:md /articles/shared/remote-access.md
