extends /app/pages/templates/article  

block configParams
  -
    title       = "Scale Your App"
    keywords    = "golang,gin,production,scale"
    description = "Scaling your Gin app with Nanobox"
    articles    = "golang/gin"
    icons       = "golang,gin"
    
block markdown
  include:md /articles/shared/scale-your-app.md
