extends /app/pages/templates/article  

block configParams
  -
    title       = "Team Management"
    keywords    = "golang,gin,production,manage"
    description = "Managing your team with Nanobox"
    articles    = "golang/gin"
    icons       = "golang,gin"
    
block markdown
  include:md /articles/shared/team-management.md
