extends /app/pages/templates/article  

block configParams
  -
    title    = "Local Environment Variables"
    articles = "nodejs/angular"
    icons    = "nodejs,angular"
    
block markdown
  include:md /articles/shared/next-steps/local-evars.md
