extends /app/pages/templates/article  

block configParams
  -
    title       = "Create a Javascript App"
    keywords    = "javascript,js,new"
    description = "Create a new Javascript app with Nanobox"
    articles    = "javascript/generic"
    icons       = "javascript"
    id          = "Create a Javascript App"
    
block markdown
  include:md /articles/javascript/generic/create.md
