extends /app/pages/templates/article  

block configParams
  -
    title       = "Yarn, NPM, & Bower"
    keywords    = "javascript,yarn,npm,bower"
    description = "yarn, npm, and bower with Nanobox"
    articles    = "javascript/generic"
    icons       = "javascript"
    id          = "Yarn, NPM, & Bower"
    
block markdown
  :md
    # Yarn, NPM, & Bower
  include:md /articles/shared/partials/package-managers.md
