extends /app/pages/templates/article  

block configParams
  -
    title       = "Task Runners"
    keywords    = "javascript,gulp,grunt,brunch"
    description = "Using task runners with Nanobox"
    articles    = "javascript/generic"
    icons       = "javascript"
    
block markdown
  :md
    # Yarn, NPM, & Bower
  include:md /articles/shared/partials/task-runners.md
