extends /app/pages/templates/article  

block configParams
  -
    title    = "Scale Your App"
    articles = "ruby"
    icons    = "ruby"
    
block markdown
  include:md /articles/shared/going-further/scale-your-app.md
