extends /app/pages/templates/article  

block configParams
  -
    title       = "Add a Database to a CodeIgniter Application | Nanobox"
    description = "How to add and connect to a database with a CodeIgniter applciation"
    keywords    = "php, codeigniter production application, manage codeigniter application, codeigniter database, codeigniter and mongodb, codeigniter and postgres, mongodb, postgres"
    articles    = "php/codeigniter"
    icons       = "php,codeigniter"
    
block markdown
  include:md /articles/php/codeigniter/add-a-database.md
