extends /app/pages/templates/article  

block configParams
  -
    title       = "Monitoring Production CodeIgniter Applications | Nanobox"
    description = "Monitor a production CodeIgniter application with live and historical stats"
    keywords    = "php, codeigniter production application, manage codeigniter application, stats, php stats, codeigniter stats, monitor codeigniter, codeigniter app health"
    articles    = "php/codeigniter"
    icons       = "php,codeigniter"
    id          = "App Health"
    
block markdown
  include:md /articles/shared/app-health.md
