extends /app/pages/templates/article  

block configParams
  -
    title       = "Managing PHP Extensions with Composer | Nanobox"
    description = "How to manage CodeIgniter application dependencies with Composer"
    keywords    = "php, codeigniter application, manage codeigniter application, composer, codeigniter composer, php composer"
    articles    = "php/codeigniter"
    icons       = "php,codeigniter"
    id          = "Composer"
    
block markdown
  include:md /articles/php/composer.md
