extends /app/pages/templates/article  

block configParams
  -
    title       = "Configure CodeIgniter to run in Production | Nanobox"
    description = "Learn how to configure a CodeIgniter application to run in production"
    keywords    = "php, codeigniter production application, manage codeigniter application, configure codeigniter, production codeigniter, codeigniter in production"
    articles    = "php/codeigniter"
    icons       = "php,codeigniter"
    
block markdown
  include:md /articles/php/codeigniter/configure-codeigniter.md
