extends /app/pages/templates/article  

block configParams
  -
    title       = "Managing PHP Versions | Nanobox"
    description = "How to update or change php versions in development and production environments"
    keywords    = "php, codeigniter production application, manage codeigniter application, configure codeigniter, production codeigniter, codeigniter in production, php version, manage php versions"
    articles    = "php/codeigniter"
    icons       = "php,codeigniter"
    
block markdown
  include:md /articles/php/config.md
