extends /app/pages/templates/article  

block configParams
  -
    title       = "Debug CodeIgniter Application in Production | Nanobox"
    description = "Learn how to debug a production CodeIgniter application"
    keywords    = "php, codeigniter production application, manage codeigniter application, codeigniter logging, codeigniter monitoring, debug codeigniter, debugging codeigniter"
    articles    = "php/codeigniter"
    icons       = "php,codeigniter"
    id          = "Debugging"
    
block markdown
  include:md /articles/shared/debugging.md
