extends /app/pages/templates/article  

block configParams
  -
    title       = "Debugging Codeigniter"
    keywords    = "php,codeigniter,debug"
    description = "debug codeigniter app"
    articles    = "php/codeigniter"
    icons       = "php,codeigniter"
    
block markdown
  include:md /articles/shared/debugging.md
