extends /app/pages/templates/article  

block configParams
  -
    title       = "SSL/TLS Encryption"
    keywords    = "php,codeigniter,ssl,tls,encryption"
    description = "codeigniter ssl/tls Encryption"
    articles    = "php/codeigniter"
    icons       = "php,codeigniter"
    
block markdown
  include:md /articles/shared/encryption.md
