extends /app/pages/templates/article  

block configParams
  -
    title       = "Run an Existing CodeIgniter Applicatin in Docker | Nanobox"
    description = "Learn how to take an existing CodeIgniter application and run it using Docker"
    keywords    = "php, codeigniter production application, manage codeigniter application, docker, codeigniter on docker, containers"
    articles    = "php/codeigniter"
    icons       = "php,codeigniter"
    id          = "Existing CodeIgniter App"
    
block markdown
  include:md /articles/php/codeigniter/existing-app.md
