extends /app/pages/templates/article  

block configParams
  -
    title       = "CodeIgniter PHP Application Extensions Configuration | Nanobox"
    description = "How to configure PHP Extentions for CodeIgniter PHP"
    keywords    = "php, codeigniter production application, manage codeigniter application, php extentions, codeigniter php extensions, php extension configuration"
    articles    = "php/codeigniter"
    icons       = "php,codeigniter"
    
block markdown
  include:md /articles/php/extensions-config.md
