extends /app/pages/templates/article  

block configParams
  -
    title       = "Codeigniter From Scratch"
    keywords    = "php,codeigniter,new"
    description = "new codeigniter app"
    articles    = "php/codeigniter"
    icons       = "php,codeigniter"
    
block markdown
  include:md /articles/php/codeigniter/from-scratch.md
