extends /app/pages/templates/article  

block configParams
  -
    title       = "Create a CodeIgniter Application from Scratch | Nanobox"
    description = "Learn how to create a new CodeIgniter application and local development environment"
    keywords    = "php, codeigniter application, codeigniter application, php dev environment, dev environment, codeigniter dev environemnt, codeigniter dev, docker, containers"
    articles    = "php/codeigniter"
    icons       = "php,codeigniter"
    id          = "CodeIgniter from Scratch"
    
block markdown
  include:md /articles/php/codeigniter/from-scratch.md
