extends /app/pages/templates/article  

block configParams
  -
    title       = "Launch your App"
    keywords    = "php,codeigniter,launch"
    description = "launch codeigniter app"
    articles    = "php/codeigniter"
    icons       = "php,codeigniter"
    
block markdown
  include:md /articles/shared/launch-your-app.md
