extends /app/pages/templates/article  

block configParams
  -
    title       = "Manage Platform"
    keywords    = "php,codeigniter,manage,production"
    description = "manage codeigniter in production"
    articles    = "php/codeigniter"
    icons       = "php,codeigniter"
    
block markdown
  include:md /articles/shared/manage-platform.md
