extends /app/pages/templates/article  

block configParams
  -
    title       = "Managing a Production CodeIgniter Application | Nanobox"
    description = "Manage a CodeIgniter application's logs, traffic, health, and storage"
    keywords    = "php, codeigniter production application, manage codeigniter application, monitor codeigniter, codeigniter logging, load balancer, codeigniter monitoring, production logs"
    articles    = "php/codeigniter"
    icons       = "php,codeigniter"
    
block markdown
  include:md /articles/shared/manage-platform.md
