extends /app/pages/templates/article  

block configParams
  -
    title       = "Using New Relic in CodeIgniter Applications | Nanobox"
    description = "How to install and use New Relic in CodeIgniter applications deployed with Nanobox"
    keywords    = "newrelic codeigniter, performance monitoring, newrelic php, new relic php, new relic paas, installing new relic, installing newrelic php, production performance monitoring"
    articles    = "php/codeigniter"
    icons       = "php,codeigniter"
    id          = "New Relic"
    
block markdown
  include:md /articles/php/newrelic.md
