extends /app/pages/templates/article  

block configParams
  -
    title       = "CodeIgniter PHP Application Extensions | Nanobox"
    description = "Find out what PHP Extentions are available for CodeIgniter PHP"
    keywords    = "php, codeigniter production application, manage codeigniter application, php extentions, codeigniter php extensions"
    articles    = "php/codeigniter"
    icons       = "php,codeigniter"
    
block markdown
  include:md /articles/php/extensions.md
