extends /app/pages/templates/article  

block configParams
  -
    title       = "Stage a CodeIgniter application | Nanobox"
    description = "Easily stage a CodeIgniter application before deplying to production"
    keywords    = "php, codeigniter production application, manage codeigniter application, test codeigniter application, stage codeigniter application"
    articles    = "php/codeigniter"
    icons       = "php,codeigniter"
    id          = "Preview your App"
    
block markdown
  include:md /articles/php/codeigniter/preview-your-app.md
