extends /app/pages/templates/article  

block configParams
  -
    title       = "Production Environment Variables"
    keywords    = "php,codeigniter,environment-variables"
    description = "codeigniter environment variables"
    articles    = "php/codeigniter"
    icons       = "php,codeigniter"
    
block markdown
  include:md /articles/shared/production-evars.md
