extends /app/pages/templates/article  

block configParams
  -
    title       = "Remote Access"
    keywords    = "php,codeigniter,remote-access"
    description = "codeigniter remote access"
    articles    = "php/codeigniter"
    icons       = "php,codeigniter"
    
block markdown
  include:md /articles/shared/remote-access.md
