extends /app/pages/templates/article  

block configParams
  -
    title       = "Remote Access to CodeIgniter Applications | Nanobox"
    description = "Securely manage running CodeIgniter application with SSH remote access"
    keywords    = "php, codeigniter production application, manage codeigniter application, ssh access, remote access, server management, secure access"
    articles    = "php/codeigniter"
    icons       = "php,codeigniter"
    
block markdown
  include:md /articles/shared/remote-access.md
