extends /app/pages/templates/article  

block configParams
  -
    title       = "Scale CodeIgniter Applications | Nanobox"
    description = "Easily scale production CodeIgniter applications with zero downtime"
    keywords    = "php, codeigniter production application, manage codeigniter application, scale codeigniter application, zero downtime"
    articles    = "php/codeigniter"
    icons       = "php,codeigniter"
    id          = "Scale Your App"
    
block markdown
  include:md /articles/shared/scale-your-app.md
