extends /app/pages/templates/article  

block configParams
  -
    title       = "Manage CodeIgniter Application Teams | Nanobox"
    description = "Easily manage CodeIgniter development teams and application collaborators"
    keywords    = "php, codeigniter production application, manage codeigniter application, codeigniter collaboration, team management"
    articles    = "php/codeigniter"
    icons       = "php,codeigniter"
    id          = "Team Management"
    
block markdown
  include:md /articles/shared/team-management.md
