extends /app/pages/templates/article  

block configParams
  -
    title       = "Configure Apache and Nginx for CodeIgniter PHP | Nanobox"
    description = "How to configure Apache and Nginx to run CodeIgniter PHP in production"
    keywords    = "php, codeigniter production application, manage codeigniter application, nginx, apache, nginx php, apache php, codeigniter php nginx, codeigniter php apache"
    articles    = "php/codeigniter"
    icons       = "php,codeigniter"
    
block markdown
  include:md /articles/php/webserver-config.md
