extends /app/pages/templates/article  

block configParams
  -
    title    = "Writable Permissions"
    articles = "php/codeigniter"
    icons    = "php,codeigniter"
    
block markdown
  include:md /articles/shared//writable-permissions.md
