extends /app/pages/templates/article  

block configParams
  -
    title    = "Ember From Scratch"
    articles = "nodejs/ember"
    icons    = "nodejs,ember"
    
block markdown
  include:md /articles/nodejs/ember/getting-started/from-scratch.md
