extends /app/pages/templates/article  

block configParams
  -
    title       = "Managing Ruby Gems with Bundler | Nanobox"
    description = "How to manage Ruby and Rails application dependencies with Bundler"
    keywords    = "ruby, ruby on rails, rails application, manage rails application, bundler, rails bundler, ruby bundler, gem bundler"
    articles    = "ruby/rails"
    icons       = "ruby,rails"
    id          = "Bundler"
    
block markdown
  include:md /articles/ruby/bundler.md
