extends /app/pages/templates/article  

block configParams
  -
    title       = "Configure Rails"
    keywords    = "configure,ruby,rails,production"
    description = "Configuring rails for production"
    articles    = "ruby/rails"
    icons       = "ruby,rails"
    
block markdown
  include:md /articles/ruby/rails/configure-rails.md
