extends /app/pages/templates/article  

block configParams
  -
    title       = "Configure Ruby on Rails to run in Production | Nanobox"
    description = "Learn how to configure a Ruby on Rails application to run in production"
    keywords    = "ruby, ruby on rails, rails production application, manage rails application, configure rails, production rails, rails in production"
    articles    = "ruby/rails"
    icons       = "ruby,rails"
    
block markdown
  include:md /articles/ruby/rails/configure-rails.md
