extends /app/pages/templates/article  

block configParams
  -
    title       = "Configure Rails for Production"
    keywords    = "ruby,rails,configure,production"
    description = "Configuring your Rails app for production with Nanobox"
    articles    = "ruby/rails"
    icons       = "ruby,rails"
    
block markdown
  include:md /articles/ruby/rails/configure-rails.md
