extends /app/pages/templates/article  

block configParams
  -
    title    = "Connect a Database"
    articles = "ruby/rails"
    icons    = "ruby,rails"
    
block markdown
  include:md /articles/ruby/rails/connect-a-database.md
