extends /app/pages/templates/article  

block configParams
  -
    title       = "Debug Ruby on Rails Application in Production | Nanobox"
    description = "Learn how to debug a production Ruby on Rails application"
    keywords    = "ruby, ruby on rails, rails production application, manage rails application, rails logging, rails monitoring, debug rails, debugging rails"
    articles    = "ruby/rails"
    icons       = "ruby,rails"
    id          = "Debugging"
    
block markdown
  include:md /articles/shared/debugging.md
