extends /app/pages/templates/article  

block configParams
  -
    title       = "SSL/TLS Encryption"
    keywords    = "ruby,rails,ssl,tls,encryption"
    description = "rails ssl/tls Encryption"
    articles    = "ruby/rails"
    icons       = "ruby,rails"
    
block markdown
  include:md /articles/shared/encryption.md
