extends /app/pages/templates/article  

block configParams
  -
    title       = "Add SSL/TLS Encryption to a Ruby on Rails Application | Nanobox"
    description = "Learn how to easily add SSL/TLS encryption to a Ruby on Rails production application"
    keywords    = "ruby, ruby on rails, rails production application, manage rails application,
    articles    = "ruby/rails"
    icons       = "ruby,rails"
    
block markdown
  include:md /articles/shared/encryption.md
