extends /app/pages/templates/article  

block configParams
  -
    title       = "Run an Existing Ruby on Rails Applicatin in Docker | Nanobox"
    description = "Learn how to take an existing Ruby on Rails application and run it using Docker"
    keywords    = "ruby, ruby on rails, rails production application, manage rails application, docker, rails on docker, containers"
    articles    = "ruby/rails"
    icons       = "ruby,rails"
    id          = "Existing Rails App"
    
block markdown
  include:md /articles/ruby/rails/existing-app.md
