extends /app/pages/templates/article  

block configParams
  -
    title       = "Existing Rails App"
    keywords    = "ruby,rails"
    description = "Launch your existing Rails app with Nanobox"
    articles    = "ruby/rails"
    icons       = "ruby,rails"
    
block markdown
  include:md /articles/ruby/rails/existing-app.md
