extends /app/pages/templates/article  

block configParams
  -
    title       = "Create a Ruby on Rails Application from Scratch | Nanobox"
    description = "Learn how to create a new Ruby on Rails application and local development environment"
    keywords    = "ruby, ruby on rails, rails application, rails application, ruby dev environment, dev environment, rails dev environemnt, rails dev, docker, containers"
    articles    = "ruby/rails"
    icons       = "ruby,rails"
    id          = "Rails from Scratch"
    
block markdown
  include:md /articles/ruby/rails/from-scratch.md
