extends /app/pages/templates/article  

block configParams
  -
    title    = "Rails From Scratch"
    articles = "ruby/rails"
    icons    = "ruby,rails"
    
block markdown
  include:md /articles/ruby/rails//from-scratch.md
