extends /app/pages/templates/article  

block configParams
  -
    title       = "Frontend Javascript"
    keywords    = "ruby,rails,javascript,node,yarn,npm,bower,gulp,grunt,brunch,broccoli"
    description = "javascript in rails"
    articles    = "ruby/rails"
    icons       = "ruby,rails"
    
block markdown
  include:md /articles/shared/frontend-javascript.md
