extends /app/pages/templates/article  

block configParams
  -
    title       = "Adding Javascript to a Ruby on Rails Application | Nanobox"
    description = "How to add Javascript to a Ruby on Rails application"
    keywords    = "ruby, ruby on rails, rails application, rails javascript, javascript"
    articles    = "ruby/rails"
    icons       = "ruby,rails"
    id          = "Frontend Javascript"
    
block markdown
  :md
    # Frontend Javascript
  include:md /articles/shared/partials/nodejs.md
  include:md /articles/shared/partials/package-managers.md
  include:md /articles/shared/partials/task-runners.md
