extends /app/pages/templates/article  

block configParams
  -
    title       = "Launch a Ruby on Rails Application to Production | Nanobox"
    description = "Learn how to deploy a Ruby on Rails application to production servers"
    keywords    = "ruby, ruby on rails, rails production application, manage rails application, deploy rails, launch rails, rails in production, rails production servers"
    articles    = "ruby/rails"
    icons       = "ruby,rails"
    id          = "Launch your App"
    
block markdown
  :md
    # Launch Your App
  include:md /articles/shared/partials/launch-your-app.md
  include:md /articles/ruby/rails/launch-your-app.md
  include:md /articles/shared/partials/deploy-your-app.md
