extends /app/pages/templates/article  

block configParams
  -
    title       = "Launch your App"
    keywords    = "ruby,rails,launch"
    description = "Launch your Rails app on live servers with Nanobox"
    articles    = "ruby/rails"
    icons       = "ruby,rails"
    
block markdown
  :md
    # Launch Your App
  include:md /articles/shared/partials/launch-your-app.md
  include:md /articles/ruby/rails/launch-your-app.md
  include:md /articles/shared/partials/deploy-your-app.md
