extends /app/pages/templates/article  

block configParams
  -
    title       = "Local Environment Variables"
    keywords    = "ruby,rails,environment-variables"
    description = "Rails environment variables with Nanobox"
    articles    = "ruby/rails"
    icons       = "ruby,rails"
    
block markdown
  include:md /articles/shared/local-evars.md
