extends /app/pages/templates/article  

block configParams
  -
    title       = "Managing a Production Ruby on Rails Application | Nanobox"
    description = "Manage a Ruby on Rails application's logs, traffic, health, and storage"
    keywords    = "ruby, ruby on rails, rails production application, manage rails application, monitor rails, rails logging, load balancer, rails monitoring, production logs"
    articles    = "ruby/rails"
    icons       = "ruby,rails"
    id          = "Manage Platform"
    
block markdown
  include:md /articles/shared/manage-platform.md
