extends /app/pages/templates/framework-landing  

block configParams
  -
    formalName   = "Ruby on Rails"
    informalName = "rails"
    icon         = "rails"

block jsParams
  script.
    //- This is javascript
    requiredComponents = [
      {name:'ruby', icon:'ruby', href:'#'},
      {name:'PostgreSQL', icon:'postgres', href:'#'}
    ]
    optionalComponents = [
      {name:'Mondo DB',   icon:'mongo',    href:'#'},
      {name:'MySQL',      icon:'mysql',    href:'#'},
    ]
    articleGroups = [
      {title:"First Steps",   group:"shared/first-steps,rails/first-steps"},
      {title:"Next Steps",    group:"rails/next-steps,shared/next-steps"},
      {title:"Production",    group:"rails/production,shared/production"},
      {title:"Going Further", group:"rails/going-further,shared/going-further"}
    ]
    
