extends /app/pages/templates/framework-landing  

block configParams
  -
    formalName   = "Ruby on Rails"
    informalName = "rails"
    icon         = "rails"

block jsParams
  script.
    //- This is javascript
    articleGroups = [
      {title:"First Steps",   group:"rails"},
      {title:"Next Steps",    group:"shared/next-steps"},
      {title:"Production",    group:"shared/production,rails/rails-specific-production-thing"},
      {title:"Going Further", group:"shared/going-further"},
    ]
    requiredComponents = [
      {name:'ruby', icon:'ruby', href:'#'},
      {name:'PostgreSQL', icon:'postgres', href:'#'}
    ]
    optionalComponents = [
      {name:'Mondo DB',   icon:'mongo',    href:'#'},
      {name:'MySQL',      icon:'mysql',    href:'#'},
      {name:'PostgreSQL', icon:'postgres', href:'#'}
    ]
