extends /app/pages/templates/article  

block configParams
  -
    title       = "Stage a Ruby on Rails application | Nanobox"
    description = "Easily stage a Ruby on Rails application before deplying to production"
    keywords    = "ruby, ruby on rails, rails production application, manage rails application, test rails application, stage rails application"
    articles    = "ruby/rails"
    icons       = "ruby,rails"
    
block markdown
  include:md /articles/ruby/rails/preview-your-app.md
