extends /app/pages/templates/article  

block configParams
  -
    title       = "Add Environment Variable to Production Ruby on Rails Application | Nanobox"
    description = "Learn how to add environment variable to a production Ruby on Rails application"
    keywords    = "ruby, ruby on rails, rails production application, manage rails application, rails environment variables, environment variables"
    articles    = "ruby/rails"
    icons       = "ruby,rails"
    id          = "Environment Variables"
    
block markdown
  include:md /articles/shared/production-evars.md
