extends /app/pages/templates/article  

block configParams
  -
    title       = "Remote Access to Ruby on Rails Applications | Nanobox"
    description = "Securely manage running Ruby on Rails application with SSH remote access"
    keywords    = "ruby, ruby on rails, rails production application, manage rails application, ssh access, remote access, server management, secure access"
    articles    = "ruby/rails"
    icons       = "ruby,rails"
    
block markdown
  include:md /articles/shared/remote-access.md
