extends /app/pages/templates/article  

block configParams
  -
    title       = "Scale Ruby on Rails Applications | Nanobox"
    description = "Easily scale production Ruby on Rails applications with zero downtime"
    keywords    = "ruby, ruby on rails, rails production application, manage rails application, scale rails application, zero downtime"
    articles    = "ruby/rails"
    icons       = "ruby,rails"
    id          = "Scale your App"
    
block markdown
  include:md /articles/shared/scale-your-app.md
