extends /app/pages/templates/article  

block configParams
  -
    title       = "Configure Your Persistent Network Storage Component for Deployment | Nanobox"
    description = "Instructions for configuring your persistent network storage component for deploying apps with Nanobox."
    keywords    = "app storage, app database, online storage, network file storage, cloud storage setup, online data storage, configure network storage, persistent storage, shared storage, writable permissions, nfs, unfs, configure nfs, configure unfs"
    articles    = "storage"
    icons       = "storage"
    id          = "Storage Config Options"
    
block markdown
  include:md /articles/storage/configure.md
