extends /app/pages/templates/article

block configParams
  -
    title    = "Managing Production Storage Components"
    articles = "storage"
    icons    = "storage"

block markdown
  include:md /articles/storage/manage.md
