extends /app/pages/templates/article

block configParams
  -
    title       = "Manage a Production Persistent Network Storage Component | Nanobox"    
    description = "Instructions for managing files in your persistent network storage component for deploying apps with Nanobox."
    keywords    = "app storage, app database, online storage, network file storage, cloud storage setup, online data storage, configure network storage, persistent storage, shared storage, writable permissions, nfs, unfs"
    articles    = "storage"
    icons       = "storage"

block markdown
  include:md /articles/storage/manage.md
