extends /app/pages/templates/article

block configParams
  -
    title       = "Store Files in Persistent Network Storage Component | Nanobox"
    description = "Instructions for storing files in a production persistent network storage component."
    keywords    = "app storage, app database, online storage, network file storage, cloud storage setup, online data storage, configure network storage, persistent storage, shared storage, writable permissions, nfs, unfs"
    articles    = "storage"
    icons       = "storage"

block markdown
  include:md /articles/storage/storing-files.md
