extends /app/pages/templates/article

block configParams
  -
    title       = "Store Files in a Storage Component"
    description = "Storing files in storage components launched with Nanobox"
    articles    = "storage"
    icons       = "storage"

block markdown
  include:md /articles/storage/storing-files.md
