.code-snippet
  .icon
    img.shadow-icon(data-src="snippet-file")
  .details
    .path= path
    .actions
      .btn.view
        img.shadow-icon(data-src="view-snippet")
        .txt View In Place
      .btn.copy
        img.shadow-icon(data-src="copy-snippet")
        .txt Copy To Clipboard
