extends /app/pages/templates/article  

block configParams
  -
    title       = "Add a Database to a Nette Application | Nanobox"
    description = "How to add and connect to a database with a Nette applciation"
    keywords    = "php, nette production application, manage nette application, nette database, nette and mongodb, nette and postgres, mongodb, postgres"
    articles    = "php/nette"
    icons       = "php,nette"
    
block markdown
  include:md /articles/php/nette/add-a-database.md
