extends /app/pages/templates/article  

block configParams
  -
    title       = "Monitoring Production Nette Applications | Nanobox"
    description = "Monitor a production Nette application with live and historical stats"
    keywords    = "php, nette production application, manage nette application, stats, php stats, nette stats, monitor nette, nette app health"
    articles    = "php/nette"
    icons       = "php,nette"
    
block markdown
  include:md /articles/shared/app-health.md
