extends /app/pages/templates/article  

block configParams
  -
    title       = "Managing PHP Gems with Bundler | Nanobox"
    description = "How to manage Nette application dependencies with Bundler"
    keywords    = "php, nette application, manage nette application, bundler, nette bundler, php bundler, gem bundler"
    articles    = "php/nette"
    icons       = "php,nette"
    
block markdown
  include:md /articles/php/bundler.md
