extends /app/pages/templates/article  

block configParams
  -
    title       = "Managing PHP Extensions with Composer | Nanobox"
    description = "How to manage Nette application dependencies with Composer"
    keywords    = "php, nette application, manage nette application, composer, nette composer, php composer"
    articles    = "php/nette"
    icons       = "php,nette"
    id          = "Composer"
    
block markdown
  include:md /articles/php/composer.md
