extends /app/pages/templates/article  

block configParams
  -
    title       = "Configure Nette to run in Production | Nanobox"
    description = "Learn how to configure a Nette application to run in production"
    keywords    = "php, nette production application, manage nette application, configure nette, production nette, nette in production"
    articles    = "php/nette"
    icons       = "php,nette"
    
block markdown
  include:md /articles/php/nette/configure-nette.md
