extends /app/pages/templates/article  

block configParams
  -
    title       = "Configure php"
    keywords    = "php,configure"
    description = "Configure PHP with Nanobox"
    articles    = "php/nette"
    icons       = "php,nette"
    
block markdown
  include:md /articles/php/config.md
