extends /app/pages/templates/article  

block configParams
  -
    title       = "SSL/TLS Encryption"
    keywords    = "php,nette,ssl,tls,encryption"
    description = "Nette SSL/TLS Encryption with Nanobox"
    articles    = "php/nette"
    icons       = "php,nette"
    
block markdown
  include:md /articles/shared/encryption.md
