extends /app/pages/templates/article  

block configParams
  -
    title       = "Run an Existing Nette Application in Docker | Nanobox"
    description = "Learn how to take an existing Nette application and run it using Docker"
    keywords    = "php, nette production application, manage nette application, docker, nette on docker, containers"
    articles    = "php/nette"
    icons       = "php,nette"
    id          = "Existing Nette App"
    
block markdown
  include:md /articles/php/nette/existing-app.md
