extends /app/pages/templates/article  

block configParams
  -
    title       = "Nette PHP Application Extensions Configuration | Nanobox"
    description = "How to configure PHP Extentions for Nette PHP"
    keywords    = "php, nette production application, manage nette application, php extentions, nette php extensions, php extension configuration"
    articles    = "php/nette"
    icons       = "php,nette"
    
block markdown
  include:md /articles/php/extensions-config.md
