extends /app/pages/templates/article  

block configParams
  -
    title       = "Create a Nette Application from Scratch | Nanobox"
    description = "Learn how to create a new Nette application and local development environment"
    keywords    = "php, nette application, nette application, php dev environment, dev environment, nette dev environemnt, nette dev, docker, containers"
    articles    = "php/nette"
    icons       = "php,nette"
    id          = "Nette from Scratch"
    
block markdown
  include:md /articles/php/nette/from-scratch.md
