extends /app/pages/templates/article  

block configParams
  -
    title       = "Launch a Nette Application to Production | Nanobox"
    description = "Learn how to deploy a Nette application to production servers"
    keywords    = "php, nette production application, manage nette application, deploy nette, launch nette, nette in production, nette production servers"
    articles    = "php/nette"
    icons       = "php,nette"
    
block markdown
  :md
    # Launch Your App
  include:md /articles/shared/partials/launch-your-app.md
  include:md /articles/php/nette/launch-your-app.md
  include:md /articles/shared/partials/deploy-your-app.md
