extends /app/pages/templates/article  

block configParams
  -
    title       = "Managing a Production Nette Application | Nanobox"
    description = "Manage a Nette application's logs, traffic, health, and storage"
    keywords    = "php, nette production application, manage nette application, monitor nette, nette logging, load balancer, nette monitoring, production logs"
    articles    = "php/nette"
    icons       = "php,nette"
    
block markdown
  include:md /articles/shared/manage-platform.md
