extends /app/pages/templates/article  

block configParams
  -
    title       = "Using New Relic in Nette Applications | Nanobox"
    description = "How to install and use New Relic in Nette applications deployed with Nanobox"
    keywords    = "newrelic nette, performance monitoring, newrelic php, new relic php, new relic paas, installing new relic, installing newrelic php, production performance monitoring"
    articles    = "php/nette"
    icons       = "php,nette"
    id          = "New Relic"
    
block markdown
  include:md /articles/php/newrelic.md
