extends /app/pages/templates/article  

block configParams
  -
    title       = "Adding a Domain to a Nette Application | Nanobox"
    description = "How to point an existing domain name to a Nette application"
    keywords    = "php, nette production application, manage nette application, point dns, add dns, domain, domin pointing, point domain"
    articles    = "php/nette"
    icons       = "php,nette"
    id          = "Point your Domain"
    
block markdown
  include:md /articles/shared/point-your-domain.md
