extends /app/pages/templates/article  

block configParams
  -
    title       = "Stage a Nette application | Nanobox"
    description = "Easily stage a Nette application before deplying to production"
    keywords    = "php, nette production application, manage nette application, test nette application, stage nette application"
    articles    = "php/nette"
    icons       = "php,nette"
    
block markdown
  include:md /articles/php/nette/preview-your-app.md
