extends /app/pages/templates/article  

block configParams
  -
    title       = "Remote Access"
    keywords    = "php,nette,remote-access"
    description = "Remotely access your Nette app with Nanobox"
    articles    = "php/nette"
    icons       = "php,nette"
    
block markdown
  include:md /articles/shared/remote-access.md
