extends /app/pages/templates/article  

block configParams
  -
    title       = "Remote Access to Nette Applications | Nanobox"
    description = "Securely manage running Nette application with SSH remote access"
    keywords    = "php, nette production application, manage nette application, ssh access, remote access, server management, secure access"
    articles    = "php/nette"
    icons       = "php,nette"
    id          = "Remote Access"
    
block markdown
  include:md /articles/shared/remote-access.md
