extends /app/pages/templates/article  

block configParams
  -
    title       = "Scale Nette Applications | Nanobox"
    description = "Easily scale production Nette applications with zero downtime"
    keywords    = "php, nette production application, manage nette application, scale nette application, zero downtime"
    articles    = "php/nette"
    icons       = "php,nette"
    id          = "Scale your App"
    
block markdown
  include:md /articles/shared/scale-your-app.md
