extends /app/pages/templates/article  

block configParams
  -
    title       = "Configure Apache and Nginx for Nette PHP | Nanobox"
    description = "How to configure Apache and Nginx to run Nette PHP in production"
    keywords    = "php, nette production application, manage nette application, nginx, apache, nginx php, apache php, nette php nginx, nette php apache"
    articles    = "php/nette"
    icons       = "php,nette"
    id          = "Webserver Config"
    
block markdown
  include:md /articles/php/webserver-config.md
