extends /app/pages/templates/article  

block configParams
  -
    title    = "Configure Rails"
    articles = "ruby/rails"
    icons    = "ruby,rails"
    
block markdown
  include:md /articles/ruby/rails/production/configure-rails.md
