extends /app/pages/templates/article  

block configParams
  -
    title    = "Prepare for Production"
    articles = "ruby/rails"
    icons    = "ruby,rails"
    
block markdown
  include:md /articles/ruby/rails/production/prepare-for-production.md
