extends /app/pages/templates/framework-landing  

block configParams
  -
    title        = "Create and Deploy a Production Angular App | Nanobox"
    description  = "Learn how to setup an Angular development environment and configure it to deploy to production."
    keywords     = "angular, angular framework, javascript frameworks, angular config, angular development environment, angular production app, angular app, deploy angular, create angular app, config angular app"
    formalName   = "Angular"
    informalName = "angular"
    icon         = "angular"
    iconCrumbs   = "javascript,angular"

block jsParams
  script.
    //- This is javascript
    requiredComponents = [
      {name:'Nodejs', icon:'node', href:'#'}
    ]
    optionalComponents = []
    articleGroups = "javascript/angular"
