extends /app/pages/templates/framework-landing  

block configParams
  -
    formalName   = "Ember"
    informalName = "ember"
    icon         = "ember"
    iconCrumbs   = "javascript,ember"

block jsParams
  script.
    //- This is javascript
    requiredComponents = [
      {name:'Nodejs', icon:'node', href:'#'}
    ]
    optionalComponents = []
    articleGroups = "javascript/ember"
    devMode = true
