extends /app/pages/templates/framework-landing  

block configParams
  -
    title        = "Create and Deploy a Production Ember App | Nanobox"
    description  = "Learn how to setup an Ember development environment and configure it to deploy to production."
    keywords     = "ember, ember framework, javascript frameworks, ember config, ember development environment, ember production app, ember app, deploy ember, create ember app, config ember app"
    formalName   = "Ember"
    informalName = "ember"
    icon         = "ember"
    iconCrumbs   = "javascript,ember"

block jsParams
  script.
    //- This is javascript
    requiredComponents = [
      {name:'Nodejs', icon:'node', href:'#'}
    ]
    optionalComponents = []
    articleGroups      = "javascript/ember"
