extends /app/pages/templates/framework-landing  

block configParams
  -
    title        = "Ember with Nanobox"
    description  = "Get your Ember app up and running with Nanobox"
    formalName   = "Ember"
    informalName = "ember"
    icon         = "ember"
    iconCrumbs   = "javascript,ember"

block jsParams
  script.
    //- This is javascript
    requiredComponents = [
      {name:'Nodejs', icon:'node', href:'#'}
    ]
    optionalComponents = []
    articleGroups      = "javascript/ember"
