extends /app/pages/templates/framework-landing  

block configParams
  -
    formalName   = "Ember"
    informalName = "ember"
    icon         = "ember"
    iconCrumbs   = "javascript,ember"

block jsParams
  script.
    //- This is javascript
    requiredComponents = [
      {name:'Ruby', icon:'ruby', href:'#'},
      {name:'Nodejs', icon:'nodejs', href:'#'},
      {name:'Postgres', icon:'postgres', href:'#'}
    ]
    optionalComponents = [
      {name:'MongoDB', icon:'mongo', href:'#'},
      {name:'Redis', icon:'redis', href:'#'}
    ]
    articleGroups = "javascript/ember"
    devMode = true
