extends /app/pages/templates/framework-landing  

block configParams
  -
    title        = "Vue with Nanobox"
    description  = "Get your Vue app up and running with Nanobox"
    formalName   = "Vue"
    informalName = "vue"
    icon         = "vue"
    iconCrumbs   = "javascript,vue"
    launchTime   = "12"

block jsParams
  script.
    //- This is javascript
    requiredComponents = [
      {name:'Nodejs', icon:'node', href:'#'},
    ]
    optionalComponents = []
    articleGroups = "javascript/vue"
