extends /app/pages/templates/framework-landing  

block configParams
  -
    title        = "Create and Deploy a Production Vue App | Nanobox"
    description  = "Learn how to setup a Vue development environment and configure it to deploy to production."
    keywords     = "vue, vue framework, javascript frameworks, vue config, vue development environment, vue production app, vue app, deploy vue, create vue app, config vue app"
    formalName   = "Vue"
    informalName = "vue"
    icon         = "vue"
    iconCrumbs   = "javascript,vue"
    launchTime   = "12"

block jsParams
  script.
    //- This is javascript
    requiredComponents = [
      {name:'Nodejs', icon:'node', href:'#'},
    ]
    optionalComponents = []
    articleGroups = "javascript/vue"
