extends /app/pages/templates/article  

block configParams
  -
    title    = "Configure Sails"
    articles = "nodejs/sails"
    icons    = "nodejs,sails"
    
block markdown
  include:md /articles/nodejs/sails/production/configure-sails.md
