extends /app/pages/templates/article  

block configParams
  -
    title       = "Configure Postgres for Development and Production Deployment | Nanobox"
    description = "Instructions for configuring a Postgres Database for development and production with Nanobox."
    keywords    = "deploy postgres, postgres in production, postgresql, scaling postgres database, local postgres, local development, configure postgres"
    articles    = "postgresql"
    icons       = "postgres"
    id          = "PostgreSQL Config Options"
    
block markdown
  include:md /articles/postgresql/configure.md
