extends /app/pages/templates/article  

block configParams
  -
    title       = "PostgreSQL Config Options"
    description = "Configuring Postgres with Nanobox"
    articles    = "postgresql"
    icons       = "postgres"
    
block markdown
  include:md /articles/postgresql/configure.md
