extends /app/pages/templates/article

block configParams
  -
    title       = "Create a PostgreSQL Database in Local and Production Environments | Nanobox"
    description = "Instructions for creating to a PostgreSQL database in development and production with Nanobox"
    keywords    = "deploy postgres, postgres in production, postgresql, scaling postgres database, local postgres, local development, configure postgres"
    articles    = "postgresql"
    icons       = "postgres"

block markdown
  include:md /articles/postgresql/create.md
