extends /app/pages/templates/article

block configParams
  -
    title       = "Create a PostgreSQL Database"
    description = "Creating a Postgres database with Nanobox"
    articles    = "postgresql"
    icons       = "postgres"

block markdown
  include:md /articles/postgresql/create.md
