extends /app/pages/templates/article

block configParams
  -
    title    = "Create a PostgreSQL Database"
    articles = "postgresql"
    icons    = "postgres"

block markdown
  include:md /articles/postgresql/create.md
