extends /app/pages/templates/article  

block configParams
  -
    title       = "Managing Local Data"
    description = "Managing local Postgres data with Nanobox"
    articles    = "postgresql"
    icons       = "postgres"
    
block markdown
  include:md /articles/postgresql/manage-local.md
