extends /app/pages/templates/article  

block configParams
  -
    title       = "Configure Moleculer to run in Production | Nanobox"
    description = "Learn how to configure a Moleculer application to run in production"
    keywords    = "nodejs, moleculer production application, manage moleculer application, configure moleculer, production moleculer, moleculer in production"
    articles    = "nodejs/moleculer"
    icons       = "node,moleculer"
    id          = "Configure Moleculer"
    
block markdown
  include:md /articles/nodejs/moleculer/configure-moleculer.md
