extends /app/pages/templates/article  

block configParams
  -
    title       = "Run an Existing Moleculer Application in Docker | Nanobox"
    description = "Learn how to take an existing Moleculer application and run it using Docker"
    keywords    = "nodejs, moleculer production application, manage moleculer application, docker, moleculer on docker, containers"
    articles    = "nodejs/moleculer"
    icons       = "node,moleculer"
    id          = "Existing Moleculer App"
    
block markdown
  include:md /articles/nodejs/moleculer/existing-app.md
