extends /app/pages/templates/article  

block configParams
  -
    title       = "Add a Database to a CakePHP Application | Nanobox"
    description = "How to add and connect to a database with a CakePHP applciation"
    keywords    = "php, cakephp production application, manage cakephp application, cakephp database, cakephp and mongodb, cakephp and postgres, mongodb, postgres"
    articles    = "php/cakephp"
    icons       = "php,cakephp"
    id          = "Add a Database"
    
block markdown
  include:md /articles/php/cakephp/add-a-database.md
