extends /app/pages/templates/article  

block configParams
  -
    title       = "Monitoring Production CakePHP Applications | Nanobox"
    description = "Monitor a production CakePHP application with live and historical stats"
    keywords    = "php, cakephp production application, manage cakephp application, stats, php stats, cakephp stats, monitor cakephp, cakephp app health"
    articles    = "php/cakephp"
    icons       = "php,cakephp"
    
block markdown
  include:md /articles/shared/app-health.md
