extends /app/pages/templates/article  

block configParams
  -
    title       = "Managing PHP Extensions with Composer | Nanobox"
    description = "How to manage CakePHP application dependencies with Composer"
    keywords    = "php, cakephp application, manage cakephp application, composer, cakephp composer, php composer"
    articles    = "php/cakephp"
    icons       = "php,cakephp"
    
block markdown
  include:md /articles/php/composer.md
