extends /app/pages/templates/article  

block configParams
  -
    title       = "Configure CakePHP to run in Production | Nanobox"
    description = "Learn how to configure a CakePHP application to run in production"
    keywords    = "php, cakephp production application, manage cakephp application, configure cakephp, production cakephp, cakephp in production"
    articles    = "php/cakephp"
    icons       = "php,cakephp"
    
block markdown
  include:md /articles/php/cakephp/configure-cakephp.md
