extends /app/pages/templates/article  

block configParams
  -
    title       = "Debugging CakePHP"
    keywords    = "php,cakephp,debug"
    description = "Debuggin your CakePHP app with Nanobox"
    articles    = "php/cakephp"
    icons       = "php,cakephp"
    
block markdown
  include:md /articles/shared/debugging.md
