extends /app/pages/templates/article  

block configParams
  -
    title       = "Debug CakePHP Application in Production | Nanobox"
    description = "Learn how to debug a production CakePHP application"
    keywords    = "php, cakephp production application, manage cakephp application, cakephp logging, cakephp monitoring, debug cakephp, debugging cakephp"
    articles    = "php/cakephp"
    icons       = "php,cakephp"
    id          = "Debugging"
    
block markdown
  include:md /articles/shared/debugging.md
