extends /app/pages/templates/article  

block configParams
  -
    title       = "SSL/TLS Encryption"
    keywords    = "php,cakephp,ssl,tls,encryption"
    description = "cakephp ssl/tls Encryption"
    articles    = "php/cakephp"
    icons       = "php,cakephp"
    
block markdown
  include:md /articles/shared/encryption.md
