extends /app/pages/templates/article  

block configParams
  -
    title       = "Add SSL/TLS Encryption to a CakePHP Application | Nanobox"
    description = "Learn how to easily add SSL/TLS encryption to a CakePHP production application"
    keywords    = "php, cakephp production application, manage cakephp application, ssl, tls, encryption"
    articles    = "php/cakephp"
    icons       = "php,cakephp"
    
block markdown
  include:md /articles/shared/encryption.md
