extends /app/pages/templates/article  

block configParams
  -
    title       = "Existing CakePHP App"
    keywords    = "php,cakephp"
    description = "Launch your existing CakePHP app with Nanobox"
    articles    = "php/cakephp"
    icons       = "php,cakephp"
    
block markdown
  include:md /articles/php/cakephp/existing-app.md
