extends /app/pages/templates/article  

block configParams
  -
    title       = "Run an Existing CakePHP Application in Docker | Nanobox"
    description = "Learn how to take an existing CakePHP application and run it using Docker"
    keywords    = "php, cakephp production application, manage cakephp application, docker, cakephp on docker, containers"
    articles    = "php/cakephp"
    icons       = "php,cakephp"
    id          = "Existing CakePHP App"
    
block markdown
  include:md /articles/php/cakephp/existing-app.md
