extends /app/pages/templates/article  

block configParams
  -
    title       = "CakePHP Application Extensions Configuration | Nanobox"
    description = "How to configure PHP Extentions for CakePHP"
    keywords    = "php, cakephp production application, manage cakephp application, php extentions, cakephp php extensions, php extension configuration"
    articles    = "php/cakephp"
    icons       = "php,cakephp"
    id          = "Extensions Config"
    
block markdown
  include:md /articles/php/extensions-config.md
