extends /app/pages/templates/article  

block configParams
  -
    title       = "CakePHP From Scratch"
    keywords    = "php,cakephp,new"
    description = "Launch a new CakePHP app with Nanobox"
    articles    = "php/cakephp"
    icons       = "php,cakephp"
    
block markdown
  include:md /articles/php/cakephp/from-scratch.md
