extends /app/pages/templates/article  

block configParams
  -
    title       = "Create a CakePHP Application from Scratch | Nanobox"
    description = "Learn how to create a new CakePHP application and local development environment"
    keywords    = "php, cakephp application, cakephp application, php dev environment, dev environment, cakephp dev environemnt, cakephp dev, docker, containers"
    articles    = "php/cakephp"
    icons       = "php,cakephp"
    
block markdown
  include:md /articles/php/cakephp/from-scratch.md
