extends /app/pages/templates/article  

block configParams
  -
    title       = "Frontend Javascript"
    keywords    = "php,cakephp,javascript,node,yarn,npm,bower,gulp,grunt,brunch,broccoli"
    description = "Frontend javascript with CakePHP and Nanobox"
    articles    = "php/cakephp"
    icons       = "php,cakephp"
    
block markdown
  :md
    # Frontend Javascript
  include:md /articles/shared/partials/nodejs.md
  include:md /articles/shared/partials/package-managers.md
  include:md /articles/shared/partials/task-runners.md
