extends /app/pages/templates/article  

block configParams
  -
    title       = "Stage a CakePHP application | Nanobox"
    description = "Easily stage a CakePHP application before deplying to production"
    keywords    = "php, cakephp production application, manage cakephp application, test cakephp application, stage cakephp application"
    articles    = "php/cakephp"
    icons       = "php,cakephp"
    id          = "Preview your App"
    
block markdown
  include:md /articles/php/cakephp/preview-your-app.md
