extends /app/pages/templates/article  

block configParams
  -
    title       = "Production Environment Variables"
    keywords    = "php,cakephp,environment-variables"
    description = "CakePHP environment variables in production with Nanobox"
    articles    = "php/cakephp"
    icons       = "php,cakephp"
    
block markdown
  include:md /articles/shared/production-evars.md
