extends /app/pages/templates/article  

block configParams
  -
    title       = "Remote Access to CakePHP Applications | Nanobox"
    description = "Securely manage running CakePHP application with SSH remote access"
    keywords    = "php, cakephp production application, manage cakephp application, ssh access, remote access, server management, secure access"
    articles    = "php/cakephp"
    icons       = "php,cakephp"
    
block markdown
  include:md /articles/shared/remote-access.md
