extends /app/pages/templates/article  

block configParams
  -
    title       = "Scale Your App"
    keywords    = "php,cakephp,production,scale"
    description = "how to scale cakephp"
    articles    = "php/cakephp"
    icons       = "php,cakephp"
    
block markdown
  include:md /articles/shared/scale-your-app.md
