extends /app/pages/templates/article  

block configParams
  -
    title       = "Scale CakePHP Applications | Nanobox"
    description = "Easily scale production CakePHP applications with zero downtime"
    keywords    = "php, cakephp production application, manage cakephp application, scale cakephp application, zero downtime"
    articles    = "php/cakephp"
    icons       = "php,cakephp"
    id          = "Scale Your App"
    
block markdown
  include:md /articles/shared/scale-your-app.md
