extends /app/pages/templates/article  

block configParams
  -
    title       = "Manage CakePHP Application Teams | Nanobox"
    description = "Easily manage CakePHP development teams and application collaborators"
    keywords    = "php, cakephp production application, manage cakephp application, cakephp collaboration, team management"
    articles    = "php/cakephp"
    icons       = "php,cakephp"
    
block markdown
  include:md /articles/shared/team-management.md
