extends /app/pages/templates/article  

block configParams
  -
    title       = "Configure Apache and Nginx for CakePHP PHP | Nanobox"
    description = "How to configure Apache and Nginx to run CakePHP PHP in production"
    keywords    = "php, cakephp production application, manage cakephp application, nginx, apache, nginx php, apache php, cakephp php nginx, cakephp php apache"
    articles    = "php/cakephp"
    icons       = "php,cakephp"
    id          = "Webserver Config"
    
block markdown
  include:md /articles/php/webserver-config.md
