extends /app/pages/templates/article  

block configParams
  -
    title    = "Using Caching Plugins"
    articles = "wordpress"
    icons    = "php,wordpress"
    
block markdown
  include:md /articles/php/wordpress/caching-plugins.md
