extends /app/pages/templates/article  

block configParams
  -
    title    = "Reduce the Size of Your Deploy"
    articles = "wordpress"
    icons    = "php,wordpress"
    
block markdown
  include:md /articles/php/wordpress/reduce-deploy-size.md
