extends /app/pages/templates/article  

block configParams
  -
    title    = "Add App Components"
    articles = "python"
    icons    = "python"
    
block markdown
  include:md /articles/python/add-components.md
