extends /app/pages/templates/article  

block configParams
  -
    title    = "Configure Python"
    articles = "python"
    icons    = "python"
    
block markdown
  include:md /articles/python/generic/config.md
