extends /app/pages/templates/framework-landing  

block configParams
  -
    formalName   = "Django"
    informalName = "django"
    icon         = "django"
    iconCrumbs   = "python,django"

block jsParams
  script.
    //- This is javascript
    requiredComponents = [
      {name:'Python', icon:'python', href:'#'},
      {name:'Postgres', icon:'postgres', href:'#'}
    ]
    optionalComponents = [
      {name:'MongoDB', icon:'mongo', href:'#'},
      {name:'Redis', icon:'redis', href:'#'}
    ]
    articleGroups = "python/django"
    devMode = true
