extends /app/pages/templates/framework-landing  

block configParams
  -
    title        = "Create and Deploy a Production Django App"
    description  = "Learn how to setup a Django development environment and configure it to deploy to production."
    keywords     = "django, django framework, python frameworks, django config, django development environment, django production app, django app, deploy django, create django app, config django app"
    formalName   = "Django"
    informalName = "django"
    icon         = "django"
    iconCrumbs   = "python,django"

block jsParams
  script.
    //- This is javascript
    requiredComponents = [
      {name:'Python', icon:'python', href:'#'},
      {name:'Postgres', icon:'postgres', href:'#'}
    ]
    optionalComponents = [
      {name:'MongoDB', icon:'mongo', href:'#'},
      {name:'Redis', icon:'redis', href:'#'}
    ]
    articleGroups = "python/django"
