extends /app/pages/templates/framework-landing  

block configParams
  -
    formalName   = "Django"
    informalName = "django"
    icon         = "django"
    iconCrumbs   = "python,django"

block jsParams
  script.
    //- This is javascript
    requiredComponents = [
      {name:'Python', icon:'python', href:'#'},
      {name:'PostgreSQL', icon:'postgres', href:'#'}
    ]
    optionalComponents = [
      {name:'Mongo DB', icon:'mongo', href:'#'},
      {name:'Redis', icon:'redis', href:'#'}
    ]
    articleGroups = [
      {title:"First Steps",   group:"shared/first-steps,python/django/first-steps"},
      {title:"Next Steps",    group:"python/django/next-steps,shared/next-steps"},
      {title:"Production",    group:"python/django/production,shared/production"},
      {title:"Going Further", group:"python/django/going-further,shared/going-further"}
    ]
    devMode = true
