extends /app/pages/templates/framework-landing  

block configParams
  -
    formalName   = "Flask"
    informalName = "flask"
    icon         = "flask"
    iconCrumbs   = "python,flask"

block jsParams
  script.
    //- This is javascript
    requiredComponents = [
      {name:'Python', icon:'python', href:'#'},
      {name:'Postgres', icon:'postgres', href:'#'}
    ]
    optionalComponents = [
      {name:'MongoDB', icon:'mongo', href:'#'},
      {name:'Redis', icon:'redis', href:'#'}
    ]
    articleGroups = "python/flask"
