extends /app/pages/templates/framework-landing  

block configParams
  -
    title        = "Create and Deploy a Production Flask App"
    description  = "Learn how to setup a Flask development environment and configure it to deploy to production."
    keywords     = "flask, flask framework, python frameworks, flask config, flask development environment, flask production app, flask app, deploy flask, create flask app, config flask app"
    formalName   = "Flask"
    informalName = "flask"
    icon         = "flask"
    iconCrumbs   = "python,flask"

block jsParams
  script.
    //- This is javascript
    requiredComponents = [
      {name:'Python', icon:'python', href:'#'},
      {name:'Postgres', icon:'postgres', href:'#'}
    ]
    optionalComponents = [
      {name:'MongoDB', icon:'mongo', href:'#'},
      {name:'Redis', icon:'redis', href:'#'}
    ]
    articleGroups = "python/flask"
