extends /app/pages/templates/framework-landing  

block configParams
  -
    title        = "Create and Deploy a Production Python App | Nanobox"
    description  = "Learn how to setup a Python development environment and configure it to deploy to production."
    keywords     = "python, python config, python development environment, python production app, python app, deploy python, create python app, config python app"
    formalName   = "Python"
    informalName = "python"
    icon         = "python"
    iconCrumbs   = "python"
    noQuickstart = true

block jsParams
  script.
    //- This is javascript
    requiredComponents = [
      {name:'Python', icon:'python', href:'#'}
    ]
    optionalComponents = [
      {name:'Postgres', icon:'postgres', href:'#'},
      {name:'MongoDB', icon:'mongo', href:'#'},
      {name:'Redis', icon:'redis', href:'#'}
    ]
    articleGroups = "python/generic"
