extends /app/pages/templates/article  

block configParams
  -
    title    = "Team Management"
    articles = "python"
    icons    = "python"
    
block markdown
  include:md /articles/shared/team-management.md
