extends /app/pages/templates/article  

block configParams
  -
    title       = "Add a Database"
    keywords    = "golang,revel,add-a-database"
    description = "Add a database to Revel with Nanobox"
    articles    = "golang/revel"
    icons       = "golang,revel"
    
block markdown
  include:md /articles/golang/revel/add-a-database.md
