extends /app/pages/templates/article  

block configParams
  -
    title       = "Add a Database to a Revel Application | Nanobox"
    description = "How to add and connect to a database with a Revel applciation"
    keywords    = "golang, revel production application, manage revel application, revel database, revel and mongodb, revel and postgres, mongodb, postgres"
    articles    = "golang/revel"
    icons       = "golang,revel"
    id          = "Add a Database"
    
block markdown
  include:md /articles/golang/revel/add-a-database.md
