extends /app/pages/templates/article  

block configParams
  -
    title       = "Run an Existing Revel Applicatin in Docker | Nanobox"
    description = "Learn how to take an existing Revel application and run it using Docker"
    keywords    = "golang, revel production application, manage revel application, docker, revel on docker, containers"
    articles    = "golang/revel"
    icons       = "golang,revel"
    
block markdown
  include:md /articles/golang/revel/existing-app.md
