extends /app/pages/templates/article  

block configParams
  -
    title       = "Adding Javascript to a Revel Application | Nanobox"
    description = "How to add Javascript to a Revel application"
    keywords    = "golang, revel application, revel javascript, javascript"
    articles    = "golang/revel"
    icons       = "golang,revel"
    id          = "Frontend Javascript"
    
block markdown
  :md
    # Frontend Javascript
  include:md /articles/shared/partials/nodejs.md
  include:md /articles/shared/partials/package-managers.md
  include:md /articles/shared/partials/task-runners.md
