extends /app/pages/templates/article  

block configParams
  -
    title       = "Manage Revel Application Teams | Nanobox"
    description = "Easily manage Revel development teams and application collaborators"
    keywords    = "golang, revel production application, manage revel application, revel collaboration, team management"
    articles    = "golang/revel"
    icons       = "golang,revel"
    
block markdown
  include:md /articles/shared/team-management.md
