extends /app/pages/templates/article  

block configParams
  -
    title       = "Debug Echo Application in Production | Nanobox"
    description = "Learn how to debug a production Echo application"
    keywords    = "golang, echo production application, manage echo application, echo logging, echo monitoring, debug echo, debugging echo"
    articles    = "golang/echo"
    icons       = "golang,echo"
    
block markdown
  include:md /articles/shared/debugging.md
