extends /app/pages/templates/article  

block configParams
  -
    title       = "Adding Javascript to a Echo Application | Nanobox"
    description = "How to add Javascript to a Echo application"
    keywords    = "golang, echo application, echo javascript, javascript"
    articles    = "golang/echo"
    icons       = "golang,echo"
    id          = "Frontend Javascript"
    
block markdown
  :md
    # Frontend Javascript
  include:md /articles/shared/partials/nodejs.md
  include:md /articles/shared/partials/package-managers.md
  include:md /articles/shared/partials/task-runners.md
