extends /app/pages/templates/article  

block configParams
  -
    title       = "Remote Access"
    keywords    = "golang,echo,remote-access"
    description = "Remotely accessing your Echo app with Nanobox"
    articles    = "golang/echo"
    icons       = "golang,echo"
    
block markdown
  include:md /articles/shared/remote-access.md
