extends /app/pages/templates/article  

block configParams
  -
    title       = "Manage Echo Application Teams | Nanobox"
    description = "Easily manage Echo development teams and application collaborators"
    keywords    = "golang, echo production application, manage echo application, echo collaboration, team management"
    articles    = "golang/echo"
    icons       = "golang,echo"
    id          = "team-management"
    
block markdown
  include:md /articles/shared/team-management.md
