extends /app/pages/templates/article  

block configParams
  -
    title       = "Team Management"
    keywords    = "golang,echo,production,manage"
    description = "Managing your team with Nanobox"
    articles    = "golang/echo"
    icons       = "golang,echo"
    
block markdown
  include:md /articles/shared/team-management.md
