extends /app/pages/templates/article  

block configParams
  -
    title    = "Remote Access"
    articles = "golang/beego"
    icons    = "golang,beego"
    
block markdown
  include:md /articles/shared/going-further/remote-access.md
