extends /app/pages/templates/article  

block configParams
  -
    title       = "Add a Database to an Express Application | Nanobox"
    description = "How to add and connect to a database with an Express applciation"
    keywords    = "nodejs, express production application, manage express application, express database, express and mongodb, express and postgres, mongodb, postgres"
    articles    = "nodejs/express"
    icons       = "node,express"
    id          = "Add a Database"
    
block markdown
  include:md /articles/nodejs/express/add-a-database.md
