extends /app/pages/templates/article  

block configParams
  -
    title       = "Monitoring Production Express Applications | Nanobox"
    description = "Monitor a production Express application with live and historical stats"
    keywords    = "nodejs, express production application, manage express application, stats, nodejs stats, express stats, monitor express, express app health"
    articles    = "nodejs/express"
    icons       = "node,express"
    id          = "App Health"
    
block markdown
  include:md /articles/shared/app-health.md
