extends /app/pages/templates/article  

block configParams
  -
    title       = "App Health"
    keywords    = "nodejs,express,app-health"
    description = "Monitor your Express app health with Nanobox"
    articles    = "nodejs/express"
    icons       = "nodejs,express"
    
block markdown
  include:md /articles/shared/app-health.md
