extends /app/pages/templates/article  

block configParams
  -
    title       = "Configure Express for Production"
    keywords    = "nodejs,express,configure,production"
    description = "Configuring Express for production with Nanobox"
    articles    = "nodejs/express"
    icons       = "nodejs,express"
    
block markdown
  include:md /articles/nodejs/express/configure-express.md
