extends /app/pages/templates/article  

block configParams
  -
    title    = "Configure Express"
    articles = "nodejs/express"
    icons    = "nodejs,express"
    
block markdown
  include:md /articles/nodejs/express/configure-express.md
