extends /app/pages/templates/article  

block configParams
  -
    title       = "Configure Express to run in Production | Nanobox"
    description = "Learn how to configure an Express application to run in production"
    keywords    = "nodejs, express production application, manage express application, configure express, production express, express in production"
    articles    = "nodejs/express"
    icons       = "nodejs,express"
    id          = "Configure Express"
    
block markdown
  include:md /articles/nodejs/express/configure-express.md
