extends /app/pages/templates/article  

block configParams
  -
    title       = "Debug Express Application in Production | Nanobox"
    description = "Learn how to debug a production Express application"
    keywords    = "nodejs, express production application, manage express application, express logging, express monitoring, debug express, debugging express"
    articles    = "nodejs/express"
    icons       = "nodejs,express"
    
block markdown
  include:md /articles/shared/debugging.md
