extends /app/pages/templates/article  

block configParams
  -
    title    = "SSL/TLS Encryption"
    articles = "nodejs/express"
    icons    = "nodejs,express"
    
block markdown
  include:md /articles/shared//encryption.md
