extends /app/pages/templates/article  

block configParams
  -
    title       = "SSL/TLS Encryption"
    keywords    = "nodejs,express,ssl,tls,encryption"
    description = "Express SSL/TLS Encryption with Nanobox"
    articles    = "nodejs/express"
    icons       = "nodejs,express"
    
block markdown
  include:md /articles/shared/encryption.md
