extends /app/pages/templates/article  

block configParams
  -
    title       = "Add SSL/TLS Encryption to an Express Application | Nanobox"
    description = "Learn how to easily add SSL/TLS encryption to an Express production application"
    keywords    = "nodejs, express production application, manage express application, ssl, tls, encryption"
    articles    = "nodejs/express"
    icons       = "nodejs,express"
    
block markdown
  include:md /articles/shared/encryption.md
