extends /app/pages/templates/article  

block configParams
  -
    title       = "Run an Existing Express Application in Docker | Nanobox"
    description = "Learn how to take an existing Express application and run it using Docker"
    keywords    = "nodejs, express production application, manage express application, docker, express on docker, containers"
    articles    = "nodejs/express"
    icons       = "node,express"
    id          = "Existing Express App"
    
block markdown
  include:md /articles/nodejs/express/existing-app.md
