extends /app/pages/templates/article  

block configParams
  -
    title       = "Existing Express App"
    keywords    = "nodejs,express"
    description = "launch express app"
    articles    = "nodejs/express"
    icons       = "nodejs,express"
    
block markdown
  include:md /articles/nodejs/express/existing-app.md
