extends /app/pages/templates/article  

block configParams
  -
    title       = "Express From Scratch"
    keywords    = "nodejs,express,new"
    description = "Launch a new Express app with Nanobox"
    articles    = "nodejs/express"
    icons       = "nodejs,express"
    
block markdown
  include:md /articles/nodejs/express/from-scratch.md
