extends /app/pages/templates/article  

block configParams
  -
    title       = "Create an Express Application from Scratch | Nanobox"
    description = "Learn how to create a new Express application and local development environment"
    keywords    = "nodejs, express application, express application, nodejs dev environment, dev environment, express dev environemnt, express dev, docker, containers"
    articles    = "nodejs/express"
    icons       = "nodejs,express"
    
block markdown
  include:md /articles/nodejs/express/from-scratch.md
