extends /app/pages/templates/article  

block configParams
  -
    title       = "Adding Javascript to an Express Application | Nanobox"
    description = "How to add Javascriot to an Express application"
    keywords    = "nodejs, express application, express javascript, javascript"
    articles    = "nodejs/express"
    icons       = "nodejs,express"
    
block markdown
  :md
    # Frontend Javascript
  include:md /articles/shared/partials/nodejs.md
  include:md /articles/shared/partials/package-managers.md
  include:md /articles/shared/partials/task-runners.md
