extends /app/pages/templates/article  

block configParams
  -
    title       = "Install Nanobox"
    keywords    = "nodejs,express,nanobox"
    description = "nanobox for express"
    articles    = "nodejs/express"
    icons       = "nodejs,express"
    
block markdown
  include:md /articles/shared/install-nanobox.md
