extends /app/pages/templates/article  

block configParams
  -
    title       = "Launch your App"
    keywords    = "nodejs,express,launch"
    description = "launch express app"
    articles    = "nodejs/express"
    icons       = "nodejs,express"
    
block markdown
  :md
    # Launch Your App
  include:md /articles/shared/partials/launch-your-app.md
  include:md /articles/nodejs/express/launch-your-app.md
  include:md /articles/shared/partials/deploy-your-app.md
