extends /app/pages/templates/article  

block configParams
  -
    title       = "Launch an Express Application to Production | Nanobox"
    description = "Learn how to deploy an Express application to production servers"
    keywords    = "nodejs, express production application, manage express application, deploy express, launch express, express in production, express production servers"
    articles    = "nodejs/express"
    icons       = "nodejs,express"
    
block markdown
  :md
    # Launch Your App
  include:md /articles/shared/partials/launch-your-app.md
  include:md /articles/nodejs/express/launch-your-app.md
  include:md /articles/shared/partials/deploy-your-app.md
