extends /app/pages/templates/article  

block configParams
  -
    title       = "Local Environment Variables"
    keywords    = "nodejs,express,environment-variables"
    description = "express environment variables"
    articles    = "nodejs/express"
    icons       = "nodejs,express"
    
block markdown
  include:md /articles/shared/local-evars.md
