extends /app/pages/templates/article  

block configParams
  -
    title       = "Managing a Production Express Application | Nanobox"
    description = "Manage an Express application's logs, traffic, health, and storage"
    keywords    = "nodejs, express production application, manage express application, monitor express, express logging, load balancer, express monitoring, production logs"
    articles    = "nodejs/express"
    icons       = "node,express"
    id          = "Manage Platform"
    
block markdown
  include:md /articles/shared/manage-platform.md
