extends /app/pages/templates/article  

block configParams
  -
    title    = "Manage Platform"
    articles = "nodejs/express"
    icons    = "nodejs,express"
    
block markdown
  include:md /articles/shared//manage-platform.md
