extends /app/pages/templates/article  

block configParams
  -
    title       = "Adding a Domain to an Express Application | Nanobox"
    description = "How to point an existing domain name to an Express application"
    keywords    = "nodejs, express production application, manage express application point dns, add dns, domain, domin pointing, point domain"
    articles    = "nodejs/express"
    icons       = "nodejs,express"
    id          = "Point your Domain"
    
block markdown
  include:md /articles/shared/point-your-domain.md
