extends /app/pages/templates/article  

block configParams
  -
    title       = "Point your Domain"
    keywords    = "nodejs,express,dns,domain"
    description = "Point your domain to your Express app launched with Nanobox"
    articles    = "nodejs/express"
    icons       = "nodejs,express"
    
block markdown
  include:md /articles/shared/point-your-domain.md
