extends /app/pages/templates/article  

block configParams
  -
    title    = "Point your Domain"
    articles = "nodejs/express"
    icons    = "nodejs,express"
    
block markdown
  include:md /articles/shared/point-your-domain.md
