extends /app/pages/templates/article  

block configParams
  -
    title       = "Stage an Express application | Nanobox"
    description = "Easily stage an Express application before deplying to production"
    keywords    = "nodejs, express production application, manage express application, test express application, stage express application"
    articles    = "nodejs/express"
    icons       = "nodejs,express"
    id          = "Preview your App"
    
block markdown
  include:md /articles/nodejs/express/preview-your-app.md
