extends /app/pages/templates/article  

block configParams
  -
    title    = "Production Environment Variables"
    articles = "nodejs/express"
    icons    = "nodejs,express"
    
block markdown
  include:md /articles/shared//production-evars.md
