extends /app/pages/templates/article  

block configParams
  -
    title       = "Remote Access"
    keywords    = "nodejs,express,remote-access"
    description = "express remote access"
    articles    = "nodejs/express"
    icons       = "nodejs,express"
    
block markdown
  include:md /articles/shared/remote-access.md
