extends /app/pages/templates/article  

block configParams
  -
    title       = "Remote Access to Express Applications | Nanobox"
    description = "Securely manage running Express application with SSH remote access"
    keywords    = "nodejs, express production application, manage express application, ssh access, remote access, server management, secure access"
    articles    = "nodejs/express"
    icons       = "nodejs,express"
    
block markdown
  include:md /articles/shared/remote-access.md
