extends /app/pages/templates/article  

block configParams
  -
    title       = "Scale Your App"
    keywords    = "nodejs,express,production,scale"
    description = "how to scale express"
    articles    = "nodejs/express"
    icons       = "nodejs,express"
    
block markdown
  include:md /articles/shared/scale-your-app.md
