extends /app/pages/templates/article  

block configParams
  -
    title       = "Scale Express Applications | Nanobox"
    description = "Easily scale production Express applications with zero downtime"
    keywords    = "nodejs, express production application, manage express application, scale express application, zero downtime"
    articles    = "nodejs/express"
    icons       = "nodejs,express"
    
block markdown
  include:md /articles/shared/scale-your-app.md
