extends /app/pages/templates/article  

block configParams
  -
    title       = "Manage Express Application Teams | Nanobox"
    description = "Easily manage Express development teams and application collaborators"
    keywords    = "nodejs, express production application, manage express application, express collaboration, team management"
    articles    = "nodejs/express"
    icons       = "nodejs,express"
    
block markdown
  include:md /articles/shared/team-management.md
