extends /app/pages/templates/article  

block configParams
  -
    title       = "Managing Express Packages with Yarn & NPM | Nanobox"
    description = "How to manage Express application dependencies with Yarn & NPM"
    keywords    = "nodejs, express application, manage express application, yarn, npm, express yarn, express npm, nodejs yarn, nodejs npm"
    articles    = "nodejs/express"
    icons       = "node,express"
    id          = "Yarn & NPM"
    
block markdown
  include:md /articles/nodejs/yarn-npm.md
