extends /app/pages/templates/article  

block configParams
  -
    title    = "Connect to MongoDB"
    articles = "mongodb"
    icons    = "mongo"
    
block markdown
  include:md /articles/mongodb/connect.md
