extends /app/pages/templates/article

block configParams
  -
    title       = "Create a MongoDB Component"
    description = "Create a MongoDB component with Nanobox"
    articles    = "mongodb"
    icons       = "mongo"

block markdown
  include:md /articles/mongodb/create.md
