extends /app/pages/templates/article

block configParams
  -
    title       = "Create a MongoDB Database in Local and Production Environments | Nanobox"
    description = "Instructions for creating to a MongoDB database in development and production with Nanobox"
    keywords    = "deploy mongodb, mongodb in production, mongodb, mongo, scaling mongodb, local mongodb, local development, configure mongodb"
    articles    = "mongodb"
    icons       = "mongo"

block markdown
  include:md /articles/mongodb/create.md
