extends /app/pages/templates/article  

block configParams
  -
    title       = "Manage Local MongoDB Data | Nanobox"
    description = "Instructions for managing local MongoDB data in apps running in Nanobox"
    keywords    = "deploy mongodb, mongodb in production, mongodb, scaling mongodb, local mongodb, local development, configure mongodb"
    articles    = "mongodb"
    icons       = "mongo"
    
block markdown
  include:md /articles/mongodb/manage-local.md
