extends /app/pages/templates/article  

block configParams
  -
    title       = "Managing Production Data"
    description = "Managing production MongoDB data with Nanobox"
    articles    = "mongodb"
    icons       = "mongo"
    
block markdown
  include:md /articles/mongodb/manage-production.md
