extends /app/pages/templates/article  

block configParams
  -
    title    = "Point your Domain"
    articles = "php"
    icons    = "php"
    
block markdown
  include:md /articles/shared/production/point-your-domain.md
