extends /app/pages/templates/article  

block configParams
  -
    title    = "Managing Local Data"
    articles = "redis"
    icons    = "redis"
    
block markdown
  include:md /articles/redis/manage-local.md
