extends /app/pages/templates/article  

block configParams
  -
    title       = "Configure Iris for Production"
    keywords    = "golang,iris,configure,production"
    description = "Configuring Iris for production with Nanobox"
    articles    = "golang/iris"
    icons       = "golang,iris"
    
block markdown
  include:md /articles/golang/iris/configure-iris.md
