extends /app/pages/templates/article  

block configParams
  -
    title       = "Configure Iris to run in Production | Nanobox"
    description = "Learn how to configure a Iris application to run in production"
    keywords    = "golang, iris production application, manage iris application, configure iris, production iris, iris in production"
    articles    = "golang/iris"
    icons       = "golang,iris"
    id          = "Configure Iris"
    
block markdown
  include:md /articles/golang/iris/configure-iris.md
