extends /app/pages/templates/article  

block configParams
  -
    title       = "Debug Iris Application in Production | Nanobox"
    description = "Learn how to debug a production Iris application"
    keywords    = "golang, iris production application, manage iris application, iris logging, iris monitoring, debug iris, debugging iris"
    articles    = "golang/iris"
    icons       = "golang,iris"
    id          = "Debugging"
    
block markdown
  include:md /articles/shared/debugging.md
