extends /app/pages/templates/article  

block configParams
  -
    title       = "Frontend Javascript"
    keywords    = "golang,iris,javascript,node,yarn,npm,bower,gulp,grunt,brunch,broccoli"
    description = "Frontend javascript in Iris with Nanobox"
    articles    = "golang/iris"
    icons       = "golang,iris"
    
block markdown
  :md
    # Frontend Javascript
  include:md /articles/shared/partials/nodejs.md
  include:md /articles/shared/partials/package-managers.md
  include:md /articles/shared/partials/task-runners.md
