extends /app/pages/templates/article  

block configParams
  -
    title       = "Managing a Production Iris Application | Nanobox"
    description = "Manage a Iris application's logs, traffic, health, and storage"
    keywords    = "golang, iris production application, manage iris application, monitor iris, iris logging, load balancer, iris monitoring, production logs"
    articles    = "golang/iris"
    icons       = "golang,iris"
    id          = "Manage Platform"
    
block markdown
  include:md /articles/shared/manage-platform.md
