extends /app/pages/templates/article  

block configParams
  -
    title       = "Point your Domain"
    keywords    = "golang,iris,dns,domain"
    description = "Point your domain to your Iris app launched with Nanobox"
    articles    = "golang/iris"
    icons       = "golang,iris"
    
block markdown
  include:md /articles/shared/point-your-domain.md
