extends /app/pages/templates/article  

block configParams
  -
    title       = "Production Environment Variables"
    keywords    = "golang,iris,environment-variables"
    description = "Iris environment variables in production with Nanobox"
    articles    = "golang/iris"
    icons       = "golang,iris"
    
block markdown
  include:md /articles/shared/production-evars.md
