extends /app/pages/templates/article  

block configParams
  -
    title       = "Add Environment Variable to Production Iris Application | Nanobox"
    description = "Learn how to add environment variable to a production Iris application"
    keywords    = "golang, iris production application, manage iris application, iris environment variables, environment variables"
    articles    = "golang/iris"
    icons       = "golang,iris"
    
block markdown
  include:md /articles/shared/production-evars.md
