extends /app/pages/templates/framework-landing  

block configParams
  -
    title        = "Create and Deploy a Production Amber App | Nanobox"
    description  = "Learn how to setup an Amber development environment and configure it to deploy to production."
    keywords     = "amber, amber framework, crystal frameworks, amber config, amber development environment, amber production app, amber app, deploy amber, create amber app, config amber app"
    formalName   = "Amber"
    informalName = "Amber"
    icon         = "amber"
    iconCrumbs   = "crystal,amber"

block jsParams
  script.
    //- This is javascript
    requiredComponents = [
      {name:'Crystal', icon:'crystal', href:'#'},
      {name:'Postgres', icon:'postgres', href:'#'}
    ]
    optionalComponents = [
      {name:'MongoDB', icon:'mongo', href:'#'},
      {name:'Redis', icon:'redis', href:'#'}
    ]
    articleGroups = "crystal/amber"
