extends /app/pages/templates/article  

block configParams
  -
    title    = "Add App Components"
    articles = "golang"
    icons    = "golang"
    
block markdown
  include:md /articles/golang/add-components.md
