extends /app/pages/templates/article  

block configParams
  -
    title    = "App Health"
    articles = "golang"
    icons    = "golang"
    
block markdown
  include:md /articles/shared/app-health.md
