extends /app/pages/templates/framework-landing  

block configParams
  -
    formalName   = "Beego"
    informalName = "beego"
    icon         = "beego"
    iconCrumbs   = "golang,beego"

block jsParams
  script.
    //- This is javascript
    requiredComponents = [
      {name:'Golang', icon:'golang', href:'#'},
      {name:'Postgres', icon:'postgres', href:'#'}
    ]
    optionalComponents = [
      {name:'MongoDB', icon:'mongo', href:'#'},
      {name:'Redis', icon:'redis', href:'#'}
    ]
    articleGroups = [
      {title:"Getting Started", group:"golang/beego/getting-started"},
      {title:"Next Steps",      group:"golang/beego/next-steps"},
      {title:"Production",      group:"golang/beego/production"},
      {title:"Going Further",   group:"golang/beego/going-further"}
    ]
    devMode = true
