extends /app/pages/templates/article  

block configParams
  -
    title    = "Getting Started"
    articles = "golang"
    icons    = "golang"
    
block markdown
  include:md /articles/golang/generic/getting-started.md
