extends /app/pages/templates/framework-landing  

block configParams
  -
    title        = "gin with Nanobox"
    description  = "Get gin up and running with Nanobox"
    formalName   = "gin"
    informalName = "gin"
    icon         = "gin"
    iconCrumbs   = "golang,gin"

block jsParams
  script.
    //- This is javascript
    requiredComponents = [
      {name:'Golang', icon:'golang', href:'#'},
      {name:'Postgres', icon:'postgres', href:'#'}
    ]
    optionalComponents = [
      {name:'MongoDB', icon:'mongo', href:'#'},
      {name:'Redis', icon:'redis', href:'#'}
    ]
    articleGroups = "golang/gin"
    devMode = true
