extends /app/pages/templates/framework-landing  

block configParams
  -
    formalName   = "Hugo"
    informalName = "hugo"
    icon         = "hugo"
    iconCrumbs   = "golang,hugo"

block jsParams
  script.
    //- This is javascript
    requiredComponents = [
      {name:'Golang', icon:'golang', href:'#'}
    ]
    optionalComponents = []
    articleGroups = [
      {title:"Getting Started", group:"golang/hugo/getting-started"},
      {title:"Next Steps",      group:"golang/hugo/next-steps"},
      {title:"Production",      group:"golang/hugo/production"},
      {title:"Going Further",   group:"golang/hugo/going-further"}
    ]
    devMode = true
