extends /app/pages/templates/framework-landing  

block configParams
  -
    title        = "Create and Deploy a Production Iris App | Nanobox"
    description  = "Learn how to setup an Iris development environment and configure it to deploy to production."
    keywords     = "iris, iris framework, golang frameworks, iris config, iris development environment, iris production app, iris app, deploy iris, create iris app, config iris app"
    formalName   = "Iris"
    informalName = "iris"
    icon         = "iris"
    iconCrumbs   = "golang,iris"

block jsParams
  script.
    //- This is javascript
    requiredComponents = [
      {name:'Golang', icon:'golang', href:'#'},
      {name:'Postgres', icon:'postgres', href:'#'}
    ]
    optionalComponents = [
      {name:'MongoDB', icon:'mongo', href:'#'},
      {name:'Redis', icon:'redis', href:'#'}
    ]
    articleGroups = "golang/iris"
    devMode = true
