extends /app/pages/templates/language-landing  

block configParams
  -
    title        = "Create and Deploy C Framework Applications | Nanobox"
    description  = "Learn how to setup a C framework development environment and configure it to deploy to production."
    keywords     = "c framework, c config, c development environment, c production apps, c apps, deploy c, create c apps, config c apps"
    formalName   = "C"
    informalName = "c"
    icon         = "c"
    frameworks   = "c"

block jsParams
  script.
    //- This is javascript
    articleGroups = ""
    devMode = true
