extends /app/pages/templates/language-landing  

block configParams
  -
    title        = "C & C Frameworks with Nanobox"
    description  = "Guides for using C and C frameworks with Nanobox"
    formalName   = "C"
    informalName = "c"
    icon         = "c"
    frameworks   = "c"

block jsParams
  script.
    //- This is javascript
    articleGroups = ""
    devMode = true
