extends /app/pages/templates/language-landing  

block configParams
  -
    formalName   = "Clojure"
    informalName = "clojure"
    icon         = "clojure"
    frameworks   = "clojure"

block jsParams
  script.
    //- This is javascript
    articleGroups = ""
    devMode = true
