extends /app/pages/templates/language-landing  

block configParams
  -
    title        = "Clojure & Clojure Frameworks with Nanobox"
    description  = "Guides for using Clojure and Clojure frameworks with Nanobox"
    formalName   = "Clojure"
    informalName = "clojure"
    icon         = "clojure"
    frameworks   = "clojure"

block jsParams
  script.
    //- This is javascript
    articleGroups = ""
    devMode = true
