extends /app/pages/templates/base

block configParams
  -
    title       = "Databases, Languages, Caches, and File Storage with Nanobox | Nanobox"
    description = "Creating databases, caches, and file storage components using different programming languages for apps to deploy with Nanobox"
    keywords    = "create a database, create mysql, create redis, create postgres, create nfs, create unfs, create mongodb, create memcached, local postgres, local mysql, local memcached, local redis, local mongodb"

block js
block content
  .article-page.landing.services 
    .main
      .title 
        .full Data Components
        .sub Databases / Caching
      .cluster
        a.hex.language(href="/mysql")
          .icon
            img.shadow-icon(data-src="hex-mysql" scalable="true") 
          .txt MySQL
        a.hex.language(href="/mongodb")
          .icon
            img.shadow-icon(data-src="hex-mongo" scalable="true") 
          .txt MongoDB
        a.hex.language(href="/redis")
          .icon
            img.shadow-icon(data-src="hex-redis" scalable="true") 
          .txt Redis
        a.hex.language(href="/memcached")
          .icon
            img.shadow-icon(data-src="hex-memcached" scalable="true") 
          .txt Memcached
        a.hex.language(href="/postgresql")
          .icon
            img.shadow-icon(data-src="hex-postgres" scalable="true") 
          .txt Postres
        a.hex.language(href="/rethinkdb")
          .icon
            img.shadow-icon(data-src="hex-rethink" scalable="true") 
          .txt RethinkDB
        a.hex.language(href="/storage")
          .icon
            img.shadow-icon(data-src="hex-storage" scalable="true") 
          .txt Storage
      
      .title 
        .full Code Components
        .sub Code / Workers
      .cluster
        a.hex.language(href="/c")
          .icon
            img.shadow-icon(data-src="hex-c" scalable="true") 
          .txt c
        a.hex.language(href="/clojure")
          .icon
            img.shadow-icon(data-src="hex-clojure" scalable="true") 
          .txt clojure
        a.hex.language(href="/elixir")
          .icon
            img.shadow-icon(data-src="hex-elixir" scalable="true") 
          .txt elixir
        a.hex.language(href="/erlang")
          .icon
            img.shadow-icon(data-src="hex-erlang" scalable="true") 
          .txt erlang
        a.hex.language(href="/golang")
          .icon
            img.shadow-icon(data-src="hex-golang" scalable="true") 
          .txt GO
        a.hex.language(href="/java")
          .icon
            img.shadow-icon(data-src="hex-java" scalable="true") 
          .txt java
        a.hex.language(href="/javascript")
          .icon
            img.shadow-icon(data-src="hex-javascript" scalable="true") 
          .txt javascript
        a.hex.language(href="/lisp")
          .icon
            img.shadow-icon(data-src="hex-lisp" scalable="true") 
          .txt lisp
        a.hex.language(href="/lua")
          .icon
            img.shadow-icon(data-src="hex-lua" scalable="true") 
          .txt lua
        a.hex.language(href="/net")
          .icon
            img.shadow-icon(data-src="hex-net" scalable="true") 
          .txt .NET
        a.hex.language(href="/nodejs")
          .icon
            img.shadow-icon(data-src="hex-node" scalable="true") 
          .txt Node.js
        a.hex.language(href="/perl")
          .icon
            img.shadow-icon(data-src="hex-perl" scalable="true") 
          .txt perl
        a.hex.language(href="/php")
          .icon
            img.shadow-icon(data-src="hex-php" scalable="true") 
          .txt php
        a.hex.language(href="/python")
          .icon
            img.shadow-icon(data-src="hex-python" scalable="true") 
          .txt python
        a.hex.language(href="/ruby")
          .icon
            img.shadow-icon(data-src="hex-ruby" scalable="true") 
          .txt ruby
        a.hex.language(href="/rust")
          .icon
            img.shadow-icon(data-src="hex-rust" scalable="true") 
          .txt rust
        a.hex.language(href="/scala")
          .icon
            img.shadow-icon(data-src="hex-scala" scalable="true") 
          .txt Scala
