extends /app/pages/templates/language-landing  

block configParams
  -
    title        = "Create & Deploy Crystal Framework Applications | Nanobox"
    description  = "Learn how to setup a Crystal framework development environment and configure it to deploy to production."
    keywords     = "crystal framework, crystal config, crystal development environment, crystal production apps, crystal apps, deploy crystal, create crystal apps, config crystal apps"
    formalName   = "Crystal"
    informalName = "crystal"
    icon         = "crystal"
    frameworks   = "crystal"

block jsParams
  script.
    //- This is javascript
    articleGroups = "crystal"
