extends /app/pages/templates/language-landing  

block configParams
  -
    formalName   = "Elixir"
    informalName = "elixir"
    icon         = "elixir"
    frameworks   = "elixir"

block jsParams
  script.
    //- This is javascript
    articleGroups = []
    devMode = true
