extends /app/pages/templates/language-landing  

block configParams
  -
    title        = "Create and Deploy Elixir Framework Applications | Nanobox"
    description  = "Learn how to setup an Elixir framework development environment and configure it to deploy to production."
    keywords     = "elixir framework, elixir config, elixir development environment, elixir production apps, elixir apps, deploy elixir, create elixir apps, config elixir apps"
    formalName   = "Elixir"
    informalName = "elixir"
    icon         = "elixir"
    frameworks   = "elixir"

block jsParams
  script.
    //- This is javascript
    articleGroups = ""
