extends /app/pages/templates/language-landing  

block configParams
  -
    title        = "Erlang & Erlang Frameworks with Nanobox"
    description  = "Guides for using Erlang and Erlang frameworks with Nanobox"
    formalName   = "Erlang"
    informalName = "erlang"
    icon         = "erlang"
    frameworks   = "erlang"

block jsParams
  script.
    //- This is javascript
    articleGroups = ""
    devMode = true
