extends /app/pages/templates/language-landing  

block configParams
  -
    title        = "Create and Deploy Erlang Framework Applications | Nanobox"
    description  = "Learn how to setup an Erlang framework development environment and configure it to deploy to production."
    keywords     = "erlang framework, erlang config, erlang development environment, erlang production apps, erlang apps, deploy erlang, create erlang apps, config erlang apps"
    formalName   = "Erlang"
    informalName = "erlang"
    icon         = "erlang"
    frameworks   = "erlang"

block jsParams
  script.
    //- This is javascript
    articleGroups = ""
    devMode = true
