extends /app/pages/templates/language-landing  

block configParams
  -
    formalName   = "Erlang"
    informalName = "erlang"
    icon         = "erlang"
    frameworks   = "erlang"

block jsParams
  script.
    //- This is javascript
    articleGroups = []
    devMode = true
