extends /app/pages/templates/language-landing  

block configParams
  -
    title        = "Go & Go Frameworks with Nanobox"
    description  = "Guides for using Go and Go frameworks with Nanobox"
    formalName   = "Golang"
    informalName = "golang"
    icon         = "golang"
    frameworks   = "golang"

block jsParams
  script.
    //- This is javascript
    articleGroups = "golang"
    devMode = true
