extends /app/pages/templates/framework-landing  

block configParams
  -
    formalName   = "Go"
    informalName = "Go"
    icon         = "golang"

block jsParams
  script.
    //- This is javascript
    articleGroups = [
      {title:"First Steps",   group:"shared/first-steps,golang/first-steps"},
      {title:"Deps Management", group:"golang/dependency-management"},
      {title:"Configuration", group:"golang/configuration"},
      {title:"Production",    group:"golang/production,shared/production"},
      {title:"Going Further", group:"shared/going-further"},
      {title:"Frameworks",    group:"golang/frameworks"}
    ]
    requiredComponents = [
      {name:'go', icon:'golang', href:'#'}
    ]
    optionalComponents = [
      {name:'MySQL',      icon:'mysql',    href:'#'},
      {name:'PostgreSQL', icon:'postgres', href:'#'},
      {name:'MongoDB',    icon:'mongo',    href:'#'},
      {name:'Redis',      icon:'redis',    href:'#'},      
      {name:'Memcached',  icon:'memcached',href:'#'}
    ]
