extends /app/pages/templates/language-landing  

block configParams
  -
    title        = "Create and Deploy Golang Framework Applications | Nanobox"
    description  = "Learn how to setup a Golang framework development environment and configure it to deploy to production."
    keywords     = "golang framework, golang config, golang development environment, golang production apps, golang apps, deploy golang, create golang apps, config golang apps"
    formalName   = "Golang"
    informalName = "golang"
    icon         = "golang"
    frameworks   = "golang"

block jsParams
  script.
    //- This is javascript
    articleGroups = "golang"
    devMode = true
