extends templates/base

block css
  // build:index /css/index.css
  // endbuild

block js
  // build:index /js/index.js
  script(src="/js/index.js")
  // endbuild
  
block content
  .index
    .languages
      .title
        img.shadow-icon(data-src="map")
        .txt Guides : Choose A Language
      .language-icons
        .row
          a.hex.language(data-language="golang")
            .icon
              img.shadow-icon(data-src="hex-golang" scalable="true") 
            .txt Go
          a.hex.language(data-language="ruby")
            .icon
              img.shadow-icon(data-src="hex-ruby" scalable="true") 
            .txt Ruby
          a.hex.language(data-language="node")
            .icon
              img.shadow-icon(data-src="hex-node" scalable="true") 
            .txt Nodejs
          a.hex.language(data-language="python")
            .icon
              img.shadow-icon(data-src="hex-python" scalable="true") 
            .txt Python
          a.hex.language(data-language="java")
            .icon
              img.shadow-icon(data-src="hex-java" scalable="true") 
            .txt Java
        .row
          a.hex.language(data-language="php")
            .icon
              img.shadow-icon(data-src="hex-php" scalable="true") 
            .txt PHP
          a.hex.language(data-language="javascript")
            .icon
              img.shadow-icon(data-src="hex-javascript" scalable="true") 
            .txt Javascript
          //- a.hex.language(data-language="rust")
          //-   .icon
          //-     img.shadow-icon(data-src="hex-rust" scalable="true") 
          //-   .txt Rust
          a.hex.language(data-language="scala")
            .icon
              img.shadow-icon(data-src="hex-scala" scalable="true") 
            .txt Scala
          a.hex.language(data-language="c")
            .icon
              img.shadow-icon(data-src="hex-c" scalable="true") 
            .txt C
          a.hex.language(data-language="erlang")
            .icon
              img.shadow-icon(data-src="hex-erlang" scalable="true") 
            .txt Erlang
      a.direction-link.more(href="#")
        .txt View More
        img.shadow-icon(data-src="right-arrow")
