extends /app/pages/templates/language-landing  

block configParams
  -
    formalName   = "Java"
    informalName = "java"
    icon         = "java"
    frameworks   = "java"

block jsParams
  script.
    //- This is javascript
    articleGroups = ""
    devMode = true
