extends /app/pages/templates/language-landing  

block configParams
  -
    title        = "Javascript & Javascript Frameworks with Nanobox"
    description  = "Guides for using Javascript and Javascript frameworks with Nanobox"
    formalName   = "Javascript"
    informalName = "javascript"
    icon         = "javascript"
    frameworks   = "javascript"

block jsParams
  script.
    //- This is javascript
