extends /app/pages/templates/language-landing  

block configParams
  -
    title        = "Create and Deploy Java Framework Applications | Nanobox"
    description  = "Learn how to setup a Java framework development environment and configure it to deploy to production."
    keywords     = "java framework, java config, java development environment, java production apps, java apps, deploy java, create java apps, config java apps"
    formalName   = "Java"
    informalName = "java"
    icon         = "java"
    frameworks   = "java"

block jsParams
  script.
    //- This is javascript
    articleGroups = ""
    devMode = true
