extends /app/pages/templates/language-landing  

block configParams
  -
    title        = "Create and Deploy Javascript Framework Applications | Nanobox"
    description  = "Learn how to setup a Javascript framework development environment and configure it to deploy to production."
    keywords     = "javascript framework, javascript config, javascript development environment, javascript production apps, javascript apps, deploy javascript, create javascript apps, config javascript apps"
    formalName   = "Javascript"
    informalName = "javascript"
    icon         = "javascript"
    frameworks   = "javascript"

block jsParams
  script.
    //- This is javascript
