extends /app/pages/templates/language-landing  

block configParams
  -
    formalName   = "Javascript"
    informalName = "javascript"
    icon         = "javascript"
    frameworks   = "javascript"

block jsParams
  script.
    //- This is javascript
    articleGroups = ""
