extends /app/pages/templates/language-landing  

block configParams
  -
    title        = "Java & Java Frameworks with Nanobox"
    description  = "Guides for using Java and Java frameworks with Nanobox"
    formalName   = "Java"
    informalName = "java"
    icon         = "java"
    frameworks   = "java"

block jsParams
  script.
    //- This is javascript
    articleGroups = ""
    devMode = true
