extends /app/pages/templates/language-landing  

block configParams
  -
    title        = "Lisp & Lisp Frameworks with Nanobox"
    description  = "Guides for using Lisp and Lisp frameworks with Nanobox"
    formalName   = "Lisp"
    informalName = "lisp"
    icon         = "lisp"
    frameworks   = "lisp"

block jsParams
  script.
    //- This is javascript
    articleGroups = ""
    devMode = true
