extends /app/pages/templates/language-landing  

block configParams
  -
    title        = "Lua & Lua Frameworks with Nanobox"
    description  = "Guides for using Lua and Lua frameworks with Nanobox"
    formalName   = "Lua"
    informalName = "lua"
    icon         = "lua"
    frameworks   = "lua"

block jsParams
  script.
    //- This is javascript
    articleGroups = ""
    devMode = true
