extends /app/pages/templates/framework-landing

block configParams
  -
    title        = "Memcached with Nanobox"
    description  = "Guides for using Memcached components with Nanobox"
    formalName   = "Memcached"
    informalName = "Memcached"
    icon         = "memcached"
    noQuickstart = true

block jsParams
  script.
    //- This is javascript
    articleGroups = "memcached"
    requiredComponents = [
      {name:'Memcached', icon:'memcached', href:'#'}
    ]
