extends /app/pages/templates/framework-landing

block configParams
  -
    title        = "Deploy and Manage Memcached in Production and Locally | Nanobox"
    description  = "How to create, configure, and manage Memcached locally and in production with Nanobox."
    keywords     = "deploy memcached, memcached in production, memcached, scaling memcached, local memcached, memcached local development, configure memcached"
    formalName   = "Memcached"
    informalName = "Memcached"
    icon         = "memcached"
    noQuickstart = true

block jsParams
  script.
    //- This is javascript
    articleGroups = "memcached"
    requiredComponents = [
      {name:'Memcached', icon:'memcached', href:'#'}
    ]
