extends /app/pages/templates/framework-landing

block configParams
  -
    title        = "MongoDB with Nanobox"
    description  = "Guides for using MongoDB components with Nanobox"
    formalName   = "MongoDB"
    informalName = "Mongo"
    icon         = "mongo"
    noQuickstart = true

block jsParams
  script.
    //- This is javascript
    articleGroups = "mongodb"
    requiredComponents = [
      {name:'MongoDB', icon:'mongo', href:'#'}
    ]
