extends /app/pages/templates/framework-landing  

block configParams
  -
    formalName   = "MongoDB"
    informalName = "Mongo"
    icon         = "mongo"

block jsParams
  script.
    //- This is javascript
    articleGroups = "mongodb"
    requiredComponents = [
      {name:'MongoDB', icon:'mongo', href:'#'}
    ]
