extends /app/pages/templates/framework-landing  

block configParams
  -
    formalName   = "MongoDB"
    informalName = "Mongo"
    icon         = "mongo"

block jsParams
  script.
    //- This is javascript
    articleGroups = [
      {title:"Getting Started", group:"mongodb/getting-started"},
      {title:"Configuration",   group:"mongodb/configuration"},
      {title:"Managing",        group:"mongodb/manage"}
    ]
    requiredComponents = [
      {name:'MongoDB', icon:'mongo', href:'#'}
    ]
