extends /app/pages/templates/framework-landing

block configParams
  -
    title        = "Deploy and Manage MongoDB in Production and Locally | Nanobox"
    description  = "How to create, configure, and manage a MongoDB database locally and in production with Nanobox."
    keywords     = "deploy mongodb, mongodb in production, mongodb, scaling mongodb database, local mongodb, mongodb local development, configure mongodb"
    formalName   = "MongoDB"
    informalName = "Mongo"
    icon         = "mongo"
    noQuickstart = true

block jsParams
  script.
    //- This is javascript
    articleGroups = "mongodb"
    requiredComponents = [
      {name:'MongoDB', icon:'mongo', href:'#'}
    ]
