extends /app/pages/templates/framework-landing  

block configParams
  -
    formalName   = "MySQL"
    informalName = "MySQL"
    icon         = "mysql"

block jsParams
  script.
    //- This is javascript
    articleGroups = "mysql"
    requiredComponents = [
      {name:'MySQL', icon:'mysql', href:'#'}
    ]
