extends /app/pages/templates/framework-landing

block configParams
  -
    title        = "MySQL with Nanobox"
    description  = "Guides for using MySQL databases with Nanobox"
    formalName   = "MySQL"
    informalName = "MySQL"
    icon         = "mysql"
    noQuickstart = true

block jsParams
  script.
    //- This is javascript
    articleGroups = "mysql"
    requiredComponents = [
      {name:'MySQL', icon:'mysql', href:'#'}
    ]
