extends /app/pages/templates/language-landing  

block configParams
  -
    formalName   = ".NET"
    informalName = ".net"
    icon         = "net"
    frameworks   = "net"

block jsParams
  script.
    //- This is javascript
    articleGroups = []
    devMode = true
