extends /app/pages/templates/language-landing  

block configParams
  -
    title        = ".NET & .NET Frameworks with Nanobox"
    description  = "Guides for using .NET and .NET frameworks with Nanobox"
    formalName   = ".NET"
    informalName = ".net"
    icon         = "net"
    frameworks   = "net"

block jsParams
  script.
    //- This is javascript
    articleGroups = ""
    devMode = true
