extends /app/pages/templates/language-landing  

block configParams
  -
    title        = "Create and Deploy .NET Framework Applications | Nanobox"
    description  = "Learn how to setup a .NET framework development environment and configure it to deploy to production."
    keywords     = ".net framework, .net config, .net development environment, .net production apps, .net apps, deploy .net, create .net apps, config .net apps"
    formalName   = ".NET"
    informalName = ".net"
    icon         = "net"
    frameworks   = "net"

block jsParams
  script.
    //- This is javascript
    articleGroups = ""
    devMode = true
