extends /app/pages/templates/language-landing  

block configParams
  -
    title        = "Node.js & Node.js Frameworks with Nanobox"
    description  = "Guides for using Node.js and Node.js frameworks with Nanobox"
    formalName   = "Node.js"
    informalName = "nodejs"
    icon         = "node"
    frameworks   = "node"

block jsParams
  script.
    //- This is javascript
    articleGroups = "nodejs"
