extends /app/pages/templates/language-landing  

block configParams
  -
    formalName   = "Node.js"
    informalName = "node"
    icon         = "node"
    frameworks   = "node"

block jsParams
  script.
    //- This is javascript
    articleGroups = [
      {title:"First Steps",   group:"shared/first-steps,nodejs/first-steps"},
      {title:"Deps Management", group:"nodejs/dependency-management"},
      {title:"Production",    group:"nodejs/production,shared/production"},
      {title:"Going Further", group:"shared/going-further"},
      {title:"Frameworks",    group:"nodejs/frameworks"}
    ]
    devMode = true
