extends /app/pages/templates/language-landing  

block configParams
  -
    formalName   = "Node.js"
    informalName = "nodejs"
    icon         = "node"
    frameworks   = "node"

block jsParams
  script.
    //- This is javascript
    articleGroups = "nodejs"
