extends /app/pages/templates/framework-landing  

block configParams
  -
    formalName   = "Node.js"
    informalName = "Node"
    icon         = "node"

block jsParams
  script.
    //- This is javascript
    articleGroups = [
      {title:"First Steps",   group:"shared/first-steps,nodejs/first-steps"},
      {title:"Deps Management", group:"nodejs/dependency-management"},
      {title:"Configuration", group:"nodejs/configuration"},
      {title:"Production",    group:"nodejs/production,shared/production"},
      {title:"Going Further", group:"shared/going-further"},
      {title:"Frameworks",    group:"nodejs/frameworks"}
    ]
    requiredComponents = [
      {name:'nodejs', icon:'node', href:'#'}
    ]
    optionalComponents = [
      {name:'MySQL',      icon:'mysql',    href:'#'},
      {name:'PostgreSQL', icon:'postgres', href:'#'},
      {name:'MongoDB',    icon:'mongo',    href:'#'},
      {name:'Redis',      icon:'redis',    href:'#'},      
      {name:'Memcached',  icon:'memcached',href:'#'}
    ]
