extends /app/pages/templates/language-landing  

block configParams
  -
    title        = "Create and Deploy Perl Framework Applications | Nanobox"
    description  = "Learn how to setup a Perl framework development environment and configure it to deploy to production."
    keywords     = "perl framework, perl config, perl development environment, perl production apps, perl apps, deploy perl, create perl apps, config perl apps"
    formalName   = "Perl"
    informalName = "perl"
    icon         = "perl"
    frameworks   = "perl"

block jsParams
  script.
    //- This is javascript
    articleGroups = ""
    devMode = true
