extends /app/pages/templates/language-landing  

block configParams
  -
    formalName   = "Perl"
    informalName = "perl"
    icon         = "perl"
    frameworks   = "perl"

block jsParams
  script.
    //- This is javascript
    articleGroups = ""
    devMode = true
