extends /app/pages/templates/language-landing  

block configParams
  -
    title        = "Create and Deploy PHP Framework Applications | Nanobox"
    description  = "Learn how to setup a PHP framework development environment and configure it to deploy to production."
    keywords     = "php framework, php config, php development environment, php production apps, php apps, deploy php, create php apps, config php apps"
    formalName   = "PHP"
    informalName = "php"
    icon         = "php"
    frameworks   = "php"

block jsParams
  script.
    //- This is javascript
    articleGroups = "php"
