extends /app/pages/templates/language-landing  

block configParams
  -
    formalName   = "PHP"
    informalName = "PHP"
    icon         = "php"
    frameworks   = "php"

block jsParams
  script.
    //- This is javascript
    articleGroups = [
      {title:"First Steps",   group:"shared/first-steps,php/first-steps"},
      {title:"Deps Management", group:"php/dependency-management"},
      {title:"Configuration", group:"php/configuration"},
      {title:"Production",    group:"php/production,shared/production"},
      {title:"Going Further", group:"shared/going-further"},
      {title:"Frameworks",    group:"php/frameworks"}
    ]
    devMode = true
