extends /app/pages/templates/language-landing  

block configParams
  -
    formalName   = "PHP"
    informalName = "PHP"
    icon         = "php"
    frameworks   = "php"

block jsParams
  script.
    //- This is javascript
    articleGroups = "php"
    devMode = true
