extends /app/pages/templates/language-landing  

block configParams
  -
    title        = "PHP & PHP Frameworks with Nanobox"
    description  = "Guides for using PHP and PHP frameworks with Nanobox"
    formalName   = "PHP"
    informalName = "php"
    icon         = "php"
    frameworks   = "php"

block jsParams
  script.
    //- This is javascript
    articleGroups = "php"
