extends /app/pages/templates/framework-landing

block configParams
  -
    title        = "Deploy and Manage PostreSQL in Production and Locally | Nanobox"
    description  = "How to create, configure, and manage a PostgreSQL database locally and in production with Nanobox."
    keywords     = "deploy postgres, postgres in production, postgresql, scaling postgres database, local postgres, local development, configure postgres"
    formalName   = "PostgreSQL"
    informalName = "Postgres"
    icon         = "postgres"
    noQuickstart = true

block jsParams
  script.
    //- This is javascript
    articleGroups = "postgresql"

    requiredComponents = [
      {name:'PostgreSQL', icon:'postgres', href:'#'}
    ]
