extends /app/pages/templates/framework-landing  

block configParams
  -
    formalName   = "PostgreSQL"
    informalName = "Postgres"
    icon         = "postgres"

block jsParams
  script.
    //- This is javascript
    articleGroups = "postgresql"

    requiredComponents = [
      {name:'PostgreSQL', icon:'postgres', href:'#'}
    ]
