extends /app/pages/templates/framework-landing

block configParams
  -
    title        = "Postgres with Nanobox"
    description  = "Guides for using Postgres databases with Nanobox"
    formalName   = "PostgreSQL"
    informalName = "Postgres"
    icon         = "postgres"
    noQuickstart = true

block jsParams
  script.
    //- This is javascript
    articleGroups = "postgresql"

    requiredComponents = [
      {name:'PostgreSQL', icon:'postgres', href:'#'}
    ]
