extends /app/pages/templates/language-landing  

block configParams
  -
    title        = "Python & Python Frameworks with Nanobox"
    description  = "Guides for using Python and Python frameworks with Nanobox"
    formalName   = "Python"
    informalName = "python"
    icon         = "python"
    frameworks   = "python"

block jsParams
  script.
    //- This is javascript
    articleGroups = "python"
