extends /app/pages/templates/framework-landing  

block configParams
  -
    formalName   = "Python"
    informalName = "Python"
    icon         = "python"

block jsParams
  script.
    //- This is javascript
    articleGroups = [
      {title:"First Steps",   group:"shared/first-steps,python/first-steps"},
      {title:"Deps Management", group:"python/dependency-management"},
      {title:"Configuration", group:"python/configuration"},
      {title:"Production",    group:"python/production,shared/production"},
      {title:"Going Further", group:"shared/going-further"},
      {title:"Frameworks",    group:"python/frameworks"}
    ]
    requiredComponents = [
      {name:'python', icon:'python', href:'#'}
    ]
    optionalComponents = [
      {name:'MySQL',      icon:'mysql',    href:'#'},
      {name:'PostgreSQL', icon:'postgres', href:'#'},
      {name:'MongoDB',    icon:'mongo',    href:'#'},
      {name:'Redis',      icon:'redis',    href:'#'},      
      {name:'Memcached',  icon:'memcached',href:'#'}
    ]
