extends /app/pages/templates/language-landing  

block configParams
  -
    formalName   = "Python"
    informalName = "python"
    icon         = "python"
    frameworks   = "python"

block jsParams
  script.
    //- This is javascript
    articleGroups = "python"
