extends /app/pages/templates/language-landing  

block configParams
  -
    formalName   = "Python"
    informalName = "Python"
    icon         = "python"
    frameworks   = "python"

block jsParams
  script.
    //- This is javascript
    articleGroups = [
      {title:"First Steps",   group:"shared/first-steps,python/first-steps"},
      {title:"Deps Management", group:"python/dependency-management"},
      {title:"Configuration", group:"python/configuration"},
      {title:"Production",    group:"python/production,shared/production"},
      {title:"Going Further", group:"shared/going-further"},
      {title:"Frameworks",    group:"python/frameworks"}
    ]
    
    
    
    
    
