extends /app/pages/templates/framework-landing

block configParams
  -
    title        = "Redis with Nanobox"
    description  = "Guides for using Redis components with Nanobox"
    formalName   = "Redis"
    informalName = "Redis"
    icon         = "redis"
    noQuickstart = true

block jsParams
  script.
    //- This is javascript
    articleGroups = "redis"

    requiredComponents = [
      {name:'Redis', icon:'redis', href:'#'}
    ]
