extends /app/pages/templates/language-landing  

block configParams
  -
    formalName   = "Ruby"
    informalName = "Ruby"
    icon         = "ruby"
    frameworks   = "ruby"

block jsParams
  script.
    //- This is javascript
    articleGroups = [
      {title:"First Steps",   group:"shared/first-steps,ruby/first-steps"},
      {title:"Deps Management", group:"ruby/dependency-management"},
      {title:"Configuration", group:"ruby/configuration"},
      {title:"Production",    group:"ruby/production,shared/production"},
      {title:"Going Further", group:"shared/going-further"},
      {title:"Frameworks",    group:"ruby/frameworks"}
    ]
