extends /app/pages/templates/language-landing  

block configParams
  -
    title        = "Ruby & Ruby Frameworks with Nanobox"
    description  = "Guides for using Ruby and Ruby frameworks with Nanobox"
    keywords     = "ruby,sinatra,bundler"
    formalName   = "Ruby"
    informalName = "ruby"
    icon         = "ruby"
    frameworks   = "ruby"

block jsParams
  script.
    //- This is javascript
    articleGroups = "ruby"
