extends /app/pages/templates/language-landing  

block configParams
  -
    formalName   = "Rust"
    informalName = "rust"
    icon         = "rust"
    frameworks   = "rust"

block jsParams
  script.
    //- This is javascript
    articleGroups = ""
    devMode = true
