extends /app/pages/templates/language-landing  

block configParams
  -
    title        = "Create and Deploy Rust Framework Applications | Nanobox"
    description  = "Learn how to setup a Rust framework development environment and configure it to deploy to production."
    keywords     = "rust framework, rust config, rust development environment, rust production apps, rust apps, deploy rust, create rust apps, config rust apps"
    formalName   = "Rust"
    informalName = "rust"
    icon         = "rust"
    frameworks   = "rust"

block jsParams
  script.
    //- This is javascript
    articleGroups = ""
    devMode = true
