extends /app/pages/templates/language-landing  

block configParams
  -
    title        = "Rust & Rust Frameworks with Nanobox"
    description  = "Guides for using Rust and Rust frameworks with Nanobox"
    formalName   = "Rust"
    informalName = "rust"
    icon         = "rust"
    frameworks   = "rust"

block jsParams
  script.
    //- This is javascript
    articleGroups = ""
    devMode = true
