extends /app/pages/templates/framework-landing

block configParams
  -
    formalName   = "Storage"
    informalName = "storage"
    icon         = "storage"    
    noQuickstart = true

block jsParams
  script.
    //- This is javascript
    articleGroups = "storage"
    requiredComponents = [
      {name:'Storage', icon:'storage', href:'#'}
    ]
