extends /app/pages/templates/framework-landing

block configParams
  -
    title        = "Deploy and Manage Shared Persistent File Storage | Nanobox"
    description  = "How to create, configure, and manage a network storage component for shared, persistent file storage with Nanobox."
    keyworkds    = "app storage, app database, online storage, network file storage, cloud storage setup, online data storage, configure network storage, persistent storage, shared storage, writable permissions"
    formalName   = "Storage"
    informalName = "storage"
    icon         = "storage"    
    noQuickstart = true

block jsParams
  script.
    //- This is javascript
    articleGroups = "storage"
    requiredComponents = [
      {name:'Storage', icon:'storage', href:'#'}
    ]
