extends /app/pages/templates/article  

block configParams
  -
    title       = "Add a Database"
    keywords    = "python,django,add-a-database"
    description = "Add a database to your Django app with Nanobox"
    articles    = "python/django"
    icons       = "python,django"
    
block markdown
  include:md /articles/python/django/add-a-database.md
