extends /app/pages/templates/article  

block configParams
  -
    title       = "Managing Python Versions | Nanobox"
    description = "How to update or change python versions in development and production environments"
    keywords    = "python, django production application, manage django application, configure django, production django, django in production, python version, manage python versions"
    articles    = "python/django"
    icons       = "python,django"
    
block markdown
  include:md /articles/python/config.md
