extends /app/pages/templates/article  

block configParams
  -
    title       = "Configure Django"
    keywords    = "python,django,configure,production"
    description = "configuring django for production"
    articles    = "python/django"
    icons       = "python,django"
    
block markdown
  include:md /articles/python/django/configure-django.md
