extends /app/pages/templates/article  

block configParams
  -
    title       = "Configure Django to run in Production | Nanobox"
    description = "Learn how to configure a Django application to run in production"
    keywords    = "python, django production application, manage django application, configure django, production django, django in production"
    articles    = "python/django"
    icons       = "python,django"
    
block markdown
  include:md /articles/python/django/configure-django.md
