extends /app/pages/templates/article  

block configParams
  -
    title    = "Connect a Database"
    articles = "python/django"
    icons    = "python,django"
    
block markdown
  include:md /articles/python/django/connect-a-database.md
