extends /app/pages/templates/article  

block configParams
  -
    title       = "Debugging Django"
    keywords    = "python,django,debug"
    description = "debug django app"
    articles    = "python/django"
    icons       = "python,django"
    
block markdown
  include:md /articles/shared/debugging.md
