extends /app/pages/templates/article  

block configParams
  -
    title       = "Run an Existing Django Application in Docker | Nanobox"
    description = "Learn how to take an existing Django application and run it using Docker"
    keywords    = "python, django production application, manage django application, docker, django on docker, containers"
    articles    = "python/django"
    icons       = "python,django"
    id          = "Existing Django App"
    
block markdown
  include:md /articles/python/django/existing-app.md
