extends /app/pages/templates/article  

block configParams
  -
    title       = "Django From Scratch"
    keywords    = "python,django,new"
    description = "Launch a new Django app with Nanobox"
    articles    = "python/django"
    icons       = "python,django"
    
block markdown
  include:md /articles/python/django/from-scratch.md
