extends /app/pages/templates/article  

block configParams
  -
    title       = "Create a Django Application from Scratch | Nanobox"
    description = "Learn how to create a new Django application and local development environment"
    keywords    = "python, django application, django application, python dev environment, dev environment, django dev environemnt, django dev, docker, containers"
    articles    = "python/django"
    icons       = "python,django"
    id          = "Django from Scratch"
    
block markdown
  include:md /articles/python/django/from-scratch.md
