extends /app/pages/templates/article  

block configParams
  -
    title    = "Javascript Runtime"
    articles = "python/django"
    icons    = "python,django"
    
block markdown
  include:md /articles/python/django/javascript-runtime.md
