extends /app/pages/templates/article  

block configParams
  -
    title       = "Launch your App"
    keywords    = "python,django,launch"
    description = "launch django app"
    articles    = "python/django"
    icons       = "python,django"
    
block markdown
  include:md /articles/shared/launch-your-app.md
