extends /app/pages/templates/article  

block configParams
  -
    title       = "Launch a Django Application to Production | Nanobox"
    description = "Learn how to deploy a Django application to production servers"
    keywords    = "python, django production application, manage django application, deploy django, launch django, django in production, django production servers"
    articles    = "python/django"
    icons       = "python,django"
    
block markdown
  :md
    # Launch Your App
  include:md /articles/shared/partials/launch-your-app.md
  include:md /articles/python/django/launch-your-app.md
  include:md /articles/shared/partials/deploy-your-app.md
