extends /app/pages/templates/article  

block configParams
  -
    title       = "Add Environment Variable to Django Application in Development| Nanobox"
    description = "Learn how to add environment variable to a Django applicationin development"
    keywords    = "python, django application, manage django application, django environment variables, environment variables"
    articles    = "python/django"
    icons       = "python,django"
    
block markdown
  include:md /articles/shared/local-evars.md
