extends /app/pages/templates/article  

block configParams
  -
    title       = "Manage Platform"
    keywords    = "python,django,manage,production"
    description = "manage django in production"
    articles    = "python/django"
    icons       = "python,django"
    
block markdown
  include:md /articles/shared/manage-platform.md
