extends /app/pages/templates/article  

block configParams
  -
    title    = "Pip"
    articles = "python/django"
    icons    = "python,django"
    
block markdown
  include:md /articles/python/pip.md
