extends /app/pages/templates/article  

block configParams
  -
    title       = "Managing Python Dependencies with Pip | Nanobox"
    description = "How to manage Python dependencies with Pip"
    keywords    = "python, django application, manage django application, pip, python pip, django pip"
    articles    = "python/django"
    icons       = "python,django"
    
block markdown
  include:md /articles/python/pip.md
