extends /app/pages/templates/article  

block configParams
  -
    title       = "Point your Domain"
    keywords    = "python,django,dns,domain"
    description = "manage django dns"
    articles    = "python/django"
    icons       = "python,django"
    
block markdown
  include:md /articles/shared/point-your-domain.md
