extends /app/pages/templates/article  

block configParams
  -
    title       = "Adding a Domain to a Django Application | Nanobox"
    description = "How to point an existing domain name to a Django application"
    keywords    = "python, django production application, manage django application point dns, add dns, domain, domin pointing, point domain"
    articles    = "python/django"
    icons       = "python,django"
    
block markdown
  include:md /articles/shared/point-your-domain.md
