extends /app/pages/templates/article  

block configParams
  -
    title       = "Dry Run"
    keywords    = "python,django,stage,test"
    description = "Preview your Django app with Nanobox"
    articles    = "python/django"
    icons       = "python,django"
    
block markdown
  include:md /articles/python/django/preview-your-app.md
