extends /app/pages/templates/article  

block configParams
  -
    title       = "Stage a Django application | Nanobox"
    description = "Easily stage a Django application before deplying to production"
    keywords    = "python, django production application, manage django application, test django application, stage django application"
    articles    = "python/django"
    icons       = "python,django"
    id          = "Preview your App"
    
block markdown
  include:md /articles/python/django/preview-your-app.md
