extends /app/pages/templates/article  

block configParams
  -
    title       = "Remote Access to Django Applications | Nanobox"
    description = "Securely manage running Django application with SSH remote access"
    keywords    = "python, django production application, manage django application, ssh access, remote access, server management, secure access"
    articles    = "python/django"
    icons       = "python,django"
    id          = "Remote Access"
    
block markdown
  include:md /articles/shared/remote-access.md
