extends /app/pages/templates/article  

block configParams
  -
    title       = "Remote Access"
    keywords    = "python,django,remote-access"
    description = "django remote access"
    articles    = "python/django"
    icons       = "python,django"
    
block markdown
  include:md /articles/shared/remote-access.md
