extends /app/pages/templates/article  

block configParams
  -
    title       = "Scale Django Applications | Nanobox"
    description = "Easily scale production Django applications with zero downtime"
    keywords    = "python, django production application, manage django application, scale django application, zero downtime"
    articles    = "python/django"
    icons       = "python,django"
    id          = "Scale your App"
    
block markdown
  include:md /articles/shared/scale-your-app.md
