extends /app/pages/templates/article  

block configParams
  -
    title       = "Manage Django Application Teams | Nanobox"
    description = "Easily manage Django development teams and application collaborators"
    keywords    = "python, django production application, manage django application, django collaboration, team management"
    articles    = "python/django"
    icons       = "python,django"
    
block markdown
  include:md /articles/shared/team-management.md
