extends /app/pages/templates/article  

block configParams
  -
    title    = "Launch your App"
    articles = "nodejs/ember"
    icons    = "nodejs,ember"
    
block markdown
  include:md /articles/shared/launch-your-app.md
