extends /app/pages/templates/article  

block configParams
  -
    title       = "Managing Crystal Versions | Nanobox"
    description = "How to update or change Crystal versions in development and production environments"
    keywords    = "crystal, amber, amber production application, manage amber application, configure amber, production amber, amber in production, crystal version, manage crystal versions"
    articles    = "crystal/amber"
    icons       = "crystal,amber"
    id          = "Configure Crystal"
    
block markdown
  include:md /articles/crystal/config.md
