extends /app/pages/templates/article  

block configParams
  -
    title       = "Adding Javascript to an Amber Application | Nanobox"
    description = "How to add Javascript to an Amber application"
    keywords    = "crystal, amber, amber application, amber javascript, javascript"
    articles    = "crystal/amber"
    icons       = "crystal,amber"
    id          = "Frontend Javascript"
    
block markdown
  :md
    # Frontend Javascript
  include:md /articles/shared/partials/nodejs.md
  include:md /articles/shared/partials/package-managers.md
  include:md /articles/shared/partials/task-runners.md
