extends /app/pages/templates/article  

block configParams
  -
    title       = "Adding a Domain to an Amber Application | Nanobox"
    description = "How to point an existing domain name to an Amber application"
    keywords    = "crystal, amber, amber production application, manage amber application point dns, add dns, domain, domin pointing, point domain"
    articles    = "crystal/amber"
    icons       = "crystal,amber"
    id          = "Point your Domain"
    
block markdown
  include:md /articles/shared/point-your-domain.md
