extends /app/pages/templates/article  

block configParams
  -
    title       = "Remote Access to Amber Applications | Nanobox"
    description = "Securely manage running Amber application with SSH remote access"
    keywords    = "crystal, amber, amber production application, manage amber application, ssh access, remote access, server management, secure access"
    articles    = "crystal/amber"
    icons       = "crystal,amber"
    id          = "Remote Access"
    
block markdown
  include:md /articles/shared/remote-access.md
