extends /app/pages/templates/article  

block configParams
  -
    title       = "Managing Shards | Nanobox"
    description = "How to manage Amber application dependencies with Shards"
    keywords    = "crystal, amber, amber application, manage amber application, shards, amber shards, crystal shards"
    articles    = "crystal/amber"
    icons       = "crystal,amber"
    id          = "Shards"
    
block markdown
  include:md /articles/crystal/shards.md
