.propose-framework
  .btn#talk-to-us
    .icon
    .txt
      .title Talk to us
      .sub We'd love to help you get your framework up and running!
  a.btn#launch-generic(href="/#{language}/generic/")
    .icon
      img.shadow-icon(data-src="basic-language" scalable="true")
    .txt
      .title Launch a generic #{language} app
