extends /app/pages/templates/article  

block configParams
  -
    title    = "App Health"
    articles = "nodejs/angular"
    icons    = "nodejs,angular"
    
block markdown
  include:md /articles/shared/app-health.md
