extends /app/pages/templates/article  

block configParams
  -
    title    = "Manage Platform"
    articles = "nodejs/angular"
    icons    = "nodejs,angular"
    
block markdown
  include:md /articles/shared/manage-platform.md
