extends /app/pages/templates/article  

block configParams
  -
    title    = "Add Additional Components"
    articles = "nodejs/angular"
    icons    = "nodejs,angular"
    
block markdown
  include:md /articles/shared/going-further/scale-your-app.md
