extends /app/pages/templates/article  

block configParams
  -
    title    = "Team Management"
    articles = "nodejs/angular"
    icons    = "nodejs,angular"
    
block markdown
  include:md /articles/shared/team-management.md
