extends /app/pages/templates/article  

block configParams
  -
    title       = "Add a Database"
    keywords    = "nodejs,done,add-a-database"
    description = "Add a database to DoneJS with Nanobox"
    articles    = "nodejs/done"
    icons       = "nodejs,done"
    
block markdown
  include:md /articles/nodejs/done/add-a-database.md
