extends /app/pages/templates/article  

block configParams
  -
    title       = "App Health"
    keywords    = "nodejs,done,app-health"
    description = "Monitor the health of your DoneJS app with Nanobox"
    articles    = "nodejs/done"
    icons       = "nodejs,done"
    
block markdown
  include:md /articles/shared/app-health.md
