extends /app/pages/templates/article  

block configParams
  -
    title       = "Debugging DoneJS"
    keywords    = "nodejs,done,debug"
    description = "Debug your DoneJS app with Nanobox"
    articles    = "nodejs/done"
    icons       = "nodejs,done"
    
block markdown
  include:md /articles/shared/debugging.md
