extends /app/pages/templates/article  

block configParams
  -
    title       = "Run an Existing DoneJS Application in Docker | Nanobox"
    description = "Learn how to take an existing DoneJS application and run it using Docker"
    keywords    = "nodejs, done production application, manage done application, docker, done on docker, containers"
    articles    = "nodejs/done"
    icons       = "node,done"
    id          = "Existing DoneJS App"
    
block markdown
  include:md /articles/nodejs/done/existing-app.md
