extends /app/pages/templates/article  

block configParams
  -
    title       = "Create a DoneJS Application from Scratch | Nanobox"
    description = "Learn how to create a new DoneJS application and local development environment"
    keywords    = "nodejs, done application, done application, nodejs dev environment, dev environment, done dev environemnt, done dev, docker, containers"
    articles    = "nodejs/done"
    icons       = "nodejs,done"
    id          = "DoneJS from Scratch"
    
block markdown
  include:md /articles/nodejs/done/from-scratch.md
