extends /app/pages/templates/article  

block configParams
  -
    title       = "Adding Javascript to a DoneJS Application | Nanobox"
    description = "How to add Javascriot to a DoneJS application"
    keywords    = "nodejs, done application, done javascript, javascript"
    articles    = "nodejs/done"
    icons       = "nodejs,done"
    
block markdown
  :md
    # Frontend Javascript
  include:md /articles/shared/partials/nodejs.md
  include:md /articles/shared/partials/package-managers.md
  include:md /articles/shared/partials/task-runners.md
