extends /app/pages/templates/article  

block configParams
  -
    title       = "Launch your App"
    keywords    = "nodejs,done,launch"
    description = "Launch your DoneJS app to live servers with Nanobox"
    articles    = "nodejs/done"
    icons       = "nodejs,done"
    
block markdown
  :md
    # Launch Your App
  include:md /articles/shared/partials/launch-your-app.md
  include:md /articles/nodejs/done/launch-your-app.md
  include:md /articles/shared/partials/deploy-your-app.md
