extends /app/pages/templates/article  

block configParams
  -
    title       = "Add Environment Variable to DoneJS Application in Development| Nanobox"
    description = "Learn how to add environment variable to a DoneJS applicationin development"
    keywords    = "nodejs, done application, manage done application, done environment variables, environment variables"
    articles    = "nodejs/done"
    icons       = "node,done"
    id          = "Local Environment Variables"
    
block markdown
  include:md /articles/shared/local-evars.md
