extends /app/pages/templates/article  

block configParams
  -
    title       = "Point your Domain"
    keywords    = "nodejs,done,dns,domain"
    description = "Point your domain to your DoneJS app with Nanobox"
    articles    = "nodejs/done"
    icons       = "nodejs,done"
    
block markdown
  include:md /articles/shared/point-your-domain.md
