extends /app/pages/templates/article  

block configParams
  -
    title       = "Remote Access to DoneJS Applications | Nanobox"
    description = "Securely manage running DoneJS application with SSH remote access"
    keywords    = "nodejs, done production application, manage done application, ssh access, remote access, server management, secure access"
    articles    = "nodejs/done"
    icons       = "nodejs,done"
    
block markdown
  include:md /articles/shared/remote-access.md
