extends /app/pages/templates/article  

block configParams
  -
    title       = "Scale DoneJS Applications | Nanobox"
    description = "Easily scale production DoneJS applications with zero downtime"
    keywords    = "nodejs, done production application, manage done application, scale done application, zero downtime"
    articles    = "nodejs/done"
    icons       = "nodejs,done"
    
block markdown
  include:md /articles/shared/scale-your-app.md
