extends /app/pages/templates/article  

block configParams
  -
    title       = "Team Management"
    keywords    = "nodejs,done,production,manage"
    description = "Managing your team with Nanobox"
    articles    = "nodejs/done"
    icons       = "nodejs,done"
    
block markdown
  include:md /articles/shared/team-management.md
