extends /app/pages/templates/article  

block configParams
  -
    title    = "Debugging"
    articles = "php/codeigniter"
    icons    = "php,codeigniter"
    
block markdown
  include:md /articles/shared/debugging.md
