extends /app/pages/templates/article  

block configParams
  -
    title    = "Manage Platform"
    articles = "nodejs"
    icons    = "node"
    
block markdown
  include:md /articles/shared/going-further/manage-platform.md
