extends /app/pages/templates/article  

block configParams
  -
    title       = "Configure Redis for Development and Production Deployment | Nanobox"
    description = "Instructions for configuring a Redis Database for development and production with Nanobox."
    keywords    = "deploy redis, postgres in production, scaling redis database, local redis, configure redis"
    articles    = "redis"
    icons       = "redis"
    
block markdown
  include:md /articles/redis/configure.md
