extends /app/pages/templates/article  

block configParams
  -
    title       = "Connect to Redis"
    description = "Connecting to Redis launched with Nanobox"
    articles    = "redis"
    icons       = "redis"
    
block markdown
  include:md /articles/redis/connect.md
