extends /app/pages/templates/article

block configParams
  -
    title    = "Create a Redis Component"
    articles = "redis"
    icons    = "redis"

block markdown
  include:md /articles/redis/create.md
