extends /app/pages/templates/article  

block configParams
  -
    title       = "Managing Local Data"
    description = "Managing local Redis data with Nanobox"
    articles    = "redis"
    icons       = "redis"
    
block markdown
  include:md /articles/redis/manage-local.md
