extends /app/pages/templates/article  

block configParams
  -
    title       = "Manage Local Redis Data | Nanobox"
    description = "Instructions for managing local Redis data in apps running in Nanobox"
    keywords    = "deploy redis, redis in production, redis, scaling redis database, local redis, local development, configure redis"
    articles    = "redis"
    icons       = "redis"
    id          = "Managing Local Data"
    
block markdown
  include:md /articles/redis/manage-local.md
