extends /app/pages/templates/article  

block configParams
  -
    title       = "Add a Database to a Phoenix Application | Nanobox"
    description = "How to add and connect to a database with a Phoenix applciation"
    keywords    = "elixir, phoenix production application, manage phoenix application, phoenix database, phoenix and mongodb, phoenix and postgres, mongodb, postgres"
    articles    = "elixir/phoenix"
    icons       = "elixir,phoenix"
    
block markdown
  include:md /articles/elixir/phoenix/add-a-database.md
