extends /app/pages/templates/article  

block configParams
  -
    title       = "Add a Database"
    keywords    = "elixir,phoenix,add-a-database"
    description = "add a database to phoenix"
    articles    = "elixir/phoenix"
    icons       = "elixir,phoenix"
    
block markdown
  include:md /articles/elixir/phoenix/add-a-database.md
