extends /app/pages/templates/article  

block configParams
  -
    title       = "App Health"
    keywords    = "elixir,phoenix,app health,monitoring"
    description = "Monitor your Phoenix app health with Nanobox"
    articles    = "elixir/phoenix"
    icons       = "elixir,phoenix"
    
block markdown
  include:md /articles/shared/app-health.md
