extends /app/pages/templates/article  

block configParams
  -
    title       = "Monitoring Production Phoenix Applications | Nanobox"
    description = "Monitor a production Phoenix application with live and historical stats"
    keywords    = "elixir, phoenix production application, manage phoenix application, stats, elixir stats, phoenix stats, monitor phoenix, phoenix app health"
    articles    = "elixir/phoenix"
    icons       = "elixir,phoenix"
    id          = "App Health"
    
block markdown
  include:md /articles/shared/app-health.md
