extends /app/pages/templates/article  

block configParams
  -
    title       = "Configure Elixir"
    keywords    = "elixir,configure"
    description = "Configure Elixir with Nanobox"
    articles    = "elixir/phoenix"
    icons       = "elixir,phoenix"
    
block markdown
  include:md /articles/elixir/config.md
