extends /app/pages/templates/article  

block configParams
  -
    title       = "Configure Phoenix for Production"
    keywords    = "elixir,phoenix,configure,production"
    description = "Configure Phoenix for production"
    articles    = "elixir/phoenix"
    icons       = "elixir,phoenix"
    
block markdown
  include:md /articles/elixir/phoenix/configure-phoenix.md
