extends /app/pages/templates/article  

block configParams
  -
    title       = "Configure Phoenix to run in Production | Nanobox"
    description = "Learn how to configure a Phoenix application to run in production"
    keywords    = "elixir, phoenix production application, manage phoenix application, configure phoenix, production phoenix, phoenix in production"
    articles    = "elixir/phoenix"
    icons       = "elixir,phoenix"
    id          = "Configure Phoenix"
    
block markdown
  include:md /articles/elixir/phoenix/configure-phoenix.md
