extends /app/pages/templates/article  

block configParams
  -
    title       = "Managing Elixir Versions | Nanobox"
    description = "How to update or change elixir versions in development and production environments"
    keywords    = "elixir, phoenix production application, manage phoenix application, configure phoenix, production phoenix, phoenix in production, elixir version, manage elixir versions"
    articles    = "elixir/phoenix"
    icons       = "elixir,phoenix"
    id          = "Configure Elixir"
    
block markdown
  include:md /articles/elixir/config.md
