extends /app/pages/templates/article  

block configParams
  -
    title       = "Debugging Phoenix"
    keywords    = "elixir,phoenix,debug"
    description = "Debug your Phoenix app with Nanobox"
    articles    = "elixir/phoenix"
    icons       = "elixir,phoenix"
    
block markdown
  include:md /articles/shared/debugging.md
