extends /app/pages/templates/article  

block configParams
  -
    title       = "Debug Phoenix Application in Production | Nanobox"
    description = "Learn how to debug a production Phoenix application"
    keywords    = "elixir, phoenix production application, manage phoenix application, phoenix logging, phoenix monitoring, debug phoenix, debugging phoenix"
    articles    = "elixir/phoenix"
    icons       = "elixir,phoenix"
    id          = "Debugging"
    
block markdown
  include:md /articles/shared/debugging.md
