extends /app/pages/templates/article  

block configParams
  -
    title       = "Add SSL/TLS Encryption to a Phoenix Application | Nanobox"
    description = "Learn how to easily add SSL/TLS encryption to a Phoenix production application"
    keywords    = "nodejs, phoenix production application, manage phoenix application, ssl, tls, encryption"
    articles    = "elixir/phoenix"
    icons       = "elixir,phoenix"
    
block markdown
  include:md /articles/shared/encryption.md
