extends /app/pages/templates/article  

block configParams
  -
    title       = "SSL/TLS Encryption"
    keywords    = "elixir,phoenix,ssl,tls,encryption"
    description = "phoenix ssl/tls Encryption"
    articles    = "elixir/phoenix"
    icons       = "elixir,phoenix"
    
block markdown
  include:md /articles/shared/encryption.md
