extends /app/pages/templates/article  

block configParams
  -
    title       = "Existing Phoenix App"
    keywords    = "elixir,phoenix"
    description = "Launch your existing Phoenix app with Nanobox"
    articles    = "elixir/phoenix"
    icons       = "elixir,phoenix"
    
block markdown
  include:md /articles/elixir/phoenix/existing-app.md
