extends /app/pages/templates/article  

block configParams
  -
    title       = "Run an Existing Phoenix Applicatin in Docker | Nanobox"
    description = "Learn how to take an existing Phoenix application and run it using Docker"
    keywords    = "elixir, phoenix production application, manage phoenix application, docker, phoenix on docker, containers"
    articles    = "elixir/phoenix"
    icons       = "elixir,phoenix"
    
block markdown
  include:md /articles/elixir/phoenix/existing-app.md
