extends /app/pages/templates/article  

block configParams
  -
    title    = "Existing Rails App"
    articles = "elixir/phoenix"
    icons    = "elixir,phoenix"
    
block markdown
  include:md /articles/elixir/phoenix//existing-app.md
