extends /app/pages/templates/article  

block configParams
  -
    title       = "Phoenix From Scratch"
    keywords    = "elixir,phoenix,new"
    description = "new phoenix app"
    articles    = "elixir/phoenix"
    icons       = "elixir,phoenix"
    
block markdown
  include:md /articles/elixir/phoenix/from-scratch.md
