extends /app/pages/templates/article  

block configParams
  -
    title       = "Create a Phoenix Application from Scratch | Nanobox"
    description = "Learn how to create a new Phoenix application and local development environment"
    keywords    = "elixir, phoenix application, phoenix application, elixir dev environment, dev environment, phoenix dev environemnt, phoenix dev, docker, containers"
    articles    = "elixir/phoenix"
    icons       = "elixir,phoenix"
    
block markdown
  include:md /articles/elixir/phoenix/from-scratch.md
