extends /app/pages/templates/article  

block configParams
  -
    title       = "Adding Javascript to a Phoenix Application | Nanobox"
    description = "How to add Javascriot to a Phoenix application"
    keywords    = "elixir, phoenix application, phoenix javascript, javascript"
    articles    = "elixir/phoenix"
    icons       = "elixir,phoenix"
    id          = "Frontend Javascript"
    
block markdown
  :md
    # Frontend Javascript
  include:md /articles/shared/partials/nodejs.md
  include:md /articles/shared/partials/package-managers.md
  include:md /articles/shared/partials/task-runners.md
