extends /app/pages/templates/article  

block configParams
  -
    title       = "Install Nanobox"
    keywords    = "elixir,phoenix,nanobox"
    description = "nanobox for phoenix"
    articles    = "elixir/phoenix"
    icons       = "elixir,phoenix"
    
block markdown
  include:md /articles/shared/install-nanobox.md
