extends /app/pages/templates/article  

block configParams
  -
    title       = "Launch your App"
    keywords    = "elixir,phoenix,launch"
    description = "launch phoenix app"
    articles    = "elixir/phoenix"
    icons       = "elixir,phoenix"
    
block markdown
  include:md /articles/shared/launch-your-app.md
