extends /app/pages/templates/article  

block configParams
  -
    title       = "Launch a Phoenix Application to Production | Nanobox"
    description = "Learn how to deploy a Phoenix application to production servers"
    keywords    = "elixir, phoenix production application, manage phoenix application, deploy phoenix, launch phoenix, phoenix in production, phoenix production servers"
    articles    = "elixir/phoenix"
    icons       = "elixir,phoenix"
    
block markdown
  :md
    # Launch Your App
  include:md /articles/shared/partials/launch-your-app.md
  include:md /articles/elixir/phoenix/launch-your-app.md
  include:md /articles/shared/partials/deploy-your-app.md
