extends /app/pages/templates/article  

block configParams
  -
    title       = "Add Environment Variable to Phoenix Application in Development| Nanobox"
    description = "Learn how to add environment variable to a Phoenix applicationin development"
    keywords    = "elixir, phoenix application, manage phoenix application, phoenix environment variables, environment variables"
    articles    = "elixir/phoenix"
    icons       = "elixir,phoenix"
    id          = "Local Environment Variables"
    
block markdown
  include:md /articles/shared/local-evars.md
