extends /app/pages/templates/article  

block configParams
  -
    title       = "Managing a Production Phoenix Application | Nanobox"
    description = "Manage a Phoenix application's logs, traffic, health, and storage"
    keywords    = "elixir, phoenix production application, manage phoenix application, monitor phoenix, phoenix logging, load balancer, phoenix monitoring, production logs"
    articles    = "elixir/phoenix"
    icons       = "elixir,phoenix"
    id          = "Manage Platform"
    
block markdown
  include:md /articles/shared/manage-platform.md
