extends /app/pages/templates/article  

block configParams
  -
    title       = "Managing Elixir Dependencies with Mix | Nanobox"
    description = "How to manage Elixir and Phoenix application dependencies with Mix"
    keywords    = "elixir, phoenix application, manage phoenix application, mix, phoenix mix, elixir mix"
    articles    = "elixir/phoenix"
    icons       = "elixir,phoenix"
    id          = "Mix"
    
block markdown
  include:md /articles/elixir/mix.md
