extends /app/pages/templates/article  

block configParams
  -
    title       = "Mix"
    keywords    = "elixir,phoenix,mix"
    description = "Mix and Phoenix with Nanobox"
    articles    = "elixir/phoenix"
    icons       = "elixir,phoenix"
    
block markdown
  include:md /articles/elixir/mix.md
