extends /app/pages/templates/article  

block configParams
  -
    title    = "Point your Domain"
    articles = "elixir/phoenix"
    icons    = "elixir,phoenix"
    
block markdown
  include:md /articles/shared//point-your-domain.md
