extends /app/pages/templates/article  

block configParams
  -
    title       = "Stage a Phoenix application | Nanobox"
    description = "Easily stage a Phoenix application before deplying to production"
    keywords    = "elixir, phoenix production application, manage phoenix application, test phoenix application, stage phoenix application"
    articles    = "elixir/phoenix"
    icons       = "elixir,phoenix"
    id          = "Preview your App"
    
block markdown
  include:md /articles/elixir/phoenix/preview-your-app.md
