extends /app/pages/templates/article  

block configParams
  -
    title       = "Remote Access"
    keywords    = "elixir,phoenix,remote-access"
    description = "phoenix remote access"
    articles    = "elixir/phoenix"
    icons       = "elixir,phoenix"
    
block markdown
  include:md /articles/shared/remote-access.md
