extends /app/pages/templates/article  

block configParams
  -
    title       = "Remote Access to Phoenix Applications | Nanobox"
    description = "Securely manage running Phoenix application with SSH remote access"
    keywords    = "elixir, phoenix production application, manage phoenix application, ssh access, remote access, server management, secure access"
    articles    = "elixir/phoenix"
    icons       = "elixir,phoenix"
    
block markdown
  include:md /articles/shared/remote-access.md
