extends /app/pages/templates/article  

block configParams
  -
    title       = "Scale Your App"
    keywords    = "elixir,phoenix,production,scale"
    description = "how to scale phoenix"
    articles    = "elixir/phoenix"
    icons       = "elixir,phoenix"
    
block markdown
  include:md /articles/shared/scale-your-app.md
