extends /app/pages/templates/article  

block configParams
  -
    title       = "Scale Phoenix Applications | Nanobox"
    description = "Easily scale production Phoenix applications with zero downtime"
    keywords    = "elixir, phoenix production application, manage phoenix application, scale phoenix application, zero downtime"
    articles    = "elixir/phoenix"
    icons       = "elixir,phoenix"
    
block markdown
  include:md /articles/shared/scale-your-app.md
