extends /app/pages/templates/article  

block configParams
  -
    title       = "Add a Database to a Koa Application | Nanobox"
    description = "How to add and connect to a database with a Koa applciation"
    keywords    = "nodejs, koa production application, manage koa application, koa database, koa and mongodb, koa and postgres, mongodb, postgres"
    articles    = "nodejs/koa"
    icons       = "nodejs,koa"
    
block markdown
  include:md /articles/nodejs/koa/add-a-database.md
