extends /app/pages/templates/article  

block configParams
  -
    title       = "App Health"
    keywords    = "nodejs,koa,app-health"
    description = "Monitor the health of your Koa app with Nanobox"
    articles    = "nodejs/koa"
    icons       = "nodejs,koa"
    
block markdown
  include:md /articles/shared/app-health.md
