extends /app/pages/templates/article  

block configParams
  -
    title       = "Managing Nodejs Versions | Nanobox"
    description = "How to update or change nodejs versions in development and production environments"
    keywords    = "nodejs, koa production application, manage koa application, configure koa, production koa, koa in production, nodejs version, manage nodejs versions"
    articles    = "nodejs/koa"
    icons       = "nodejs,koa"
    id          = "Configure Nodejs"
    
block markdown
  include:md /articles/nodejs/config.md
