extends /app/pages/templates/article  

block configParams
  -
    title       = "Frontend Javascript"
    keywords    = "nodejs,koa,javascript,node,yarn,npm,bower,gulp,grunt,brunch,broccoli"
    description = "Frontend javascript with Koa and Nanobox"
    articles    = "nodejs/koa"
    icons       = "nodejs,koa"
    
block markdown
  :md
    # Frontend Javascript
  include:md /articles/shared/partials/nodejs.md
  include:md /articles/shared/partials/package-managers.md
  include:md /articles/shared/partials/task-runners.md
