extends /app/pages/templates/article  

block configParams
  -
    title       = "Launch a Koa Application to Production | Nanobox"
    description = "Learn how to deploy a Koa application to production servers"
    keywords    = "nodejs, koa production application, manage koa application, deploy koa, launch koa, koa in production, koa production servers"
    articles    = "nodejs/koa"
    icons       = "nodejs,koa"
    id          = "Launch your App"
    
block markdown
  :md
    # Launch Your App
  include:md /articles/shared/partials/launch-your-app.md
  include:md /articles/nodejs/koa/launch-your-app.md
  include:md /articles/shared/partials/deploy-your-app.md
