extends /app/pages/templates/article  

block configParams
  -
    title       = "Adding a Domain to a Koa Application | Nanobox"
    description = "How to point an existing domain name to a Koa application"
    keywords    = "nodejs, koa production application, manage koa application point dns, add dns, domain, domin pointing, point domain"
    articles    = "nodejs/koa"
    icons       = "nodejs,koa"
    
block markdown
  include:md /articles/shared/point-your-domain.md
