extends /app/pages/templates/article  

block configParams
  -
    title       = "Stage a Koa application | Nanobox"
    description = "Easily stage a Koa application before deplying to production"
    keywords    = "nodejs, koa production application, manage koa application, test koa application, stage koa application"
    articles    = "nodejs/koa"
    icons       = "nodejs,koa"
    
block markdown
  include:md /articles/nodejs/koa/preview-your-app.md
