extends /app/pages/templates/article  

block configParams
  -
    title       = "Remote Access to Koa Applications | Nanobox"
    description = "Securely manage running Koa application with SSH remote access"
    keywords    = "nodejs, koa production application, manage koa application, ssh access, remote access, server management, secure access"
    articles    = "nodejs/koa"
    icons       = "nodejs,koa"
    id          = "Remote Access"
    
block markdown
  include:md /articles/shared/remote-access.md
