extends /app/pages/templates/article  

block configParams
  -
    title       = "Add a Database to a Python Application | Nanobox"
    description = "How to add and connect to a database with a Python applciation"
    keywords    = "python, python production application, manage python application, python database, python and mongodb, python and postgres, mongodb, postgres"
    articles    = "python/generic"
    icons       = "python,generic"
    id          = "Add a Database"
    
block markdown
  include:md /articles/python/generic/add-a-database.md
