extends /app/pages/templates/article  

block configParams
  -
    title       = "Monitoring Production Python Applications | Nanobox"
    description = "Monitor a production Python application with live and historical stats"
    keywords    = "python, python production application, manage python application, stats, python stats, python stats, monitor python, python app health"
    articles    = "python/generic"
    icons       = "python,generic"
    id          = "App Health"
    
block markdown
  include:md /articles/shared/app-health.md
