extends /app/pages/templates/article  

block configParams
  -
    title       = "Configure Python for Production"
    keywords    = "python,generic,configure,production"
    description = "Configuring your Python app for production with Nanobox"
    articles    = "python/generic"
    icons       = "python,generic"
    
block markdown
  include:md /articles/python/generic/configure-generic.md
