extends /app/pages/templates/article  

block configParams
  -
    title       = "Configure python"
    keywords    = "python,configure"
    description = "Configure Python with Nanobox"
    articles    = "python/generic"
    icons       = "python,generic"
    
block markdown
  include:md /articles/python/config.md
