extends /app/pages/templates/article  

block configParams
  -
    title       = "Debug Python Application in Production | Nanobox"
    description = "Learn how to debug a production Python application"
    keywords    = "python, python production application, manage python application, python logging, python monitoring, debug python, debugging python"
    articles    = "python/generic"
    icons       = "python,generic"
    id          = "Debugging"
    
block markdown
  include:md /articles/shared/debugging.md
