extends /app/pages/templates/article  

block configParams
  -
    title       = "Existing generic App"
    keywords    = "python,generic"
    description = "launch generic app"
    articles    = "python/generic"
    icons       = "python,generic"
    
block markdown
  include:md /articles/python/generic/existing-app.md
