extends /app/pages/templates/article  

block configParams
  -
    title       = "Run an Existing Python Applicatin in Docker | Nanobox"
    description = "Learn how to take an existing Python application and run it using Docker"
    keywords    = "python, python production application, manage python application, docker, python on docker, containers"
    articles    = "python/generic"
    icons       = "python,generic"
    
block markdown
  include:md /articles/python/generic/existing-app.md
