extends /app/pages/templates/article  

block configParams
  -
    title       = "generic From Scratch"
    keywords    = "python,generic,new"
    description = "Launch a new Python app with Nanobox"
    articles    = "python/generic"
    icons       = "python,generic"
    
block markdown
  include:md /articles/python/generic/from-scratch.md
