extends /app/pages/templates/article  

block configParams
  -
    title       = "Adding Javascript to a Python Application | Nanobox"
    description = "How to add Javascriot to a Python application"
    keywords    = "python, python application, python javascript, javascript"
    articles    = "python/generic"
    icons       = "python,generic"
    id          = "Frontend Javascript"
    
block markdown
  :md
    # Frontend Javascript
  include:md /articles/shared/partials/nodejs.md
  include:md /articles/shared/partials/package-managers.md
  include:md /articles/shared/partials/task-runners.md
