extends /app/pages/templates/article  

block configParams
  -
    title       = "Launch a Python Application to Production | Nanobox"
    description = "Learn how to deploy a Python application to production servers"
    keywords    = "python, python production application, manage python application, deploy python, launch python, python in production, python production servers"
    articles    = "python/generic"
    icons       = "python,generic"
    id          = "Launch your App"
    
block markdown
  :md
    # Launch Your App
  include:md /articles/shared/partials/launch-your-app.md
  include:md /articles/python/generic/launch-your-app.md
  include:md /articles/shared/partials/deploy-your-app.md
