extends /app/pages/templates/article  

block configParams
  -
    title       = "Launch your App"
    keywords    = "python,generic,launch"
    description = "launch generic app"
    articles    = "python/generic"
    icons       = "python,generic"
    
block markdown
  :md
    # Launch Your App
  include:md /articles/shared/partials/launch-your-app.md
  include:md /articles/python/generic/launch-your-app.md
  include:md /articles/shared/partials/deploy-your-app.md
