extends /app/pages/templates/article  

block configParams
  -
    title       = "Add Environment Variable to Python Application in Development| Nanobox"
    description = "Learn how to add environment variable to a Python applicationin development"
    keywords    = "python, python application, manage python application, python environment variables, environment variables"
    articles    = "python/generic"
    icons       = "python,generic"
    id          = "Local Environment Variables"
    
block markdown
  include:md /articles/shared/local-evars.md
