extends /app/pages/templates/article  

block configParams
  -
    title       = "Local Environment Variables"
    keywords    = "python,generic,environment-variables"
    description = "generic environment variables"
    articles    = "python/generic"
    icons       = "python,generic"
    
block markdown
  include:md /articles/shared/local-evars.md
