extends /app/pages/templates/article  

block configParams
  -
    title       = "Managing a Production Python Application | Nanobox"
    description = "Manage a Python application's logs, traffic, health, and storage"
    keywords    = "python, python production application, manage python application, monitor python, python logging, load balancer, python monitoring, production logs"
    articles    = "python/generic"
    icons       = "python,generic"
    id          = "Manage Platform"
    
block markdown
  include:md /articles/shared/manage-platform.md
