extends /app/pages/templates/article  

block configParams
  -
    title       = "Manage Platform"
    keywords    = "python,generic,manage,production"
    description = "Manage your Python app in production with Nanobox"
    articles    = "python/generic"
    icons       = "python,generic"
    
block markdown
  include:md /articles/shared/manage-platform.md
