extends /app/pages/templates/article  

block configParams
  -
    title       = "Managing Python Dependencies with Pip | Nanobox"
    description = "How to manage Python dependencies with Pip"
    keywords    = "python, python application, manage python application, pip"
    articles    = "python/generic"
    icons       = "python,generic"
    
block markdown
  include:md /articles/python/pip.md
