extends /app/pages/templates/article  

block configParams
  -
    title       = "Adding a Domain to a Python Application | Nanobox"
    description = "How to point an existing domain name to a Python application"
    keywords    = "python, python production application, manage python application point dns, add dns, domain, domin pointing, point domain"
    articles    = "python/generic"
    icons       = "python,generic"
    
block markdown
  include:md /articles/shared/point-your-domain.md
