extends /app/pages/templates/article  

block configParams
  -
    title       = "Stage a Python application | Nanobox"
    description = "Easily stage a Python application before deplying to production"
    keywords    = "python, python production application, manage python application, test python application, stage python application"
    articles    = "python/generic"
    icons       = "python,generic"
    id          = "Preview your App"
    
block markdown
  include:md /articles/python/generic/preview-your-app.md
