extends /app/pages/templates/article  

block configParams
  -
    title       = "Production Environment Variables"
    keywords    = "python,generic,environment-variables"
    description = "Python environment variables in production with Nanobox"
    articles    = "python/generic"
    icons       = "python,generic"
    
block markdown
  include:md /articles/shared/production-evars.md
