extends /app/pages/templates/article  

block configParams
  -
    title       = "Add Environment Variable to Production Python Application | Nanobox"
    description = "Learn how to add environment variable to a production Python application"
    keywords    = "python, python production application, manage python application, python environment variables, environment variables"
    articles    = "python/generic"
    icons       = "python,generic"
    id          = "Environment Variables"
    
block markdown
  include:md /articles/shared/production-evars.md
