extends /app/pages/templates/article  

block configParams
  -
    title       = "Remote Access to Python Applications | Nanobox"
    description = "Securely manage running Python application with SSH remote access"
    keywords    = "python, python production application, manage python application, ssh access, remote access, server management, secure access"
    articles    = "python/generic"
    icons       = "python,generic"
    id          = "Remote Access"
    
block markdown
  include:md /articles/shared/remote-access.md
