extends /app/pages/templates/article  

block configParams
  -
    title       = "Scale Your App"
    keywords    = "python,generic,production,scale"
    description = "how to scale generic"
    articles    = "python/generic"
    icons       = "python,generic"
    
block markdown
  include:md /articles/shared/scale-your-app.md
