extends /app/pages/templates/article  

block configParams
  -
    title       = "Scale Python Applications | Nanobox"
    description = "Easily scale production Python applications with zero downtime"
    keywords    = "python, python production application, manage python application, scale python application, zero downtime"
    articles    = "python/generic"
    icons       = "python,generic"
    
block markdown
  include:md /articles/shared/scale-your-app.md
