extends /app/pages/templates/article  

block configParams
  -
    title       = "Configure Hugo for Production"
    keywords    = "golang,hugo,configure,production"
    description = "Configuring Hugo for production with Nanobox"
    articles    = "golang/hugo"
    icons       = "golang,hugo"
    
block markdown
  include:md /articles/golang/hugo/configure-hugo.md
