extends /app/pages/templates/article  

block configParams
  -
    title       = "Debug Hugo Application in Production | Nanobox"
    description = "Learn how to debug a production Hugo application"
    keywords    = "golang, hugo production application, manage hugo application, hugo logging, hugo monitoring, debug hugo, debugging hugo"
    articles    = "golang/hugo"
    icons       = "golang,hugo"
    id          = "Debugging"
    
block markdown
  include:md /articles/shared/debugging.md
