extends /app/pages/templates/article  

block configParams
  -
    title    = "Existing Hugo App"
    articles = "golang/hugo"
    icons    = "golang,hugo"
    
block markdown
  include:md /articles/golang/hugo/existing-app.md
