extends /app/pages/templates/article  

block configParams
  -
    title    = "Hugo From Scratch"
    articles = "golang/hugo"
    icons    = "golang,hugo"
    
block markdown
  include:md /articles/golang/hugo/from-scratch.md
