extends /app/pages/templates/article  

block configParams
  -
    title       = "Launch a Hugo Application to Production | Nanobox"
    description = "Learn how to deploy a Hugo application to production servers"
    keywords    = "golang, hugo production application, manage hugo application, deploy hugo, launch hugo, hugo in production, hugo production servers"
    articles    = "golang/hugo"
    icons       = "golang,hugo"
    
block markdown
  :md
    # Launch Your App
  include:md /articles/shared/partials/launch-your-app.md
  include:md /articles/golang/hugo/launch-your-app.md
  include:md /articles/shared/partials/deploy-your-app.md
