extends /app/pages/templates/article  

block configParams
  -
    title       = "Remote Access to Hugo Applications | Nanobox"
    description = "Securely manage running Hugo application with SSH remote access"
    keywords    = "golang, hugo production application, manage hugo application, ssh access, remote access, server management, secure access"
    articles    = "golang/hugo"
    icons       = "golang,hugo"
    id          = "Remote Access"
    
block markdown
  include:md /articles/shared/remote-access.md
