extends /app/pages/templates/article  

block configParams
  -
    title    = "Local Environment Variables"
    articles = "nodejs/express"
    icons    = "nodejs,express"
    
block markdown
  include:md /articles/shared/next-steps/local-evars.md
