extends /app/pages/templates/article  

block configParams
  -
    title       = "Add a Database to a Ruby Application | Nanobox"
    description = "How to add and connect to a database with a Ruby applciation"
    keywords    = "ruby, ruby production application, manage ruby application, ruby database, ruby and mongodb, ruby and postgres, mongodb, postgres"
    articles    = "ruby/generic"
    icons       = "ruby,generic"
    
block markdown
  include:md /articles/ruby/generic/add-a-database.md
