extends /app/pages/templates/article  

block configParams
  -
    title       = "Add a Database"
    keywords    = "ruby,generic,add-a-database"
    description = "Add a database to your Ruby app with Nanobox"
    articles    = "ruby/generic"
    icons       = "ruby,generic"
    
block markdown
  include:md /articles/ruby/generic/add-a-database.md
