extends /app/pages/templates/article  

block configParams
  -
    title       = "Monitoring Ruby Production Applications | Nanobox"
    description = "Monitor a production Ruby application with live and historical stats"
    keywords    = "ruby, ruby production application, manage ruby application, stats, ruby stats, ruby stats, monitor ruby, ruby app health"
    articles    = "ruby/generic"
    icons       = "ruby,generic"
    id          = "App Health"
    
block markdown
  include:md /articles/shared/app-health.md
