extends /app/pages/templates/article  

block configParams
  -
    title       = "Managing Ruby Versions | Nanobox"
    description = "How to update or change ruby versions in development and production environments"
    keywords    = "ruby, ruby production application, manage ruby application, configure ruby, production ruby, ruby in production, ruby version, manage ruby versions"
    articles    = "ruby/generic"
    icons       = "ruby,generic"
    id          = "Configure Ruby"
    
block markdown
  include:md /articles/ruby/config.md
