extends /app/pages/templates/article  

block configParams
  -
    title       = "Configure generic"
    keywords    = "ruby,generic,configure,production"
    description = "configuring generic for production"
    articles    = "ruby/generic"
    icons       = "ruby,generic"
    
block markdown
  include:md /articles/ruby/generic/configure-generic.md
