extends /app/pages/templates/article  

block configParams
  -
    title       = "Configure Ruby to run in Production | Nanobox"
    description = "Learn how to configure a Ruby application to run in production"
    keywords    = "ruby, ruby production application, manage ruby application, configure ruby, production ruby, ruby in production"
    articles    = "ruby/generic"
    icons       = "ruby,generic"
    id          = "Configure your App"
    
block markdown
  include:md /articles/ruby/generic/configure-generic.md
