extends /app/pages/templates/article  

block configParams
  -
    title       = "Configure Ruby"
    keywords    = "ruby,configure"
    description = "configure ruby"
    articles    = "ruby/generic"
    icons       = "ruby,generic"
    
block markdown
  include:md /articles/ruby/config.md
