extends /app/pages/templates/article  

block configParams
  -
    title       = "Debug Ruby Application in Production | Nanobox"
    description = "Learn how to debug a production Ruby application"
    keywords    = "ruby, ruby production application, manage ruby application, ruby logging, ruby monitoring, debug ruby, debugging ruby"
    articles    = "ruby/generic"
    icons       = "ruby,generic"
    
block markdown
  include:md /articles/shared/debugging.md
