extends /app/pages/templates/article  

block configParams
  -
    title       = "Debugging generic"
    keywords    = "ruby,generic,debug"
    description = "debug generic app"
    articles    = "ruby/generic"
    icons       = "ruby,generic"
    
block markdown
  include:md /articles/shared/debugging.md
