extends /app/pages/templates/article  

block configParams
  -
    title       = "Dry Run"
    keywords    = "ruby,generic,stage,test"
    description = "test generic app"
    articles    = "ruby/generic"
    icons       = "ruby,generic"
    
block markdown
  include:md /articles/shared/dry-run.md
