extends /app/pages/templates/article  

block configParams
  -
    title       = "Add SSL/TLS Encryption to a Ruby Application | Nanobox"
    description = "Learn how to easily add SSL/TLS encryption to a Ruby production application"
    keywords    = "ruby, ruby production application, manage ruby application, ssl, tls, encryption"
    articles    = "ruby/generic"
    icons       = "ruby,generic"
    id          = "SSL/TLS Encryption"
    
block markdown
  include:md /articles/shared/encryption.md
