extends /app/pages/templates/article  

block configParams
  -
    title       = "Run an Existing Ruby Applicatin in Docker | Nanobox"
    description = "Learn how to take an existing Ruby application and run it using Docker"
    keywords    = "ruby, ruby production application, manage ruby application, docker, ruby on docker, containers"
    articles    = "ruby/generic"
    icons       = "ruby,generic"
    
block markdown
  include:md /articles/ruby/generic/existing-app.md
