extends /app/pages/templates/article  

block configParams
  -
    title       = "Create a Ruby Application from Scratch | Nanobox"
    description = "Learn how to create a new Ruby application and local development environment"
    keywords    = "ruby, ruby application, ruby application, ruby dev environment, dev environment, ruby dev environemnt, ruby dev, docker, containers"
    articles    = "ruby/generic"
    icons       = "ruby,generic"
    
block markdown
  include:md /articles/ruby/generic/from-scratch.md
