extends /app/pages/templates/article  

block configParams
  -
    title       = "Install Nanobox"
    keywords    = "ruby,generic,nanobox"
    description = "nanobox for generic"
    articles    = "ruby/generic"
    icons       = "ruby,generic"
    
block markdown
  include:md /articles/shared/install-nanobox.md
