extends /app/pages/templates/article  

block configParams
  -
    title       = "Launch your App"
    keywords    = "ruby,generic,launch"
    description = "Launch your Ruby app on live servers with Nanobox"
    articles    = "ruby/generic"
    icons       = "ruby,generic"
    
block markdown
  :md
    # Launch Your App
  include:md /articles/shared/partials/launch-your-app.md
  include:md /articles/ruby/generic/launch-your-app.md
  include:md /articles/shared/partials/deploy-your-app.md
