extends /app/pages/templates/article  

block configParams
  -
    title       = "Launch a Ruby Application to Production | Nanobox"
    description = "Learn how to deploy a Ruby application to production servers"
    keywords    = "ruby, ruby production application, manage ruby application, deploy ruby, launch ruby, ruby in production, ruby production servers"
    articles    = "ruby/generic"
    icons       = "ruby,generic"
    
block markdown
  :md
    # Launch Your App
  include:md /articles/shared/partials/launch-your-app.md
  include:md /articles/ruby/generic/launch-your-app.md
  include:md /articles/shared/partials/deploy-your-app.md
