extends /app/pages/templates/article  

block configParams
  -
    title       = "Stage a Ruby application | Nanobox"
    description = "Easily stage a Ruby application before deplying to production"
    keywords    = "ruby, ruby production application, manage ruby application, test ruby application, stage ruby application"
    articles    = "ruby/generic"
    icons       = "ruby,generic"
    id          = "Preview your App"
    
block markdown
  include:md /articles/ruby/generic/preview-your-app.md
