extends /app/pages/templates/article  

block configParams
  -
    title       = "Dry Run"
    keywords    = "ruby,generic,stage,test"
    description = "preview generic ruby app"
    articles    = "ruby/generic"
    icons       = "ruby,generic"
    
block markdown
  include:md /articles/ruby/generic/preview-your-app.md
