extends /app/pages/templates/article  

block configParams
  -
    title       = "Scale Your App"
    keywords    = "ruby,generic,production,scale"
    description = "How to scale your Ruby app with Nanobox"
    articles    = "ruby/generic"
    icons       = "ruby,generic"
    
block markdown
  include:md /articles/shared/scale-your-app.md
