extends /app/pages/templates/article  

block configParams
  -
    title       = "Scale Ruby Applications | Nanobox"
    description = "Easily scale production Ruby applications with zero downtime"
    keywords    = "ruby, ruby production application, manage ruby application, scale ruby application, zero downtime"
    articles    = "ruby/generic"
    icons       = "ruby,generic"
    
block markdown
  include:md /articles/shared/scale-your-app.md
