extends /app/pages/templates/article  

block configParams
  -
    title    = "Connect a Database"
    articles = "nodejs/angular"
    icons    = "nodejs,angular"
    
block markdown
  include:md /articles/nodejs/angular/connect-a-database.md
