extends /app/pages/templates/article  

block configParams
  -
    title    = "Getting Started"
    articles = "nodejs/angular"
    icons    = "nodejs,angular"
    
block markdown
  include:md /articles/nodejs/angular/getting-started.md
