mixin link(href, name)
  - var xtra = isProduction ? '.html' : '.html'
  a(href="#{href}#{xtra}")&attributes(attributes)= name
    block

doctype html
html(lang="en")
  
  head
    title Nanobox
    meta( name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" )

    // build:css /style.css
    link(href='/css/shared-svg.css' rel='stylesheet' type='text/css')
    link(href='/css/hexes-svg.css' rel='stylesheet' type='text/css')
    link(href='/css/hexes-frameworks-svg.css' rel='stylesheet' type='text/css')
    link(href='/css/base-svg.css' rel='stylesheet' type='text/css')
    link(href="/css/main.css", rel="stylesheet")
    // endbuild
    
    block css
    
    link(href='//fonts.googleapis.com/css?family=Lato:400,400italic' rel='stylesheet' type='text/css')
    link(rel="icon" type="image/png" href="/assets/favicon.png")

  body
    .main-wrapper 
      include ../shared/top-nav.jade
      .content-area
        block content
          
    // build:libs /js/libs.js
    script(src="/bower-libs/jquery/dist/jquery.js")
    script(src="/bower-libs/jade/runtime.js")
    script(src="/bower-libs/shadow-icons/rel/app.js")
    script(src="/bower-libs/velocity/velocity.js")
    script(src="/bower-libs/prism/prism.js")
    script(src="/bower-libs/prism/components/prism-yaml.js")
    script(src="/bower-libs/prism/components/prism-bash.js")
    script(src="/js/jade-templates.js")
    script(src="/js/shared-svg.js")
    script(src="/js/hexes-svg.js")
    script(src="/js/hexes-frameworks-svg.js")
    script(src="/js/base-svg.js")
    script(src="/js/top-nav.js")
    // endbuild
    
    // build:main /js/main.js
    script(src="/js/article.js")
    // endbuild
    
    script(src="https://use.typekit.net/cqd5kth.js")
    script try{Typekit.load({ async: true });}catch(e){}
  
    block js
    
    script(type="text/javascript").
      $mainwrapper = $(".main-wrapper");
      castShadows( $('.main-wrapper') );
      topNav = new nanobox.TopNav( $(".top-nav") );
      
    include ../shared/google-analytics.jade
    // build:remove 
    //- script(src="//guides.nanobox.dev:35729/livereload.js")
    script(src="//localhost:35729/livereload.js")
    script(src="/js/local.js")
    // endbuild
