extends ../templates/base

block js
  script(src="/js/landing.js")
  script(src="/js/framework-landing.js")
  script.
    //- Don't fail if these vals aren't set...
    var requiredComponents = (requiredComponents === null) ? [] : requiredComponents
    var optionalComponents = (optionalComponents === null) ? [] : optionalComponents
    var articleGroups      = (articleGroups === null)      ? [] : articleGroups
    article = new FrameworkLanding(requiredComponents, optionalComponents, "#{informalName}", articleGroups )
    nanobox.addBreadcrumb( $('.main') )
      
block content
  block configParams
  block jsParams
  .article-page.landing.framework 
    .left#left
      
    .main
      .title
        .icon
          img.shadow-icon(data-src="hex-#{icon}" scalable="true")
        .framework= formalName
        .sub with Nanobox
    
      .article-groups#article-groups
