extends ../templates/base

block js
  script(src="/js/framework-overview.js")
  script.
    article = new FrameworkOverview(requiredComponents, optionalComponents, "#{informalName}", articleGroups )
    
block content
  block configParams
  block jsParams
  .article-page.framework 
    .left#left
      
    .main
      .title
        .icon
          img.shadow-icon(data-src="hex-#{icon}" scalable="true")
        .framework= formalName
        .sub With Nanobox
    
      .article-groups#article-groups
