extends /app/pages/templates/article  

block configParams
  -
    title    = "SSL/TLS Encryption"
    articles = "python"
    icons    = "python"
    
block markdown
  include:md /articles/shared/production/encryption.md
