extends /app/pages/templates/article  

block configParams
  -
    title    = "Install Nanobox"
    articles = "php/codeigniter"
    icons    = "php,codeigniter"
    
block markdown
  include:md /articles/shared/getting-started/install-nanobox.md
