extends /app/pages/templates/article  

block configParams
  -
    title       = "Configure Pyramid to run in Production | Nanobox"
    description = "Learn how to configure a Pyramid application to run in production"
    keywords    = "python, pyramid production application, manage pyramid application, configure pyramid, production pyramid, pyramid in production"
    articles    = "python/pyramid"
    icons       = "python,pyramid"
    id          = "Configure Pyramid"
    
block markdown
  include:md /articles/python/pyramid/configure-pyramid.md
