extends /app/pages/templates/article  

block configParams
  -
    title       = "Add SSL/TLS Encryption to a Pyramid Application | Nanobox"
    description = "Learn how to easily add SSL/TLS encryption to a Pyramid production application"
    keywords    = "python, pyramid production application, manage pyramid application, ssl, tls, encryption"
    articles    = "python/pyramid"
    icons       = "python,pyramid"
    id          = "SSL/TLS Encryption"
    
block markdown
  include:md /articles/shared/encryption.md
