extends /app/pages/templates/article  

block configParams
  -
    title       = "Add Environment Variable to Production Pyramid Application | Nanobox"
    description = "Learn how to add environment variable to a production Pyramid application"
    keywords    = "python, pyramid production application, manage pyramid application, pyramid environment variables, environment variables"
    articles    = "python/pyramid"
    icons       = "python,pyramid"
    id          = "Environment Variables"
    
block markdown
  include:md /articles/shared/production-evars.md
