extends /app/pages/templates/article  

block configParams
  -
    title       = "Remote Access to Pyramid Applications | Nanobox"
    description = "Securely manage running Pyramid application with SSH remote access"
    keywords    = "python, pyramid production application, manage pyramid application, ssh access, remote access, server management, secure access"
    articles    = "python/pyramid"
    icons       = "python,pyramid"
    id          = "Remote Access"
    
block markdown
  include:md /articles/shared/remote-access.md
