extends /app/pages/templates/article  

block configParams
  -
    title    = "Start Commands"
    articles = "php"
    icons    = "php"
    
block markdown
  include:md /articles/php/generic/start-commands.md
