extends /app/pages/templates/article  

block configParams
  -
    title       = "Configure Nodal to run in Production | Nanobox"
    description = "Learn how to configure a Nodal application to run in production"
    keywords    = "nodejs, nodal production application, manage nodal application, configure nodal, production nodal, nodal in production"
    articles    = "nodejs/nodal"
    icons       = "nodejs,nodal"
    id          = "Configure Nodal"
    
block markdown
  include:md /articles/nodejs/nodal/configure-nodal.md
