extends /app/pages/templates/article  

block configParams
  -
    title       = "Local Environment Variables"
    keywords    = "nodejs,nodal,environment-variables"
    description = "Nodal environment variables with Nanobox"
    articles    = "nodejs/nodal"
    icons       = "nodejs,nodal"
    
block markdown
  include:md /articles/shared/local-evars.md
