extends /app/pages/templates/article  

block configParams
  -
    title       = "Remote Access to Nodal Applications | Nanobox"
    description = "Securely manage running Nodal application with SSH remote access"
    keywords    = "nodejs, nodal production application, manage nodal application, ssh access, remote access, server management, secure access"
    articles    = "nodejs/nodal"
    icons       = "node,nodal"
    id          = "Remote Access"
    
block markdown
  include:md /articles/shared/remote-access.md
