extends /app/pages/templates/article  

block configParams
  -
    title       = "Securely Connect to Memcached in Production and Development | Nanobox"
    description = "Instructions for connecting to a Memcached component in development and production with Nanobox."
    keywords    = "deploy memcached, memcached in production, memcached, scaling memcached, local memcached, local development, configure memcached"
    articles    = "memcached"
    icons       = "memcached"
    
block markdown
  include:md /articles/memcached/connect.md
