extends /app/pages/templates/article

block configParams
  -
    title       = "Create a Memcached Component in Local and Production Environments | Nanobox"
    description = "Instructions for creating to a Memcached component in development and production with Nanobox"
    keywords    = "deploy memcached, memcached in production, memcached, scaling memcached, local memcached, local development, configure memcached"
    articles    = "memcached"
    icons       = "memcached"

block markdown
  include:md /articles/memcached/create.md
