extends /app/pages/templates/article

block configParams
  -
    title       = "Create a Memcached Component"
    description = "Create a Memcached component with Nanobox"
    articles    = "memcached"
    icons       = "memcached"

block markdown
  include:md /articles/memcached/create.md
