extends /app/pages/templates/article  

block configParams
  -
    title       = "Manage Local Memcached Data | Nanobox"
    description = "Instructions for managing local Memcached data in apps running in Nanobox"
    keywords    = "deploy memcached, memcached in production, memcached, scaling memcached, local memcached, local development, configure memcached"
    articles    = "memcached"
    icons       = "memcached"
    id          = "Managing Local Data"
    
block markdown
  include:md /articles/memcached/manage-local.md
