extends /app/pages/templates/article  

block configParams
  -
    title       = "Managing Production Data"
    description = "Managing production Memcached data with Nanobox"
    articles    = "memcached"
    icons       = "memcached"
    
block markdown
  include:md /articles/memcached/manage-production.md
