extends /app/pages/templates/article  

block configParams
  -
    title       = "Manage Production Memcached Data | Nanobox"
    description = "Instructions for managing Memcached data in production for apps deployed with Nanobox"
    keywords    = "deploy memcached, memcached in production, memcached, scaling memcached, local memcached, local development, configure memcached"
    articles    = "memcached"
    icons       = "memcached"
    id          = "Managing Production Data"
    
block markdown
  include:md /articles/memcached/manage-production.md
