extends /app/pages/templates/article  

block configParams
  -
    title    = "Add App Components"
    articles = "php"
    icons    = "php"
    
block markdown
  include:md /articles/php/generic/add-components.md
