extends /app/pages/templates/article  

block configParams
  -
    title    = "Apache Settings"
    articles = "php"
    icons    = "php"
    
block markdown
  include:md /articles/php/config/webserver/apache-settings.md
