extends /app/pages/templates/framework-landing  

block configParams
  -
    title        = "CakePHP with Nanobox"
    description  = "Get CakePHP up and running with Nanobox"
    formalName   = "CakePHP"
    informalName = "cakephp"
    icon         = "cakephp"
    iconCrumbs   = "php,cakephp"

block jsParams
  script.
    devMode = true

    //- This is javascript
    requiredComponents = [
      {name:'PHP', icon:'php', href:'#'},
      {name:'MySQL', icon:'mysql', href:'#'},
      {name:'Storage', icon:'storage', href:'#'}
    ]
    optionalComponents = [
      {name:'PostgreSQL', icon:'postgres', href:'#'},
      {name:'Mongo DB', icon:'mongo', href:'#'},
      {name:'Redis', icon:'redis', href:'#'},
      {name:'Memcached', icon:'memcached', href:'#'}
    ]
    articleGroups = "php/cakephp"
