extends /app/pages/templates/article  

block configParams
  -
    title    = "eAccelerator Settings"
    articles = "php"
    icons    = "php"
    
block markdown
  include:md /articles/php/eaccelerator-settings.md
