extends /app/pages/templates/framework-landing  

block configParams
  -
    title        = "Create and Deploy a Production PHP App"
    description  = "Learn how to setup a PHP development environment and configure it to deploy to production."
    keywords     = "php, php config, php development environment, php production app, php app, deploy php, create php app, config php app"
    formalName   = "PHP"
    informalName = "php"
    icon         = "php"
    iconCrumbs   = "php"
    noQuickstart = true

block jsParams
  script.
    //- This is javascript
    requiredComponents = [
      {name:'PHP', icon:'php', href:'#'},
      {name:'MySQL', icon:'mysql', href:'#'},
      {name:'Storage', icon:'storage', href:'#'}
    ]
    optionalComponents = [
      {name:'PostgreSQL', icon:'postgres', href:'#'},
      {name:'Mongo DB', icon:'mongo', href:'#'},
      {name:'Redis', icon:'redis', href:'#'},
      {name:'Memcached', icon:'memcached', href:'#'}
    ]
    articleGroups = "php/generic"
