extends /app/pages/templates/article  

block configParams
  -
    title    = "GeoIP Settings"
    articles = "php"
    icons    = "php"
    
block markdown
  include:md /articles/php/generic/config/advanced/geoip-settings.md
