extends /app/pages/templates/framework-landing  

block configParams
  -
    title        = "Create and Deploy a Production Laravel App | Nanobox"
    description  = "Learn how to setup a Laravel development environment and configure it to deploy to production."
    keywords     = "laravel, laravel framework, php frameworks, laravel config, laravel development environment, laravel production app, laravel app, deploy laravel, create laravel app, config laravel app"
    formalName   = "Laravel"
    informalName = "laravel"
    icon         = "laravel"
    iconCrumbs   = "php,laravel"

block jsParams
  script.
    //- This is javascript
    requiredComponents = [
      {name:'PHP', icon:'php', href:'#'},
      {name:'MySQL', icon:'mysql', href:'#'},
      {name:'Storage', icon:'storage', href:'#'}
    ]
    optionalComponents = [
      {name:'PostgreSQL', icon:'postgres', href:'#'},
      {name:'Mongo DB', icon:'mongo', href:'#'},
      {name:'Redis', icon:'redis', href:'#'},
      {name:'Memcached', icon:'memcached', href:'#'}
    ]
    articleGroups = "php/laravel"
