extends /app/pages/templates/framework-landing  

block configParams
  -
    title        = "Create and Deploy a Production Lumen App"
    description  = "Learn how to setup a Lumen development environment and configure it to deploy to production."
    keywords     = "lumen, lumen framework, php frameworks, lumen config, lumen development environment, lumen production app, lumen app, deploy lumen, create lumen app, config lumen app"
    formalName   = "Lumen"
    informalName = "lumen"
    icon         = "lumen"
    iconCrumbs   = "php,lumen"

block jsParams
  script.
    //- This is javascript
    requiredComponents = [
      {name:'PHP', icon:'php', href:'#'},
      {name:'MySQL', icon:'mysql', href:'#'},
      {name:'Storage', icon:'storage', href:'#'}
    ]
    optionalComponents = [
      {name:'PostgreSQL', icon:'postgres', href:'#'},
      {name:'Mongo DB', icon:'mongo', href:'#'},
      {name:'Redis', icon:'redis', href:'#'},
      {name:'Memcached', icon:'memcached', href:'#'}
    ]
    articleGroups = "php/lumen"
    devMode = true
