extends /app/pages/templates/article  

block configParams
  -
    title    = "Mongo Settings"
    articles = "php"
    icons    = "php"
    
block markdown
  include:md /articles/php/config/advanced/mongo-settings.md
