extends /app/pages/templates/article  

block configParams
  -
    title    = "New Relic Settings"
    articles = "php"
    icons    = "php"
    
block markdown
  include:md /articles/php/new-relic-settings.md
