extends /app/pages/templates/article  

block configParams
  -
    title    = "Nginx Settings"
    articles = "php"
    icons    = "php"
    
block markdown
  include:md /articles/php/nginx-settings.md
