extends /app/pages/templates/article  

block configParams
  -
    title    = "Using Node.js & npm"
    articles = "php"
    icons    = "php"
    
block markdown
  include:md /articles/shared/partials/nodejs.md
  include:md /articles/shared/partials/package-managers.md
