extends /app/pages/templates/article  

block configParams
  -
    title    = "Remote Access"
    articles = "php"
    icons    = "php"
    
block markdown
  include:md /articles/shared//remote-access.md
