extends /app/pages/templates/framework-landing  

block configParams
  -
    title        = "Create and Deploy a Production Slim App"
    description  = "Learn how to setup a Slim development environment and configure it to deploy to production."
    keywords     = "slim, slim framework, php frameworks, slim config, slim development environment, slim production app, slim app, deploy slim, create slim app, config slim app"
    formalName   = "Slim"
    informalName = "slim"
    icon         = "slim"
    iconCrumbs   = "php,slim"

block jsParams
  script.
    //- This is javascript
    requiredComponents = [
      {name:'PHP', icon:'php', href:'#'},
      {name:'MySQL', icon:'mysql', href:'#'},
      {name:'Storage', icon:'storage', href:'#'}
    ]
    optionalComponents = [
      {name:'PostgreSQL', icon:'postgres', href:'#'},
      {name:'Mongo DB', icon:'mongo', href:'#'},
      {name:'Redis', icon:'redis', href:'#'},
      {name:'Memcached', icon:'memcached', href:'#'}
    ]
    articleGroups = "php/slim"
