extends /app/pages/templates/framework-landing  

block configParams
  -
    title        = "Symfony with Nanobox"
    description  = "Get Symfony up and running with Nanobox"
    formalName   = "Symfony"
    informalName = "symfony"
    icon         = "symfony"
    iconCrumbs   = "php,symfony"

block jsParams
  script.
    //- This is javascript
    requiredComponents = [
      {name:'PHP', icon:'php', href:'#'},
      {name:'MySQL', icon:'mysql', href:'#'},
      {name:'Storage', icon:'storage', href:'#'}
    ]
    optionalComponents = [
      {name:'PostgreSQL', icon:'postgres', href:'#'},
      {name:'Mongo DB', icon:'mongo', href:'#'},
      {name:'Redis', icon:'redis', href:'#'},
      {name:'Memcached', icon:'memcached', href:'#'}
    ]
    articleGroups = "php/symfony"
