extends /app/pages/templates/article  

block configParams
  -
    title    = "Team Management"
    articles = "php"
    icons    = "php"
    
block markdown
  include:md /articles/shared//team-management.md
