extends /app/pages/templates/framework-landing  

block configParams
  -
    title        = "WordPress with Nanobox"
    description  = "Get WordPress up and running with Nanobox"
    formalName   = "WordPress"
    informalName = "WordPress"
    icon         = "wordpress"
    iconCrumbs   = "php,wordpress"
    
block jsParams
  script.
    //- This is javascript
    articleGroups = "php/wordpress"
    requiredComponents = [
      {name:'php',     icon:'php', href:'#'},
      {name:'MySQL',   icon:'mysql', href:'#'},
      {name:'Storage', icon:'storage', href:'#'}
    ]
    optionalComponents = [
      {name:'Redis', icon:'redis',    href:'#'}
    ]
    devMode = true
    contributors = [
      {name:"Hannah Warmbier", gravatarHash:'71E29B9D00C28AF27DEBF6CF2293A056', href:"http://hannahwarmbier.com/"}
    ]
