extends /app/pages/templates/framework-landing  

block configParams
  -
    formalName   = "WordPress"
    informalName = "WordPress"
    icon         = "wordpress"
    iconCrumbs   = "php,wordpress"
    
block jsParams
  script.
    //- This is javascript
    articleGroups = [
      {title:"Getting Started", group:"php/wordpress/getting-started"},
      {title:"Next Steps",      group:"php/wordpress/next-steps"},
      {title:"Production",      group:"php/wordpress/production"},
      {title:"Going Further",   group:"php/wordpress/going-further"},
    ]
    requiredComponents = [
      {name:'php',     icon:'php', href:'#'},
      {name:'MySQL',   icon:'mysql', href:'#'},
      {name:'Storage', icon:'storage', href:'#'}
    ]
    optionalComponents = [
      {name:'Redis', icon:'redis',    href:'#'}
    ]
    devMode = true
