extends /app/pages/templates/framework-landing  

block configParams
  -
    formalName   = "WordPress"
    informalName = "WordPress"
    icon         = "wordpress"
    iconCrumbs   = "php,wordpress"
    
block jsParams
  script.
    //- This is javascript
    articleGroups = [
      {title:"Getting Started",  group:"php/wordpress/getting-started"},
      {title:"Plugins & Themes", group:"php/wordpress/plugins-themes"},
      {title:"Data & Storage",   group:"php/wordpress/data-storage"},
      {title:"Production",       group:"php/wordpress/production"},
      {title:"Advanced",         group:"php/wordpress/advanced"},
    ]
    requiredComponents = [
      {name:'php',     icon:'php', href:'#'},
      {name:'MySQL',   icon:'mysql', href:'#'},
      {name:'Storage', icon:'storage', href:'#'}
    ]
    optionalComponents = [
      {name:'Redis', icon:'redis',    href:'#'}
    ]
    devMode = true
