extends /app/pages/templates/framework-landing  

block configParams
  -
    title        = "Create and Deploy a Production Wordpress App | Nanobox"
    description  = "Learn how to setup a Wordpress development environment and configure it to deploy to production."
    keywords     = "wordpress, wordpress framework, php frameworks, wordpress config, wordpress development environment, wordpress production app, wordpress app, deploy wordpress, create wordpress app, config wordpress app"
    formalName   = "WordPress"
    informalName = "WordPress"
    icon         = "wordpress"
    iconCrumbs   = "php,wordpress"
    
block jsParams
  script.
    //- This is javascript
    articleGroups = "php/wordpress"
    requiredComponents = [
      {name:'php',     icon:'php', href:'#'},
      {name:'MySQL',   icon:'mysql', href:'#'},
      {name:'Storage', icon:'storage', href:'#'}
    ]
    optionalComponents = [
      {name:'Redis', icon:'redis',    href:'#'}
    ]
    devMode = true
    contributors = [
      {name:"Hannah Warmbier", gravatarHash:'71E29B9D00C28AF27DEBF6CF2293A056', href:"http://hannahwarmbier.com/"}
    ]
