extends /app/pages/templates/article  

block configParams
  -
    title    = "Writable Permissions"
    articles = "php"
    icons    = "php"
    
block markdown
  include:md /articles/shared/writable-permissions.md
