extends /app/pages/templates/article  

block configParams
  -
    title    = "Launch your App"
    articles = "nodejs/angular"
    icons    = "nodejs,angular"
    
block markdown
  include:md /articles/shared/launch-your-app.md
