extends /app/pages/templates/article  

block configParams
  -
    title    = "Point your Domain"
    articles = "nodejs/angular"
    icons    = "nodejs,angular"
    
block markdown
  include:md /articles/shared/point-your-domain.md
