.links.cloud
  a.private-beta Sign up for the Private Beta
.sign-up(style="opacity:0; display:none")
  //- Begin MailChimp Signup Form
  #mc_embed_signup
      form#mc-embedded-subscribe-form.validate(action='//nanobox.us1.list-manage.com/subscribe/post?u=66d466ffda636e98ead7e7909&amp;id=61b8a0961c', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='')
        #mc_embed_signup_scroll
          .fields
            //- .mc-field-group
            //-   input#mce-FNAME(placeholder="First Name" type='text', value='', name='FNAME')
            .mc-field-group
              input#mce-EMAIL.required.email(placeholder="Email" type='email', value='', name='EMAIL')
          //- .mc-field-group
          //-   label(for='mce-LNAME') Last Name 
          //-   input#mce-LNAME(type='text', value='', name='LNAME')
          #mce-responses.clear
            #mce-error-response.response(style='display:none')
            #mce-success-response.response(style='display:none')
          //- real people should not fill this in and expect good things - do not remove this or risk form bot signups
          div(style='position: absolute; left: -5000px;')
            input(type='text', name='b_66d466ffda636e98ead7e7909_61b8a0961c', tabindex='-1', value='')
          .clear
            input#mc-embedded-subscribe.button(type='submit', value='Notify me when the private beta is ready', name='subscribe')
    //- End mc_embed_signup

