.top-nav-wrapper(style="height:49px;")
  input(type="checkbox")
  .hamburg-icon
    .line.top
    .line.mid
    .line.btm
  .top-nav
    .logo
      a.icon(href="//nanobox.io")
        img.shadow-icon(data-src="logo")
      a.company(href="/") Nanobox
    .menu
      .nav
        .left-items
          .more.what-is-nanobox
            a(href="//nanobox.io/what-is-nanobox")
              .txt What is Nanobox
              img.shadow-icon(data-src="more-arrow")
            .sub-menu
              .shadow
                a(href="//nanobox.io/app-development-environment")
                  .icon
                    img.shadow-icon(data-src="nav-local")
                  .txt Local Dev Environment
                a(href="//nanobox.io/app-deployment-tool")
                  .icon
                    img.shadow-icon(data-src="nav-deploy")
                  .txt App Deployment Platform
                a(href="//nanobox.io/app-server-management-system")
                  .icon
                    img.shadow-icon(data-src="nav-production")
                  .txt Production Management Tool
          a.get-started(href="http://guides.nanobox.io") Get Started
          a(href="//nanobox.io/pricing") Pricing
          //- a.more(href="#") 
          //-   .txt More
          //-   img.shadow-icon(data-src="more-arrow")
        .right-items
          a(href="https://dashboard.nanobox.io/users/login") Login
          a.sign-up(href="https://dashboard.nanobox.io/users/register") Sign Up
