.top-nav-wrapper(style="height:49px;")
  .top-nav
    a.logo(href="/")
      .img
      .company Nanobox
    .index-items
      .jumper#local-link.active(data-target="#local") Local
      .jumper#deploy-link(data-target="#deploy") Deploy
      .jumper#live-link(data-target="#live") Live
    .menu
      .nav
        //- a(href="/pricing") Pricing
        a(href="http://dashboard.nanobox.io") Sign Up
        //- a(href="#") 
        //-   .txt More
        //-   img.shadow-icon(data-src="more-arrow")
    .hamburg-icon
      img.shadow-icon(data-src="hamburg-menu")
