extends /app/pages/templates/article  

block configParams
  -
    title       = "Add a Database to a Beego Application | Nanobox"
    description = "How to add and connect to a database with a Beego applciation"
    keywords    = "golang, beego production application, manage beego application, beego database, beego and mongodb, beego and postgres, mongodb, postgres"
    articles    = "golang/beego"
    icons       = "golang,beego"
    
block markdown
  include:md /articles/golang/beego/add-a-database.md
