extends /app/pages/templates/article  

block configParams
  -
    title       = "Configure Beego to run in Production | Nanobox"
    description = "Learn how to configure a Beego application to run in production"
    keywords    = "golang, beego production application, manage beego application, configure beego, production beego, beego in production"
    articles    = "golang/beego"
    icons       = "golang,beego"
    id          = "Configure Beego"
    
block markdown
  include:md /articles/golang/beego/configure-beego.md
