extends /app/pages/templates/article  

block configParams
  -
    title       = "Configure Beego"
    keywords    = "golang,beego,configure,production"
    description = "configure beego for production"
    articles    = "golang/beego"
    icons       = "golang,beego"
    
block markdown
  include:md /articles/golang/beego/configure-beego.md
