extends /app/pages/templates/article  

block configParams
  -
    title       = "Debug Beego Application in Production | Nanobox"
    description = "Learn how to debug a production Beego application"
    keywords    = "golang, beego production application, manage beego application, beego logging, beego monitoring, debug beego, debugging beego"
    articles    = "golang/beego"
    icons       = "golang,beego"
    
block markdown
  include:md /articles/shared/debugging.md
