extends /app/pages/templates/article  

block configParams
  -
    title       = "Debugging Beego"
    keywords    = "golang,beego,debug"
    description = "Debug your Beego app with Nanobox"
    articles    = "golang/beego"
    icons       = "golang,beego"
    
block markdown
  include:md /articles/shared/debugging.md
