extends /app/pages/templates/article  

block configParams
  -
    title       = "Add SSL/TLS Encryption to a Beego Application | Nanobox"
    description = "Learn how to easily add SSL/TLS encryption to a Beego production application"
    keywords    = "golang, beego production application, manage beego application,
    articles    = "golang/beego"
    icons       = "golang,beego"
    
block markdown
  include:md /articles/shared/encryption.md
