extends /app/pages/templates/article  

block configParams
  -
    title       = "Existing Beego App"
    keywords    = "golang,beego"
    description = "launch beego app"
    articles    = "golang/beego"
    icons       = "golang,beego"
    
block markdown
  include:md /articles/golang/beego/existing-app.md
