extends /app/pages/templates/article  

block configParams
  -
    title    = "Getting Started"
    articles = "beego"
    icons    = "golang,beego"
    
block markdown
  include:md /articles/golang/beego/getting-started.md
