extends /app/pages/templates/article  

block configParams
  -
    title       = "Launch your App"
    keywords    = "golang,beego,launch"
    description = "launch beego app"
    articles    = "golang/beego"
    icons       = "golang,beego"
    
block markdown
  include:md /articles/shared/launch-your-app.md
