extends /app/pages/templates/article  

block configParams
  -
    title       = "Managing a Production Beego Application | Nanobox"
    description = "Manage a Beego application's logs, traffic, health, and storage"
    keywords    = "golang, beego production application, manage beego application, monitor beego, beego logging, load balancer, beego monitoring, production logs"
    articles    = "golang/beego"
    icons       = "golang,beego"
    
block markdown
  include:md /articles/shared/manage-platform.md
