extends /app/pages/templates/article  

block configParams
  -
    title       = "Stage a Beego application | Nanobox"
    description = "Easily stage a Beego application before deplying to production"
    keywords    = "golang, beego production application, manage beego application, test beego application, stage beego application"
    articles    = "golang/beego"
    icons       = "golang,beego"
    id          = "Preview your App"
    
block markdown
  include:md /articles/golang/beego/preview-your-app.md
