extends /app/pages/templates/article  

block configParams
  -
    title       = "Add Environment Variable to Production Beego Application | Nanobox"
    description = "Learn how to add environment variable to a production Beego application"
    keywords    = "golang, beego production application, manage beego application, beego environment variables, environment variables"
    articles    = "golang/beego"
    icons       = "golang,beego"
    id          = "Environment Variables"
    
block markdown
  include:md /articles/shared/production-evars.md
