extends /app/pages/templates/article  

block configParams
  -
    title       = "Remote Access to Beego Applications | Nanobox"
    description = "Securely manage running Beego application with SSH remote access"
    keywords    = "golang, beego production application, manage beego application, ssh access, remote access, server management, secure access"
    articles    = "golang/beego"
    icons       = "golang,beego"
    id          = "Remote Access"
    
block markdown
  include:md /articles/shared/remote-access.md
