extends /app/pages/templates/article  

block configParams
  -
    title       = "Manage Beego Application Teams | Nanobox"
    description = "Easily manage Beego development teams and application collaborators"
    keywords    = "golang, beego production application, manage beego application, beego collaboration, team management"
    articles    = "golang/beego"
    icons       = "golang,beego"
    id          = "Team Management"
    
block markdown
  include:md /articles/shared/team-management.md
