extends /app/pages/templates/article  

block configParams
  -
    title    = "Manage Platform Components"
    articles = "shared/going-further"
    icons    = ""
    
block markdown
  include:md /articles/shared/going-further/manage-platform-components.md
