extends /app/pages/templates/article  

block configParams
  -
    title    = "Master the Boxfile"
    articles = "shared/going-further"
    icons    = ""
    
block markdown
  include:md /articles/shared/going-further/master-the-boxfile.md
