extends /app/pages/templates/article  

block configParams
  -
    title    = "Scale your Application"
    articles = "shared/going-further"
    icons    = ""
    
block markdown
  include:md /articles/shared/going-further/scale-your-app.md
