extends /app/pages/templates/article  

block configParams
  -
    title       = "Vue From Scratch"
    keywords    = "javascript,vue,new"
    description = "Launch a new Vue app with Nanobox"
    articles    = "javascript/vue"
    icons       = "javascript,vue"
    
block markdown
  include:md /articles/javascript/vue/from-scratch.md
