extends /app/pages/templates/article  

block configParams
  -
    title    = "App Health"
    articles = "python/django"
    icons    = "python,django"
    
block markdown
  include:md /articles/shared/going-further/app-health.md
