extends /app/pages/templates/article  

block configParams
  -
    title    = "Manage Platform"
    articles = "python/django"
    icons    = "python,django"
    
block markdown
  include:md /articles/shared/going-further/manage-platform.md
