extends /app/pages/templates/article  

block configParams
  -
    title    = "Configure Flask"
    articles = "python/flask"
    icons    = "python,flask"
    
block markdown
  include:md /articles/python/flask/production/configure-flask.md
