extends /app/pages/templates/article  

block configParams
  -
    title       = "Add a Database to a Sinatra Application | Nanobox"
    description = "How to add and connect to a database with a Sinatra applciation"
    keywords    = "ruby, sinatra production application, manage sinatra application, sinatra database, sinatra and mongodb, sinatra and postgres, mongodb, postgres"
    articles    = "ruby/sinatra"
    icons       = "ruby,sinatra"
    
block markdown
  include:md /articles/ruby/sinatra/add-a-database.md
