extends /app/pages/templates/article  

block configParams
  -
    title       = "Monitoring Production Sinatra Applications | Nanobox"
    description = "Monitor a production Sinatra application with live and historical stats"
    keywords    = "ruby, sinatra production application, manage sinatra application, stats, ruby stats, sinatra stats, monitor sinatra, sinatra app health"
    articles    = "ruby/sinatra"
    icons       = "ruby,sinatra"
    id          = "App Health"
    
block markdown
  include:md /articles/shared/app-health.md
