extends /app/pages/templates/article  

block configParams
  -
    title       = "Managing Ruby Gems with Bundler | Nanobox"
    description = "How to manage Sinatra application dependencies with Bundler"
    keywords    = "ruby, sinatra application, manage sinatra application, bundler, sinatra bundler, ruby bundler, gem bundler"
    articles    = "ruby/sinatra"
    icons       = "ruby,sinatra"
    
block markdown
  include:md /articles/ruby/bundler.md
