extends /app/pages/templates/article  

block configParams
  -
    title       = "Configure Sinatra to run in Production | Nanobox"
    description = "Learn how to configure a Sinatra application to run in production"
    keywords    = "ruby, sinatra production application, manage sinatra application, configure sinatra, production sinatra, sinatra in production"
    articles    = "ruby/sinatra"
    icons       = "ruby,sinatra"
    
block markdown
  include:md /articles/ruby/sinatra/configure-sinatra.md
