extends /app/pages/templates/article  

block configParams
  -
    title       = "Debugging sinatra"
    keywords    = "ruby,sinatra,debug"
    description = "debug sinatra app"
    articles    = "ruby/sinatra"
    icons       = "ruby,sinatra"
    
block markdown
  include:md /articles/shared/debugging.md
