extends /app/pages/templates/article  

block configParams
  -
    title       = "Debug Sinatra Application in Production | Nanobox"
    description = "Learn how to debug a production Sinatra application"
    keywords    = "ruby, sinatra production application, manage sinatra application, sinatra logging, sinatra monitoring, debug sinatra, debugging sinatra"
    articles    = "ruby/sinatra"
    icons       = "ruby,sinatra"
    
block markdown
  include:md /articles/shared/debugging.md
