extends /app/pages/templates/article  

block configParams
  -
    title       = "Add SSL/TLS Encryption to a Sinatra Application | Nanobox"
    description = "Learn how to easily add SSL/TLS encryption to a Sinatra production application"
    keywords    = "ruby, sinatra production application, manage sinatra application, ssl, tls, encryption"
    articles    = "ruby/sinatra"
    icons       = "ruby,sinatra"
    id          = "SSL/TLS Encryption"
    
block markdown
  include:md /articles/shared/encryption.md
