extends /app/pages/templates/article  

block configParams
  -
    title       = "SSL/TLS Encryption"
    keywords    = "ruby,sinatra,ssl,tls,encryption"
    description = "Sinatra SSL/TLS Encryption with Nanobox"
    articles    = "ruby/sinatra"
    icons       = "ruby,sinatra"
    
block markdown
  include:md /articles/shared/encryption.md
