extends /app/pages/templates/article  

block configParams
  -
    title    = "Existing Sinatra App"
    articles = "ruby/sinatra"
    icons    = "ruby,sinatra"
    
block markdown
  include:md /articles/ruby/sinatra//existing-app.md
