extends /app/pages/templates/article  

block configParams
  -
    title       = "Run an Existing Sinatra Application in Docker | Nanobox"
    description = "Learn how to take an existing Sinatra application and run it using Docker"
    keywords    = "ruby, sinatra production application, manage sinatra application, docker, sinatra on docker, containers"
    articles    = "ruby/sinatra"
    icons       = "ruby,sinatra"
    id          = "Existing Sinatra App"
    
block markdown
  include:md /articles/ruby/sinatra/existing-app.md
