extends /app/pages/templates/article  

block configParams
  -
    title       = "Existing Sinatra App"
    keywords    = "ruby,sinatra"
    description = "Launch your existing Sinatra app with Nanobox"
    articles    = "ruby/sinatra"
    icons       = "ruby,sinatra"
    
block markdown
  include:md /articles/ruby/sinatra/existing-app.md
