extends /app/pages/templates/article  

block configParams
  -
    title       = "Create a Sinatra Application from Scratch | Nanobox"
    description = "Learn how to create a new Sinatra application and local development environment"
    keywords    = "ruby, sinatra application, sinatra application, ruby dev environment, dev environment, sinatra dev environemnt, sinatra dev, docker, containers"
    articles    = "ruby/sinatra"
    icons       = "ruby,sinatra"
    id          = "Sinatra from Scratch"
    
block markdown
  include:md /articles/ruby/sinatra/from-scratch.md
