extends /app/pages/templates/article  

block configParams
  -
    title       = "Frontend Javascript"
    keywords    = "ruby,sinatra,javascript,node,yarn,npm,bower,gulp,grunt,brunch,broccoli"
    description = "javascript in sinatra"
    articles    = "ruby/sinatra"
    icons       = "ruby,sinatra"
    
block markdown
  include:md /articles/shared/frontend-javascript.md
