extends /app/pages/templates/article  

block configParams
  -
    title       = "Install Nanobox"
    keywords    = "ruby,sinatra,nanobox"
    description = "nanobox for sinatra"
    articles    = "ruby/sinatra"
    icons       = "ruby,sinatra"
    
block markdown
  include:md /articles/shared/install-nanobox.md
