extends /app/pages/templates/article  

block configParams
  -
    title       = "Launch your App"
    keywords    = "ruby,sinatra,launch"
    description = "launch sinatra app"
    articles    = "ruby/sinatra"
    icons       = "ruby,sinatra"
    
block markdown
  include:md /articles/shared/launch-your-app.md
