extends /app/pages/templates/article  

block configParams
  -
    title       = "Launch your App"
    keywords    = "ruby,sinatra,launch"
    description = "Launch your Sinatra app on live servers with Nanobox"
    articles    = "ruby/sinatra"
    icons       = "ruby,sinatra"
    
block markdown
  :md
    # Launch Your App
  include:md /articles/shared/partials/launch-your-app.md
  include:md /articles/ruby/sinatra/launch-your-app.md
  include:md /articles/shared/partials/deploy-your-app.md
