extends /app/pages/templates/article  

block configParams
  -
    title       = "Add Environment Variable to Sinatra Application in Development| Nanobox"
    description = "Learn how to add environment variable to a Sinatra applicationin development"
    keywords    = "ruby, sinatra application, manage sinatra application, sinatra environment variables, environment variables"
    articles    = "ruby/sinatra"
    icons       = "ruby,sinatra"
    
block markdown
  include:md /articles/shared/local-evars.md
