extends /app/pages/templates/article  

block configParams
  -
    title    = "Manage Platform"
    articles = "ruby/sinatra"
    icons    = "ruby,sinatra"
    
block markdown
  include:md /articles/shared//manage-platform.md
