extends /app/pages/templates/article  

block configParams
  -
    title       = "Manage Platform"
    keywords    = "ruby,sinatra,manage,production"
    description = "Managing your Sinatra app in production with Nanobox"
    articles    = "ruby/sinatra"
    icons       = "ruby,sinatra"
    
block markdown
  include:md /articles/shared/manage-platform.md
