extends /app/pages/templates/article  

block configParams
  -
    title       = "Managing a Production Sinatra Application | Nanobox"
    description = "Manage a Sinatra application's logs, traffic, health, and storage"
    keywords    = "ruby, sinatra production application, manage sinatra application, monitor sinatra, sinatra logging, load balancer, sinatra monitoring, production logs"
    articles    = "ruby/sinatra"
    icons       = "ruby,sinatra"
    
block markdown
  include:md /articles/shared/manage-platform.md
