extends /app/pages/templates/article  

block configParams
  -
    title       = "Adding a Domain to a Sinatra Application | Nanobox"
    description = "How to point an existing domain name to a Sinatra application"
    keywords    = "ruby, sinatra production application, manage sinatra application point dns, add dns, domain, domin pointing, point domain"
    articles    = "ruby/sinatra"
    icons       = "ruby,sinatra"
    
block markdown
  include:md /articles/shared/point-your-domain.md
