extends /app/pages/templates/article  

block configParams
  -
    title    = "Prepare for production"
    articles = "ruby/sinatra"
    icons    = "ruby,sinatra"
    
block markdown
  include:md /articles/ruby/sinatra/prepare-for-production.md
