extends /app/pages/templates/article  

block configParams
  -
    title       = "Stage a Sinatra application | Nanobox"
    description = "Easily stage a Sinatra application before deplying to production"
    keywords    = "ruby, sinatra production application, manage sinatra application, test sinatra application, stage sinatra application"
    articles    = "ruby/sinatra"
    icons       = "ruby,sinatra"
    
block markdown
  include:md /articles/ruby/sinatra/preview-your-app.md
