extends /app/pages/templates/article  

block configParams
  -
    title       = "Production Environment Variables"
    keywords    = "ruby,sinatra,environment-variables"
    description = "sinatra environment variables"
    articles    = "ruby/sinatra"
    icons       = "ruby,sinatra"
    
block markdown
  include:md /articles/shared/production-evars.md
