extends /app/pages/templates/article  

block configParams
  -
    title       = "Add Environment Variable to Production Sinatra Application | Nanobox"
    description = "Learn how to add environment variable to a production Sinatra application"
    keywords    = "ruby, sinatra production application, manage sinatra application, sinatra environment variables, environment variables"
    articles    = "ruby/sinatra"
    icons       = "ruby,sinatra"
    
block markdown
  include:md /articles/shared/production-evars.md
