extends /app/pages/templates/article  

block configParams
  -
    title       = "Remote Access"
    keywords    = "ruby,sinatra,remote-access"
    description = "sinatra remote access"
    articles    = "ruby/sinatra"
    icons       = "ruby,sinatra"
    
block markdown
  include:md /articles/shared/remote-access.md
