extends /app/pages/templates/article  

block configParams
  -
    title       = "Remote Access to Sinatra Applications | Nanobox"
    description = "Securely manage running Sinatra application with SSH remote access"
    keywords    = "ruby, sinatra production application, manage sinatra application, ssh access, remote access, server management, secure access"
    articles    = "ruby/sinatra"
    icons       = "ruby,sinatra"
    
block markdown
  include:md /articles/shared/remote-access.md
