extends /app/pages/templates/article  

block configParams
  -
    title       = "Scale Sinatra Applications | Nanobox"
    description = "Easily scale production Sinatra applications with zero downtime"
    keywords    = "ruby, sinatra production application, manage sinatra application, scale sinatra application, zero downtime"
    articles    = "ruby/sinatra"
    icons       = "ruby,sinatra"
    id          = "Scale your App"
    
block markdown
  include:md /articles/shared/scale-your-app.md
