extends /app/pages/templates/article  

block configParams
  -
    title    = "Scale Your App"
    articles = "ruby/sinatra"
    icons    = "ruby,sinatra"
    
block markdown
  include:md /articles/shared/scale-your-app.md
