.group
  a.title= title
  if typeof articles !== undefined
    each article in articles
      //- Only show links, (not sub menu items)
      if typeof article.href !== undefined
        a(href="#{article.href}")= article.title
