extends /app/pages/templates/article  

block configParams
  -
    title       = "App Health"
    keywords    = "php,symfony,app-health"
    description = "Monitor the health of your Symfony app with Nanobox"
    articles    = "php/symfony"
    icons       = "php,symfony"
    
block markdown
  include:md /articles/shared/app-health.md
