extends /app/pages/templates/article  

block configParams
  -
    title       = "Managing PHP Extensions with Composer | Nanobox"
    description = "How to manage Symfony application dependencies with Composer"
    keywords    = "php, symfony application, manage symfony application, composer, symfony composer, php composer"
    articles    = "php/symfony"
    icons       = "php,symfony"
    
block markdown
  include:md /articles/php/composer.md
