extends /app/pages/templates/article  

block configParams
  -
    title       = "Managing PHP Gems with Bundler | Nanobox"
    description = "How to manage Symfony application dependencies with Bundler"
    keywords    = "php, symfony application, manage symfony application, bundler, symfony bundler, php bundler, gem bundler"
    articles    = "php/symfony"
    icons       = "php,symfony"
    
block markdown
  include:md /articles/php/bundler.md
