extends /app/pages/templates/article  

block configParams
  -
    title       = "Configure Symfony for Production"
    keywords    = "php,symfony,configure,production"
    description = "Configure your Symfony app for production with Nanobox"
    articles    = "php/symfony"
    icons       = "php,symfony"
    
block markdown
  include:md /articles/php/symfony/configure-symfony.md
