extends /app/pages/templates/article  

block configParams
  -
    title       = "Configure Symfony to run in Production | Nanobox"
    description = "Learn how to configure a Symfony application to run in production"
    keywords    = "php, symfony production application, manage symfony application, configure symfony, production symfony, symfony in production"
    articles    = "php/symfony"
    icons       = "php,symfony"
    id          = "Configure Symfony"
    
block markdown
  include:md /articles/php/symfony/configure-symfony.md
