extends /app/pages/templates/article  

block configParams
  -
    title       = "Debugging Symfony"
    keywords    = "php,symfony,debug"
    description = "Debugging your Symfony app with Nanobox"
    articles    = "php/symfony"
    icons       = "php,symfony"
    
block markdown
  include:md /articles/shared/debugging.md
