extends /app/pages/templates/article  

block configParams
  -
    title       = "Dry Run"
    keywords    = "php,symfony,stage,test"
    description = "test symfony app"
    articles    = "php/symfony"
    icons       = "php,symfony"
    
block markdown
  include:md /articles/shared/dry-run.md
