extends /app/pages/templates/article  

block configParams
  -
    title       = "Add SSL/TLS Encryption to a Symfony Application | Nanobox"
    description = "Learn how to easily add SSL/TLS encryption to a Symfony production application"
    keywords    = "php, symfony production application, manage symfony application, ssl, tls, encryption"
    articles    = "php/symfony"
    icons       = "php,symfony"
    
block markdown
  include:md /articles/shared/encryption.md
