extends /app/pages/templates/article  

block configParams
  -
    title       = "SSL/TLS Encryption"
    keywords    = "php,symfony,ssl,tls,encryption"
    description = "Symfony SSL/TLS Encryption with Nanobox"
    articles    = "php/symfony"
    icons       = "php,symfony"
    
block markdown
  include:md /articles/shared/encryption.md
