extends /app/pages/templates/article  

block configParams
  -
    title       = "Run an Existing Symfony Applicatin in Docker | Nanobox"
    description = "Learn how to take an existing Symfony application and run it using Docker"
    keywords    = "php, symfony production application, manage symfony application, docker, symfony on docker, containers"
    articles    = "php/symfony"
    icons       = "php,symfony"
    
block markdown
  include:md /articles/php/symfony/existing-app.md
