extends /app/pages/templates/article  

block configParams
  -
    title       = "Symfony PHP Application Extensions Configuration | Nanobox"
    description = "How to configure PHP Extentions for Symfony PHP"
    keywords    = "php, symfony production application, manage symfony application, php extentions, symfony php extensions, php extension configuration"
    articles    = "php/symfony"
    icons       = "php,symfony"
    
block markdown
  include:md /articles/php/extensions-config.md
