extends /app/pages/templates/article  

block configParams
  -
    title       = "Symfony From Scratch"
    keywords    = "php,symfony,new"
    description = "Launch a new Symfony app with Nanobox"
    articles    = "php/symfony"
    icons       = "php,symfony"
    
block markdown
  include:md /articles/php/symfony/from-scratch.md
