extends /app/pages/templates/article  

block configParams
  -
    title       = "Create a Symfony Application from Scratch | Nanobox"
    description = "Learn how to create a new Symfony application and local development environment"
    keywords    = "php, symfony application, symfony application, php dev environment, dev environment, symfony dev environemnt, symfony dev, docker, containers"
    articles    = "php/symfony"
    icons       = "php,symfony"
    id          = "Symfony from Scratch"
    
block markdown
  include:md /articles/php/symfony/from-scratch.md
