extends /app/pages/templates/article  

block configParams
  -
    title       = "Launch a Symfony Application to Production | Nanobox"
    description = "Learn how to deploy a Symfony application to production servers"
    keywords    = "php, symfony production application, manage symfony application, deploy symfony, launch symfony, symfony in production, symfony production servers"
    articles    = "php/symfony"
    icons       = "php,symfony"
    
block markdown
  :md
    # Launch Your App
  include:md /articles/shared/partials/launch-your-app.md
  include:md /articles/php/symfony/launch-your-app.md
  include:md /articles/shared/partials/deploy-your-app.md
