extends /app/pages/templates/article  

block configParams
  -
    title       = "Launch your App"
    keywords    = "php,symfony,launch"
    description = "launch symfony app"
    articles    = "php/symfony"
    icons       = "php,symfony"
    
block markdown
  :md
    # Launch Your App
  include:md /articles/shared/partials/launch-your-app.md
  include:md /articles/php/symfony/launch-your-app.md
  include:md /articles/shared/partials/deploy-your-app.md
