extends /app/pages/templates/article  

block configParams
  -
    title       = "Add Environment Variable to Symfony Application in Development| Nanobox"
    description = "Learn how to add environment variable to a Symfony applicationin development"
    keywords    = "php, symfony application, manage symfony application, symfony environment variables, environment variables"
    articles    = "php/symfony"
    icons       = "php,symfony"
    id          = "Local Environment Variables"
    
block markdown
  include:md /articles/shared/local-evars.md
