extends /app/pages/templates/article  

block configParams
  -
    title       = "Symfony PHP Application Extensions | Nanobox"
    description = "Find out what PHP Extentions are available for Symfony PHP"
    keywords    = "php, symfony production application, manage symfony application, php extentions, symfony php extensions"
    articles    = "php/symfony"
    icons       = "php,symfony"
    id          = "PHP Extensions"
    
block markdown
  include:md /articles/php/extensions.md
