extends /app/pages/templates/article  

block configParams
  -
    title       = "PHP Extensions"
    keywords    = "php,symfony,extensions"
    description = "Available PHP extensions configuration"
    articles    = "php/symfony"
    icons       = "php,symfony"
    
block markdown
  include:md /articles/php/extensions.md
