extends /app/pages/templates/article  

block configParams
  -
    title       = "Adding a Domain to a Symfony Application | Nanobox"
    description = "How to point an existing domain name to a Symfony application"
    keywords    = "php, symfony production application, manage symfony application, point dns, add dns, domain, domin pointing, point domain"
    articles    = "php/symfony"
    icons       = "php,symfony"
    
block markdown
  include:md /articles/shared/point-your-domain.md
