extends /app/pages/templates/article  

block configParams
  -
    title       = "Stage a Symfony application | Nanobox"
    description = "Easily stage a Symfony application before deplying to production"
    keywords    = "php, symfony production application, manage symfony application, test symfony application, stage symfony application"
    articles    = "php/symfony"
    icons       = "php,symfony"
    
block markdown
  include:md /articles/php/symfony/preview-your-app.md
