extends /app/pages/templates/article  

block configParams
  -
    title       = "Remote Access to Symfony Applications | Nanobox"
    description = "Securely manage running Symfony application with SSH remote access"
    keywords    = "php, symfony production application, manage symfony application, ssh access, remote access, server management, secure access"
    articles    = "php/symfony"
    icons       = "php,symfony"
    id          = "Remote Access"
    
block markdown
  include:md /articles/shared/remote-access.md
