extends /app/pages/templates/article  

block configParams
  -
    title       = "Scale Symfony Applications | Nanobox"
    description = "Easily scale production Symfony applications with zero downtime"
    keywords    = "php, symfony production application, manage symfony application, scale symfony application, zero downtime"
    articles    = "php/symfony"
    icons       = "php,symfony"
    
block markdown
  include:md /articles/shared/scale-your-app.md
