extends /app/pages/templates/article  

block configParams
  -
    title       = "Manage Symfony Application Teams | Nanobox"
    description = "Easily manage Symfony development teams and application collaborators"
    keywords    = "php, symfony production application, manage symfony application, symfony collaboration, team management"
    articles    = "php/symfony"
    icons       = "php,symfony"
    id          = "Team Management"
    
block markdown
  include:md /articles/shared/team-management.md
