extends /app/pages/templates/article  

block configParams
  -
    title       = "Configure Apache and Nginx for Symfony PHP | Nanobox"
    description = "How to configure Apache and Nginx to run Symfony PHP in production"
    keywords    = "php, symfony production application, manage symfony application, nginx, apache, nginx php, apache php, symfony php nginx, symfony php apache"
    articles    = "php/symfony"
    icons       = "php,symfony"
    id          = "Webserver Config"
    
block markdown
  include:md /articles/php/webserver-config.md
