extends /app/pages/templates/article  

block configParams
  -
    title       = "Writable Permissions"
    keywords    = "php,symfony,permissions"
    description = "symfony writable permissions"
    articles    = "php/symfony"
    icons       = "php,symfony"
    
block markdown
  include:md /articles/shared/writable-permissions.md
