extends /app/pages/templates/article  

block configParams
  -
    title    = "Installing & Updating Themes"
    articles = "php/wordpress"
    icons    = "php,wordpress"
    
block markdown
  include:md /articles/php/wordpress/installing-updating-themes.md
