extends /app/pages/templates/article  

block configParams
  -
    title    = "Connect a Database"
    articles = "nodejs/ember"
    icons    = "node,ember"
    
block markdown
  include:md /articles/nodejs/ember/connect-a-database.md
