extends /app/pages/templates/article  

block configParams
  -
    title    = "Getting Started"
    articles = "ember"
    icons    = "node,ember"
    
block markdown
  include:md /articles/nodejs/ember/getting-started.md
