extends /app/pages/templates/article  

block configParams
  -
    title    = "Prepare for production"
    articles = "nodejs/ember"
    icons    = "nodejs,ember"
    
block markdown
  include:md /articles/nodejs/ember/prepare-for-production.md
