extends /app/pages/templates/article  

block configParams
  -
    title    = "Launch your Application"
    articles = "shared"
    icons    = ""
    
block markdown
  include:md /articles/shared/production/launch-your-application.md
