extends /app/pages/templates/article  

block configParams
  -
    title    = "Scale your app"
    articles = "shared/production"
    icons    = ""
    
block markdown
  include:md /articles/shared/production/scale-your-app.md
