extends /app/pages/templates/article  

block configParams
  -
    title       = "Install Nanobox"
    keywords    = "javascript,ember,nanobox"
    description = "nanobox for ember"
    articles    = "javascript/ember"
    icons       = "javascript,ember"
    
block markdown
  include:md /articles/shared/install-nanobox.md
