extends /app/pages/templates/article  

block configParams
  -
    title    = "Add a Database"
    articles = "javascript/ember"
    icons    = "javascript,ember"
    
block markdown
  include:md /articles/javascript/ember/launch-backend.md
