extends /app/pages/templates/article  

block configParams
  -
    title       = "Launch Ember Backend"
    keywords    = "javascript,ember,api"
    description = "launch ember api"
    articles    = "javascript/ember"
    icons       = "javascript,ember"
    
block markdown
  include:md /articles/javascript/ember/launch-api.md
