extends /app/pages/templates/article  

block configParams
  -
    title       = "Yarn, NPM, & Bower"
    keywords    = "javascript,ember,yarn,npm,bower"
    description = "Using package-managers like yarn, npm, and bower with Ember"
    articles    = "javascript/ember"
    icons       = "javascript,ember"
    
block markdown
  :md
    # Yarn, NPM, & Bower
  include:md /articles/shared/partials/package-managers.md
