.header
  .icons
    .icon
      img.shadow-icon(data-src="hex-#{icon}" scalable="true")
    .plus
      img.shadow-icon(data-src="github-plus")
    .icon
      img.shadow-icon(data-src="blue-logo" scalable="true")
  .title=title
  .sub With Nanobox
