extends /app/pages/templates/article  

block configParams
  -
    title       = "Add a Database"
    keywords    = "php,phalcon,add-a-database"
    description = "Add a database to your Phalcon app with Nanobox"
    articles    = "php/phalcon"
    icons       = "php,phalcon"
    
block markdown
  include:md /articles/php/phalcon/add-a-database.md
