extends /app/pages/templates/article  

block configParams
  -
    title       = "Monitoring Production Phalcon Applications | Nanobox"
    description = "Monitor a production Phalcon application with live and historical stats"
    keywords    = "php, phalcon production application, manage phalcon application, stats, php stats, phalcon stats, monitor phalcon, phalcon app health"
    articles    = "php/phalcon"
    icons       = "php,phalcon"
    id          = "App Health"
    
block markdown
  include:md /articles/shared/app-health.md
