extends /app/pages/templates/article  

block configParams
  -
    title       = "App Health"
    keywords    = "php,phalcon,app-health"
    description = "Monitor the health of your Phalcon app with Nanobox"
    articles    = "php/phalcon"
    icons       = "php,phalcon"
    
block markdown
  include:md /articles/shared/app-health.md
