extends /app/pages/templates/article  

block configParams
  -
    title       = "Managing PHP Gems with Bundler | Nanobox"
    description = "How to manage Phalcon application dependencies with Bundler"
    keywords    = "php, phalcon application, manage phalcon application, bundler, phalcon bundler, php bundler, gem bundler"
    articles    = "php/phalcon"
    icons       = "php,phalcon"
    
block markdown
  include:md /articles/php/bundler.md
