extends /app/pages/templates/article  

block configParams
  -
    title       = "Managing PHP Extensions with Composer | Nanobox"
    description = "How to manage Phalcon application dependencies with Composer"
    keywords    = "php, phalcon application, manage phalcon application, composer, phalcon composer, php composer"
    articles    = "php/phalcon"
    icons       = "php,phalcon"
    
block markdown
  include:md /articles/php/composer.md
