extends /app/pages/templates/article  

block configParams
  -
    title       = "Composer"
    keywords    = "php,phalcon,composer"
    description = "Composer and Phalcon with Nanobox"
    articles    = "php/phalcon"
    icons       = "php,phalcon"
    
block markdown
  include:md /articles/php/composer.md
