extends /app/pages/templates/article  

block configParams
  -
    title       = "Configure Phalcon to run in Production | Nanobox"
    description = "Learn how to configure a Phalcon application to run in production"
    keywords    = "php, phalcon production application, manage phalcon application, configure phalcon, production phalcon, phalcon in production"
    articles    = "php/phalcon"
    icons       = "php,phalcon"
    
block markdown
  include:md /articles/php/phalcon/configure-phalcon.md
