extends /app/pages/templates/article  

block configParams
  -
    title       = "Run an Existing Phalcon Application in Docker | Nanobox"
    description = "Learn how to take an existing Phalcon application and run it using Docker"
    keywords    = "php, phalcon production application, manage phalcon application, docker, phalcon on docker, containers"
    articles    = "php/phalcon"
    icons       = "php,phalcon"
    id          = "Existing Phalcon App"
    
block markdown
  include:md /articles/php/phalcon/existing-app.md
