extends /app/pages/templates/article  

block configParams
  -
    title       = "Phalcon PHP Application Extensions Configuration | Nanobox"
    description = "How to configure PHP Extentions for Phalcon PHP"
    keywords    = "php, phalcon production application, manage phalcon application, php extentions, phalcon php extensions, php extension configuration"
    articles    = "php/phalcon"
    icons       = "php,phalcon"
    
block markdown
  include:md /articles/php/extensions-config.md
