extends /app/pages/templates/article  

block configParams
  -
    title       = "Extensions Config"
    keywords    = "php,phalcon,extensions"
    description = "PHP extensions with Nanobox"
    articles    = "php/phalcon"
    icons       = "php,phalcon"
    
block markdown
  include:md /articles/php/extensions-config.md
