extends /app/pages/templates/article  

block configParams
  -
    title       = "Local Environment Variables"
    keywords    = "php,phalcon,environment-variables"
    description = "Phalcon environment variables with Nanobox"
    articles    = "php/phalcon"
    icons       = "php,phalcon"
    
block markdown
  include:md /articles/shared/local-evars.md
