extends /app/pages/templates/article  

block configParams
  -
    title       = "Manage Platform"
    keywords    = "php,phalcon,manage,production"
    description = "Manage your Phalcon app in production with Nanobox"
    articles    = "php/phalcon"
    icons       = "php,phalcon"
    
block markdown
  include:md /articles/shared/manage-platform.md
