extends /app/pages/templates/article  

block configParams
  -
    title       = "Point your Domain"
    keywords    = "php,phalcon,dns,domain"
    description = "Point your domain to your Phalcon app launched with Nanobox"
    articles    = "php/phalcon"
    icons       = "php,phalcon"
    
block markdown
  include:md /articles/shared/point-your-domain.md
