extends /app/pages/templates/article  

block configParams
  -
    title       = "Adding a Domain to a Phalcon Application | Nanobox"
    description = "How to point an existing domain name to a Phalcon application"
    keywords    = "php, phalcon production application, manage phalcon application, point dns, add dns, domain, domin pointing, point domain"
    articles    = "php/phalcon"
    icons       = "php,phalcon"
    
block markdown
  include:md /articles/shared/point-your-domain.md
