extends /app/pages/templates/article  

block configParams
  -
    title       = "Stage a Phalcon application | Nanobox"
    description = "Easily stage a Phalcon application before deplying to production"
    keywords    = "php, phalcon production application, manage phalcon application, test phalcon application, stage phalcon application"
    articles    = "php/phalcon"
    icons       = "php,phalcon"
    id          = "Preview your App"
    
block markdown
  include:md /articles/php/phalcon/preview-your-app.md
