extends /app/pages/templates/article  

block configParams
  -
    title       = "Scale Your App"
    keywords    = "php,phalcon,production,scale"
    description = "Scaling your Phalcon app with Nanobox"
    articles    = "php/phalcon"
    icons       = "php,phalcon"
    
block markdown
  include:md /articles/shared/scale-your-app.md
