extends /app/pages/templates/article  

block configParams
  -
    title       = "Scale Phalcon Applications | Nanobox"
    description = "Easily scale production Phalcon applications with zero downtime"
    keywords    = "php, phalcon production application, manage phalcon application, scale phalcon application, zero downtime"
    articles    = "php/phalcon"
    icons       = "php,phalcon"
    
block markdown
  include:md /articles/shared/scale-your-app.md
