extends /app/pages/templates/article  

block configParams
  -
    title       = "Manage Phalcon Application Teams | Nanobox"
    description = "Easily manage Phalcon development teams and application collaborators"
    keywords    = "php, phalcon production application, manage phalcon application, phalcon collaboration, team management"
    articles    = "php/phalcon"
    icons       = "php,phalcon"
    
block markdown
  include:md /articles/shared/team-management.md
