extends /app/pages/templates/article  

block configParams
  -
    title    = "Team Management"
    articles = "python/flask"
    icons    = "python,flask"
    
block markdown
  include:md /articles/shared/going-further/team-management.md
