extends /app/pages/templates/article  

block configParams
  -
    title       = "App Health"
    keywords    = "php,laravel,app-health"
    description = "Monitor the health of your Laravel app with Nanobox"
    articles    = "php/laravel"
    icons       = "php,laravel"
    
block markdown
  include:md /articles/shared/app-health.md
