extends /app/pages/templates/article  

block configParams
  -
    title       = "Monitoring Production Laravel Applications | Nanobox"
    description = "Monitor a production Laravel application with live and historical stats"
    keywords    = "php, laravel production application, manage laravel application, stats, php stats, laravel stats, monitor laravel, laravel app health"
    articles    = "php/laravel"
    icons       = "php,laravel"
    
block markdown
  include:md /articles/shared/app-health.md
