extends /app/pages/templates/article  

block configParams
  -
    title       = "Managing PHP Extensions with Composer | Nanobox"
    description = "How to manage Laravel application dependencies with Composer"
    keywords    = "php, laravel application, manage laravel application, composer, laravel composer, php composer"
    articles    = "php/laravel"
    icons       = "php,laravel"
    id          = "Composer"
    
block markdown
  include:md /articles/php/composer.md
