extends /app/pages/templates/article  

block configParams
  -
    title       = "Managing PHP Gems with Bundler | Nanobox"
    description = "How to manage Laravel application dependencies with Bundler"
    keywords    = "php, laravel application, manage laravel application, bundler, laravel bundler, php bundler, gem bundler"
    articles    = "php/laravel"
    icons       = "php,laravel"
    
block markdown
  include:md /articles/php/bundler.md
