extends /app/pages/templates/article  

block configParams
  -
    title       = "Configure Laravel to run in Production | Nanobox"
    description = "Learn how to configure a Laravel application to run in production"
    keywords    = "php, laravel production application, manage laravel application, configure laravel, production laravel, laravel in production"
    articles    = "php/laravel"
    icons       = "php,laravel"
    
block markdown
  include:md /articles/php/laravel/configure-laravel.md
