extends /app/pages/templates/article  

block configParams
  -
    title       = "Configure Laravel"
    keywords    = "php,laravel,configure,production"
    description = "configuring laravel for production"
    articles    = "php/laravel"
    icons       = "php,laravel"
    
block markdown
  include:md /articles/php/laravel/configure-laravel.md
