extends /app/pages/templates/article  

block configParams
  -
    title    = "Configure Laravel"
    articles = "php/laravel"
    icons    = "php,laravel"
    
block markdown
  include:md /articles/php/laravel//configure-laravel.md
