extends /app/pages/templates/article  

block configParams
  -
    title       = "Managing PHP Versions | Nanobox"
    description = "How to update or change php versions in development and production environments"
    keywords    = "php, laravel production application, manage laravel application, configure laravel, production laravel, laravel in production, php version, manage php versions"
    articles    = "php/laravel"
    icons       = "php,laravel"
    
block markdown
  include:md /articles/php/config.md
