extends /app/pages/templates/article  

block configParams
  -
    title       = "Add SSL/TLS Encryption to a Laravel Application | Nanobox"
    description = "Learn how to easily add SSL/TLS encryption to a Laravel production application"
    keywords    = "php, laravel production application, manage laravel application, ssl, tls, encryption"
    articles    = "php/laravel"
    icons       = "php,laravel"
    id          = "SSL/TLS Encryptions"
    
block markdown
  include:md /articles/shared/encryption.md
