extends /app/pages/templates/article  

block configParams
  -
    title       = "SSL/TLS Encryption"
    keywords    = "php,laravel,ssl,tls,encryption"
    description = "laravel ssl/tls Encryption"
    articles    = "php/laravel"
    icons       = "php,laravel"
    
block markdown
  include:md /articles/shared/encryption.md
