extends /app/pages/templates/article  

block configParams
  -
    title       = "Existing Laravel App"
    keywords    = "php,laravel"
    description = "Launch your existing Laravel app with Nanobox"
    articles    = "php/laravel"
    icons       = "php,laravel"
    
block markdown
  include:md /articles/php/laravel/existing-app.md
