extends /app/pages/templates/article  

block configParams
  -
    title       = "Run an Existing Laravel Applicatin in Docker | Nanobox"
    description = "Learn how to take an existing Laravel application and run it using Docker"
    keywords    = "php, laravel production application, manage laravel application, docker, laravel on docker, containers"
    articles    = "php/laravel"
    icons       = "php,laravel"
    id          = "Existing Laravel App"
    
block markdown
  include:md /articles/php/laravel/existing-app.md
