extends /app/pages/templates/article  

block configParams
  -
    title       = "Laravel PHP Application Extensions Configuration | Nanobox"
    description = "How to configure PHP Extentions for Laravel PHP"
    keywords    = "php, laravel production application, manage laravel application, php extentions, laravel php extensions, php extension configuration"
    articles    = "php/laravel"
    icons       = "php,laravel"
    id          = "Extensions Config"
    
block markdown
  include:md /articles/php/extensions-config.md
