extends /app/pages/templates/article  

block configParams
  -
    title       = "Laravel From Scratch"
    keywords    = "php,laravel,new"
    description = "new laravel app"
    articles    = "php/laravel"
    icons       = "php,laravel"
    
block markdown
  include:md /articles/php/laravel/from-scratch.md
