extends /app/pages/templates/article  

block configParams
  -
    title       = "Create a Laravel Application from Scratch | Nanobox"
    description = "Learn how to create a new Laravel application and local development environment"
    keywords    = "php, laravel application, laravel application, php dev environment, dev environment, laravel dev environemnt, laravel dev, docker, containers"
    articles    = "php/laravel"
    icons       = "php,laravel"
    id          = "Laravel from Scratch"
    
block markdown
  include:md /articles/php/laravel/from-scratch.md
