extends /app/pages/templates/article  

block configParams
  -
    title       = "Adding Javascript to a Laravel Application | Nanobox"
    description = "How to add Javascriot to a Laravel application"
    keywords    = "php, laravel application, laravel javascript, javascript"
    articles    = "php/laravel"
    icons       = "php,laravel"
    id          = "Frontend Javascript"
    
block markdown
  :md
    # Frontend Javascript
  include:md /articles/shared/partials/nodejs.md
  include:md /articles/shared/partials/package-managers.md
  include:md /articles/shared/partials/task-runners.md
