extends /app/pages/templates/article  

block configParams
  -
    title       = "Launch a Laravel Application to Production | Nanobox"
    description = "Learn how to deploy a Laravel application to production servers"
    keywords    = "php, laravel production application, manage laravel application, deploy laravel, launch laravel, laravel in production, laravel production servers"
    articles    = "php/laravel"
    icons       = "php,laravel"
    
block markdown
  :md
    # Launch Your App
  include:md /articles/shared/partials/launch-your-app.md
  include:md /articles/php/laravel/launch-your-app.md
  include:md /articles/shared/partials/deploy-your-app.md
