extends /app/pages/templates/article  

block configParams
  -
    title       = "Launch your App"
    keywords    = "php,laravel,launch"
    description = "launch laravel app"
    articles    = "php/laravel"
    icons       = "php,laravel"
    
block markdown
  :md
    # Launch Your App
  include:md /articles/shared/partials/launch-your-app.md
  include:md /articles/php/laravel/launch-your-app.md
  include:md /articles/shared/partials/deploy-your-app.md
