extends /app/pages/templates/article  

block configParams
  -
    title       = "Managing a Production Laravel Application | Nanobox"
    description = "Manage a Laravel application's logs, traffic, health, and storage"
    keywords    = "php, laravel production application, manage laravel application, monitor laravel, laravel logging, load balancer, laravel monitoring, production logs"
    articles    = "php/laravel"
    icons       = "php,laravel"
    id          = "Manage Platform"
    
block markdown
  include:md /articles/shared/manage-platform.md
