extends /app/pages/templates/article  

block configParams
  -
    title       = "Using New Relic in Laravel Applications | Nanobox"
    description = "How to install and use New Relic in Laravel applications deployed with Nanobox"
    keywords    = "newrelic laravel, performance monitoring, newrelic php, new relic php, new relic paas, installing new relic, installing newrelic php, production performance monitoring"
    articles    = "php/laravel"
    icons       = "php,laravel"
    id          = "New Relic"
    
block markdown
  include:md /articles/php/newrelic.md
