extends /app/pages/templates/article  

block configParams
  -
    title       = "Point your Domain"
    keywords    = "php,laravel,dns,domain"
    description = "manage laravel dns"
    articles    = "php/laravel"
    icons       = "php,laravel"
    
block markdown
  include:md /articles/shared/point-your-domain.md
