extends /app/pages/templates/article  

block configParams
  -
    title       = "Adding a Domain to a Laravel Application | Nanobox"
    description = "How to point an existing domain name to a Laravel application"
    keywords    = "php, laravel production application, manage laravel application, point dns, add dns, domain, domin pointing, point domain"
    articles    = "php/laravel"
    icons       = "php,laravel"
    id          = "Point your Domain"
    
block markdown
  include:md /articles/shared/point-your-domain.md
