extends /app/pages/templates/article  

block configParams
  -
    title       = "Stage a Laravel application | Nanobox"
    description = "Easily stage a Laravel application before deplying to production"
    keywords    = "php, laravel production application, manage laravel application, test laravel application, stage laravel application"
    articles    = "php/laravel"
    icons       = "php,laravel"
    id          = "Preview your App"
    
block markdown
  include:md /articles/php/laravel/preview-your-app.md
