extends /app/pages/templates/article  

block configParams
  -
    title       = "Add Environment Variable to Production Laravel Application | Nanobox"
    description = "Learn how to add environment variable to a production Laravel application"
    keywords    = "php, laravel production application, manage laravel application, laravel environment variables, environment variables"
    articles    = "php/laravel"
    icons       = "php,laravel"
    
block markdown
  include:md /articles/shared/production-evars.md
