extends /app/pages/templates/article  

block configParams
  -
    title       = "Remote Access"
    keywords    = "php,laravel,remote-access"
    description = "laravel remote access"
    articles    = "php/laravel"
    icons       = "php,laravel"
    
block markdown
  include:md /articles/shared/remote-access.md
