extends /app/pages/templates/article  

block configParams
  -
    title       = "Remote Access to Laravel Applications | Nanobox"
    description = "Securely manage running Laravel application with SSH remote access"
    keywords    = "php, laravel production application, manage laravel application, ssh access, remote access, server management, secure access"
    articles    = "php/laravel"
    icons       = "php,laravel"
    id          = "Remote Access"
    
block markdown
  include:md /articles/shared/remote-access.md
