extends /app/pages/templates/article  

block configParams
  -
    title       = "Scale Your App"
    keywords    = "php,laravel,production,scale"
    description = "Scaling your Laravel app with Nanobox"
    articles    = "php/laravel"
    icons       = "php,laravel"
    
block markdown
  include:md /articles/shared/scale-your-app.md
