extends /app/pages/templates/article  

block configParams
  -
    title       = "Webserver Config"
    keywords    = "php,laravel,webserver,apache,nginx"
    description = "Apache and Nginx webserver configurations"
    articles    = "php/laravel"
    icons       = "php,laravel"
    
block markdown
  include:md /articles/php/webserver-config.md
