extends /app/pages/templates/article  

block configParams
  -
    title       = "Configure Apache and Nginx for Laravel PHP | Nanobox"
    description = "How to configure Apache and Nginx to run Laravel PHP in production"
    keywords    = "php, laravel production application, manage laravel application, nginx, apache, nginx php, apache php, laravel php nginx, laravel php apache"
    articles    = "php/laravel"
    icons       = "php,laravel"
    
block markdown
  include:md /articles/php/webserver-config.md
