extends /app/pages/templates/article  

block configParams
  -
    title       = "Writable Permissions"
    keywords    = "php,laravel,permissions"
    description = "laravel writable permissions"
    articles    = "php/laravel"
    icons       = "php,laravel"
    
block markdown
  include:md /articles/shared/writable-permissions.md
