extends /app/pages/templates/article  

block configParams
  -
    title    = "SSL/TLS Encryption"
    articles = "php/wordpress"
    icons    = "php,wordpress"
    
block markdown
  include:md /articles/shared/encryption.md
