extends /app/pages/templates/article  

block configParams
  -
    title       = "Add a Database"
    keywords    = "nodejs,generic,add-a-database"
    description = "Add a database to your Node.js app with Nanobox"
    articles    = "nodejs/generic"
    icons       = "nodejs,generic"
    
block markdown
  include:md /articles/nodejs/generic/add-a-database.md
