extends /app/pages/templates/article  

block configParams
  -
    title       = "Monitoring Production NodeJS Applications | Nanobox"
    description = "Monitor a production NodeJS application with live and historical stats"
    keywords    = "nodejs, node production application, manage node application, stats, nodejs stats, node stats, monitor node, node app health"
    articles    = "nodejs/node"
    icons       = "nodejs,node"
    
block markdown
  include:md /articles/shared/app-health.md
