extends /app/pages/templates/article  

block configParams
  -
    title       = "App Health"
    keywords    = "nodejs,generic,app-health"
    description = "Monitor the health of your Node.js app with Nanobox"
    articles    = "nodejs/generic"
    icons       = "nodejs,generic"
    
block markdown
  include:md /articles/shared/app-health.md
