extends /app/pages/templates/article  

block configParams
  -
    title       = "Managing Nodejs Versions | Nanobox"
    description = "How to update or change nodejs versions in development and production environments"
    keywords    = "nodejs, node production application, manage node application, configure node, production node, node in production, nodejs version, manage nodejs versions"
    articles    = "nodejs/node"
    icons       = "nodejs,node"
    
block markdown
  include:md /articles/nodejs/config.md
