extends /app/pages/templates/article  

block configParams
  -
    title       = "Configure nodejs"
    keywords    = "nodejs,configure"
    description = "Configure Node.js with Nanobox"
    articles    = "nodejs/generic"
    icons       = "nodejs,generic"
    
block markdown
  include:md /articles/nodejs/config.md
