extends /app/pages/templates/article  

block configParams
  -
    title       = "Configure NodeJS to run in Production | Nanobox"
    description = "Learn how to configure a NodeJS application to run in production"
    keywords    = "nodejs, node production application, manage node application, configure node, production node, node in production"
    articles    = "nodejs/node"
    icons       = "nodejs,node"
    
block markdown
  include:md /articles/nodejs/node/configure-node.md
