extends /app/pages/templates/article  

block configParams
  -
    title       = "Configure Node.js for Production"
    keywords    = "nodejs,generic,configure,production"
    description = "Configuring your Node.js app for production with Nanobox"
    articles    = "nodejs/generic"
    icons       = "nodejs,generic"
    
block markdown
  include:md /articles/nodejs/generic/configure-generic.md
