extends /app/pages/templates/article  

block configParams
  -
    title       = "Debugging Node.js with Nanobox"
    keywords    = "nodejs,generic,debug"
    description = "Debuggin your Node.js app with Nanobox"
    articles    = "nodejs/generic"
    icons       = "nodejs,generic"
    
block markdown
  include:md /articles/shared/debugging.md
