extends /app/pages/templates/article  

block configParams
  -
    title       = "Debug NodeJS Application in Production | Nanobox"
    description = "Learn how to debug a production NodeJS application"
    keywords    = "nodejs, node production application, manage node application, node logging, node monitoring, debug node, debugging node"
    articles    = "nodejs/node"
    icons       = "node,node"
    id          = "Debugging"
    
block markdown
  include:md /articles/shared/debugging.md
