extends /app/pages/templates/article  

block configParams
  -
    title       = "SSL/TLS Encryption"
    keywords    = "nodejs,generic,ssl,tls,encryption"
    description = "Node.js SSL/TLS Encryption with Nanobox"
    articles    = "nodejs/generic"
    icons       = "nodejs,generic"
    
block markdown
  include:md /articles/shared/encryption.md
