extends /app/pages/templates/article  

block configParams
  -
    title       = "Run an Existing NodeJS Applicatin in Docker | Nanobox"
    description = "Learn how to take an existing NodeJS application and run it using Docker"
    keywords    = "nodejs, node production application, manage node application, docker, node on docker, containers"
    articles    = "nodejs/node"
    icons       = "node,node"
    id          = "Existing Node App"
    
block markdown
  include:md /articles/nodejs/generic/existing-app.md
