extends /app/pages/templates/article  

block configParams
  -
    title       = "Create a NodeJS Application from Scratch | Nanobox"
    description = "Learn how to create a new NodeJS application and local development environment"
    keywords    = "nodejs, node application, node application, nodejs dev environment, dev environment, node dev environemnt, node dev, docker, containers"
    articles    = "nodejs/node"
    icons       = "nodejs,node"
    
block markdown
  include:md /articles/nodejs/node/from-scratch.md
