extends /app/pages/templates/article  

block configParams
  -
    title       = "Add Environment Variable to NodeJS Application in Development| Nanobox"
    description = "Learn how to add environment variable to a NodeJS applicationin development"
    keywords    = "nodejs, node application, manage node application, node environment variables, environment variables"
    articles    = "nodejs/node"
    icons       = "nodejs,node"
    id          = "Local Environment Variables"
    
block markdown
  include:md /articles/shared/local-evars.md
