extends /app/pages/templates/article  

block configParams
  -
    title       = "Local Environment Variables"
    keywords    = "nodejs,generic,environment-variables"
    description = "Node.js environment variables with Nanobox"
    articles    = "nodejs/generic"
    icons       = "nodejs,generic"
    
block markdown
  include:md /articles/shared/local-evars.md
