extends /app/pages/templates/article  

block configParams
  -
    title       = "Manage Platform"
    keywords    = "nodejs,generic,manage,production"
    description = "Manage your live Node.js app with Nanobox"
    articles    = "nodejs/generic"
    icons       = "nodejs,generic"
    
block markdown
  include:md /articles/shared/manage-platform.md
