extends /app/pages/templates/article  

block configParams
  -
    title       = "Managing a Production NodeJS Application | Nanobox"
    description = "Manage a NodeJS application's logs, traffic, health, and storage"
    keywords    = "nodejs, node production application, manage node application, monitor node, node logging, load balancer, node monitoring, production logs"
    articles    = "nodejs/node"
    icons       = "node,node"
    id          = "Manage Platform"
    
block markdown
  include:md /articles/shared/manage-platform.md
