extends /app/pages/templates/article  

block configParams
  -
    title       = "Managing NodeJS Packages with Yarn & NPM | Nanobox"
    description = "How to manage NodeJS application dependencies with Yarn & NPM"
    keywords    = "nodejs, node application, manage node application, yarn, npm, node yarn, node npm, nodejs yarn, nodejs npm"
    articles    = "nodejs/node"
    icons       = "nodejs,node"
    
block markdown
  include:md /articles/nodejs/npm.md
