extends /app/pages/templates/article  

block configParams
  -
    title       = "Yarn & NPM"
    keywords    = "nodejs,generic,npm,yarn"
    description = "Yarn, npm, and Node.js with Nanobox"
    articles    = "nodejs/generic"
    icons       = "nodejs,generic"
    
block markdown
  include:md /articles/nodejs/npm.md
