extends /app/pages/templates/article  

block configParams
  -
    title       = "Adding a Domain to a NodeJS Application | Nanobox"
    description = "How to point an existing domain name to a NodeJS application"
    keywords    = "nodejs, node production application, manage node application point dns, add dns, domain, domin pointing, point domain"
    articles    = "nodejs/node"
    icons       = "nodejs,node"
    id          = "Point your Domain"
    
block markdown
  include:md /articles/shared/point-your-domain.md
