extends /app/pages/templates/article  

block configParams
  -
    title       = "Point your Domain"
    keywords    = "nodejs,generic,dns,domain"
    description = "Point your domain to your Node.js app launched with Nanobox"
    articles    = "nodejs/generic"
    icons       = "nodejs,generic"
    
block markdown
  include:md /articles/shared/point-your-domain.md
