extends /app/pages/templates/article  

block configParams
  -
    title       = "Stage a NodeJS application | Nanobox"
    description = "Easily stage a NodeJS application before deplying to production"
    keywords    = "nodejs, node production application, manage node application, test node application, stage node application"
    articles    = "nodejs/node"
    icons       = "nodejs,node"
    id          = "Preview your App"
    
block markdown
  include:md /articles/nodejs/generic/preview-your-app.md
