extends /app/pages/templates/article  

block configParams
  -
    title       = "Dry Run"
    keywords    = "nodejs,generic,stage,test"
    description = "Preview your Node.js app with Nanobox"
    articles    = "nodejs/generic"
    icons       = "nodejs,generic"
    
block markdown
  include:md /articles/nodejs/generic/preview-your-app.md
