extends /app/pages/templates/article  

block configParams
  -
    title       = "Remote Access to NodeJS Applications | Nanobox"
    description = "Securely manage running NodeJS application with SSH remote access"
    keywords    = "nodejs, node production application, manage node application, ssh access, remote access, server management, secure access"
    articles    = "nodejs/node"
    icons       = "nodejs,node"
    
block markdown
  include:md /articles/shared/remote-access.md
