extends /app/pages/templates/article  

block configParams
  -
    title       = "Scale Your App"
    keywords    = "nodejs,generic,production,scale"
    description = "Scaling your Node.js app with Nanobox"
    articles    = "nodejs/generic"
    icons       = "nodejs,generic"
    
block markdown
  include:md /articles/shared/scale-your-app.md
