extends /app/pages/templates/article  

block configParams
  -
    title       = "Manage NodeJS Application Teams | Nanobox"
    description = "Easily manage NodeJS development teams and application collaborators"
    keywords    = "nodejs, node production application, manage node application, node collaboration, team management"
    articles    = "nodejs/node"
    icons       = "nodejs,node"
    id          = "Team Management"
    
block markdown
  include:md /articles/shared/team-management.md
