extends /app/pages/templates/article

block configParams
  -
    title    = "Express from Scratch"
    articles = "nodejs/express"
    icons    = "node,express"

block markdown
  include:md /articles/nodejs/express/getting-started/from-scratch.md
