extends /app/pages/templates/article  

block configParams
  -
    title    = "Stage your App"
    articles = "nodejs/express"
    icons    = "nodejs,express"
    
block markdown
  include:md /articles/shared/production/stage-your-app.md
