extends /app/pages/templates/article  

block configParams
  -
    title       = "MySQL Config Options"
    description = "Configure MySQL with Nanobox"
    articles    = "mysql"
    icons       = "mysql"
    
block markdown
  include:md /articles/mysql/configure.md
