extends /app/pages/templates/article  

block configParams
  -
    title       = "Securely Connect to MySQL in Production and Development | Nanobox"
    description = "Instructions for connecting to a MySQL database in development and production with Nanobox."
    keywords    = "deploy mysql, mysql in production, mysql, scaling mysql database, local mysql, local development, configure mysql"
    articles    = "mysql"
    icons       = "mysql"
    id          = "Connect to MySQL"
    
block markdown
  include:md /articles/mysql/connect.md
