extends /app/pages/templates/article  

block configParams
  -
    title    = "Connect to MySQL"
    articles = "mysql"
    icons    = "mysql"
    
block markdown
  include:md /articles/mysql/connect.md
