extends /app/pages/templates/article  

block configParams
  -
    title    = "Managing Production Data"
    articles = "mysql"
    icons    = "mysql"
    
block markdown
  include:md /articles/mysql/manage-production.md
