extends /app/pages/templates/article  

block configParams
  -
    title       = "Manage Production MySQL Data | Nanobox"
    description = "Instructions for managing MySQL data in production for apps deployed with Nanobox"
    keywords    = "deploy mysql, mysql in production, mysql, scaling mysql database, local mysql, local development, configure mysql"
    articles    = "mysql"
    icons       = "mysql"
    
block markdown
  include:md /articles/mysql/manage-production.md
