extends /app/pages/templates/article  

block configParams
  -
    title       = "Monitoring Production Feathers Applications | Nanobox"
    description = "Monitor a production Feathers application with live and historical stats"
    keywords    = "nodejs, feathers production application, manage feathers application, stats, nodejs stats, feathers stats, monitor feathers, feathers app health"
    articles    = "nodejs/feathers"
    icons       = "node,feathers"
    id          = "App Health"
    
block markdown
  include:md /articles/shared/app-health.md
