extends /app/pages/templates/article  

block configParams
  -
    title       = "Configure Feathers to run in Production | Nanobox"
    description = "Learn how to configure a Feathers application to run in production"
    keywords    = "nodejs, feathers production application, manage feathers application, configure feathers, production feathers, feathers in production"
    articles    = "nodejs/feathers"
    icons       = "node,feathers"
    id          = "Configure Feathers"
    
block markdown
  include:md /articles/nodejs/feathers/configure-feathers.md
