extends /app/pages/templates/article  

block configParams
  -
    title       = "Configure Feathers for Production"
    keywords    = "nodejs,feathers,configure,production"
    description = "Configuring Feathers for production with Nanobox"
    articles    = "nodejs/feathers"
    icons       = "nodejs,feathers"
    
block markdown
  include:md /articles/nodejs/feathers/configure-feathers.md
