extends /app/pages/templates/article  

block configParams
  -
    title       = "Add SSL/TLS Encryption to a Feathers Application | Nanobox"
    description = "Learn how to easily add SSL/TLS encryption to a Feathers production application"
    keywords    = "nodejs, feathers production application, manage feathers application, ssl, tls, encryption"
    articles    = "nodejs/feathers"
    icons       = "nodejs,feathers"
    
block markdown
  include:md /articles/shared/encryption.md
