extends /app/pages/templates/article  

block configParams
  -
    title       = "Create a Feathers Application from Scratch | Nanobox"
    description = "Learn how to create a new Feathers application and local development environment"
    keywords    = "nodejs, feathers application, feathers application, nodejs dev environment, dev environment, feathers dev environemnt, feathers dev, docker, containers"
    articles    = "nodejs/feathers"
    icons       = "nodejs,feathers"
    
block markdown
  include:md /articles/nodejs/feathers/from-scratch.md
