extends /app/pages/templates/article  

block configParams
  -
    title       = "Adding Javascript to a Feathers Application | Nanobox"
    description = "How to add Javascriot to a Feathers application"
    keywords    = "nodejs, feathers application, feathers javascript, javascript"
    articles    = "nodejs/feathers"
    icons       = "nodejs,feathers"
    
block markdown
  :md
    # Frontend Javascript
  include:md /articles/shared/partials/nodejs.md
  include:md /articles/shared/partials/package-managers.md
  include:md /articles/shared/partials/task-runners.md
