extends /app/pages/templates/article  

block configParams
  -
    title       = "Managing a Production Feathers Application | Nanobox"
    description = "Manage a Feathers application's logs, traffic, health, and storage"
    keywords    = "nodejs, feathers production application, manage feathers application, monitor feathers, feathers logging, load balancer, feathers monitoring, production logs"
    articles    = "nodejs/feathers"
    icons       = "nodejs,feathers"
    
block markdown
  include:md /articles/shared/manage-platform.md
