extends /app/pages/templates/article  

block configParams
  -
    title       = "Managing Feathers Packages with Yarn & NPM | Nanobox"
    description = "How to manage Feathers application dependencies with Yarn & NPM"
    keywords    = "nodejs, feathers application, manage feathers application, yarn, npm, feathers yarn, feathers npm, nodejs yarn, nodejs npm"
    articles    = "nodejs/feathers"
    icons       = "nodejs,feathers"
    id          = "Yarn & NPM"
    
block markdown
  include:md /articles/nodejs/npm.md
