extends /app/pages/templates/article  

block configParams
  -
    title       = "Stage a Feathers application | Nanobox"
    description = "Easily stage a Feathers application before deplying to production"
    keywords    = "nodejs, feathers production application, manage feathers application, test feathers application, stage feathers application"
    articles    = "nodejs/feathers"
    icons       = "nodejs,feathers"
    id          = "Preview your App"
    
block markdown
  include:md /articles/nodejs/feathers/preview-your-app.md
