extends /app/pages/templates/article  

block configParams
  -
    title       = "Remote Access to Feathers Applications | Nanobox"
    description = "Securely manage running Feathers application with SSH remote access"
    keywords    = "nodejs, feathers production application, manage feathers application, ssh access, remote access, server management, secure access"
    articles    = "nodejs/feathers"
    icons       = "nodejs,feathers"
    
block markdown
  include:md /articles/shared/remote-access.md
