extends /app/pages/templates/article  

block configParams
  -
    title       = "Remote Access"
    keywords    = "nodejs,feathers,remote-access"
    description = "Remotely access your Feathers app with Nanobox"
    articles    = "nodejs/feathers"
    icons       = "nodejs,feathers"
    
block markdown
  include:md /articles/shared/remote-access.md
