extends /app/pages/templates/article  

block configParams
  -
    title       = "Team Management"
    keywords    = "nodejs,feathers,production,manage"
    description = "Managing your team with Nanobox"
    articles    = "nodejs/feathers"
    icons       = "nodejs,feathers"
    
block markdown
  include:md /articles/shared/team-management.md
