extends /app/pages/templates/article  

block configParams
  -
    title       = "Add a Database to a PHP Application | Nanobox"
    description = "How to add and connect to a database with a PHP applciation"
    keywords    = "php production application, manage php application, php database, php and mongodb, php and postgres, mongodb, postgres"
    articles    = "php/php"
    icons       = "php,php"
    
block markdown
  include:md /articles/php/generic/add-a-database.md
