extends /app/pages/templates/article  

block configParams
  -
    title       = "App Health"
    keywords    = "php,generic,app-health"
    description = "Monitor the health of your PHP app with Nanobox"
    articles    = "php/generic"
    icons       = "php,generic"
    
block markdown
  include:md /articles/shared/app-health.md
