extends /app/pages/templates/article  

block configParams
  -
    title       = "Monitoring Production PHP Applications | Nanobox"
    description = "Monitor a production PHP application with live and historical stats"
    keywords    = "php production application, manage php application, stats, php stats, php stats, monitor php, php app health"
    articles    = "php/generic"
    icons       = "php"
    id          = "App Health"
    
block markdown
  include:md /articles/shared/app-health.md
