extends /app/pages/templates/article  

block configParams
  -
    title       = "Managing PHP Extensions with Composer | Nanobox"
    description = "How to manage PHP application dependencies with Composer"
    keywords    = "php application, manage php application, composer, php composer, php composer"
    articles    = "php/php"
    icons       = "php,php"
    
block markdown
  include:md /articles/php/composer.md
