extends /app/pages/templates/article  

block configParams
  -
    title       = "Managing PHP Gems with Bundler | Nanobox"
    description = "How to manage PHP application dependencies with Bundler"
    keywords    = "php application, manage php application, bundler, php bundler, php bundler, gem bundler"
    articles    = "php/php"
    icons       = "php,php"
    
block markdown
  include:md /articles/php/bundler.md
