extends /app/pages/templates/article  

block configParams
  -
    title       = "Composer"
    keywords    = "php,generic,composer"
    description = "Composer with Nanobox"
    articles    = "php/generic"
    icons       = "php,generic"
    
block markdown
  include:md /articles/php/composer.md
