extends /app/pages/templates/article  

block configParams
  -
    title       = "Configure PHP for Production"
    keywords    = "php,generic,configure,production"
    description = "Configure PHP for production with Nanobox"
    articles    = "php/generic"
    icons       = "php,generic"
    
block markdown
  include:md /articles/php/generic/configure-generic.md
