extends /app/pages/templates/article  

block configParams
  -
    title       = "Configure PHP to run in Production | Nanobox"
    description = "Learn how to configure a PHP application to run in production"
    keywords    = "php production application, manage php application, configure php, production php, php in production"
    articles    = "php/generic"
    icons       = "php"
    id          = "Configure your App"
    
block markdown
  include:md /articles/php/generic/configure-generic.md
