extends /app/pages/templates/article  

block configParams
  -
    title       = "Debugging Generic"
    keywords    = "php,generic,debug"
    description = "Debug your PHP app with Nanobox"
    articles    = "php/generic"
    icons       = "php,generic"
    
block markdown
  include:md /articles/shared/debugging.md
