extends /app/pages/templates/article  

block configParams
  -
    title       = "Debug PHP Application in Production | Nanobox"
    description = "Learn how to debug a production PHP application"
    keywords    = "php production application, manage php application, php logging, php monitoring, debug php, debugging php"
    articles    = "php/php"
    icons       = "php,php"
    
block markdown
  include:md /articles/shared/debugging.md
