extends /app/pages/templates/article  

block configParams
  -
    title       = "Add SSL/TLS Encryption to a PHP Application | Nanobox"
    description = "Learn how to easily add SSL/TLS encryption to a PHP production application"
    keywords    = "php production application, manage php application, ssl, tls, encryption"
    articles    = "php/php"
    icons       = "php,php"
    
block markdown
  include:md /articles/shared/encryption.md
