extends /app/pages/templates/article  

block configParams
  -
    title       = "Run an Existing PHP Applicatin in Docker | Nanobox"
    description = "Learn how to take an existing PHP application and run it using Docker"
    keywords    = "php production application, manage php application, docker, php on docker, containers"
    articles    = "php/generic"
    icons       = "php"
    id          = "Existing PHP App"
    
block markdown
  include:md /articles/php/generic/existing-app.md
