extends /app/pages/templates/article  

block configParams
  -
    title       = "Existing Generic App"
    keywords    = "php,generic"
    description = "launch generic app"
    articles    = "php/generic"
    icons       = "php,generic"
    
block markdown
  include:md /articles/php/generic/existing-app.md
