extends /app/pages/templates/article  

block configParams
  -
    title       = "PHP PHP Application Extensions Configuration | Nanobox"
    description = "How to configure PHP Extentions for PHP PHP"
    keywords    = "php production application, manage php application, php extentions, php php extensions, php extension configuration"
    articles    = "php/php"
    icons       = "php,php"
    
block markdown
  include:md /articles/php/extensions-config.md
