extends /app/pages/templates/article  

block configParams
  -
    title       = "PHP Application Extensions Configuration | Nanobox"
    description = "How to configure PHP Extentions for PHP"
    keywords    = "php production application, manage php application, php extentions, php php extensions, php extension configuration"
    articles    = "php/generic"
    icons       = "php"
    id          = "Extentions Config"
    
block markdown
  include:md /articles/php/extensions-config.md
