extends /app/pages/templates/article  

block configParams
  -
    title       = "Create a PHP Application from Scratch | Nanobox"
    description = "Learn how to create a new PHP application and local development environment"
    keywords    = "php application, php application, php dev environment, dev environment, php dev environemnt, php dev, docker, containers"
    articles    = "php/generic"
    icons       = "php"
    id          = "PHP from Scratch"
    
block markdown
  include:md /articles/php/generic/from-scratch.md
