extends /app/pages/templates/article  

block configParams
  -
    title       = "Launch a PHP Application to Production | Nanobox"
    description = "Learn how to deploy a PHP application to production servers"
    keywords    = "php production application, manage php application, deploy php, launch php, php in production, php production servers"
    articles    = "php/php"
    icons       = "php,php"
    
block markdown
  :md
    # Launch Your App
  include:md /articles/shared/partials/launch-your-app.md
  include:md /articles/php/generic/launch-your-app.md
  include:md /articles/shared/partials/deploy-your-app.md
