extends /app/pages/templates/article  

block configParams
  -
    title       = "Manage Platform"
    keywords    = "php,generic,manage,production"
    description = "Manage your PHP app in production with Nanobox"
    articles    = "php/generic"
    icons       = "php,generic"
    
block markdown
  include:md /articles/shared/manage-platform.md
