extends /app/pages/templates/article  

block configParams
  -
    title       = "Managing a Production PHP Application | Nanobox"
    description = "Manage a PHP application's logs, traffic, health, and storage"
    keywords    = "php production application, manage php application, monitor php, php logging, load balancer, php monitoring, production logs"
    articles    = "php/generic"
    icons       = "php"
    
block markdown
  include:md /articles/shared/manage-platform.md
