extends /app/pages/templates/article  

block configParams
  -
    title       = "Using New Relic in PHP Applications | Nanobox"
    description = "How to install and use New Relic in PHP applications deployed with Nanobox"
    keywords    = "performance monitoring, newrelic php, new relic php, new relic paas, installing new relic, installing newrelic php, production performance monitoring"
    articles    = "php/generic"
    icons       = "php"
    id          = "New Relic"
    
block markdown
  include:md /articles/php/newrelic.md
