extends /app/pages/templates/article  

block configParams
  -
    title       = "PHP Application Extensions | Nanobox"
    description = "Find out what PHP Extentions are available for PHP"
    keywords    = "php production application, manage php application, php extentions, php php extensions"
    articles    = "php/generic"
    icons       = "php"
    id          = "PHP Extensions"
    
block markdown
  include:md /articles/php/extensions.md
