extends /app/pages/templates/article  

block configParams
  -
    title       = "Point your Domain"
    keywords    = "php,generic,dns,domain"
    description = "manage generic dns"
    articles    = "php/generic"
    icons       = "php,generic"
    
block markdown
  include:md /articles/shared/point-your-domain.md
