extends /app/pages/templates/article  

block configParams
  -
    title       = "Adding a Domain to a PHP Application | Nanobox"
    description = "How to point an existing domain name to a PHP application"
    keywords    = "php production application, manage php application, point dns, add dns, domain, domin pointing, point domain"
    articles    = "php/php"
    icons       = "php,php"
    
block markdown
  include:md /articles/shared/point-your-domain.md
