extends /app/pages/templates/article  

block configParams
  -
    title       = "Stage a PHP application | Nanobox"
    description = "Easily stage a PHP application before deplying to production"
    keywords    = "php production application, manage php application, test php application, stage php application"
    articles    = "php/generic"
    icons       = "php"
    
block markdown
  include:md /articles/php/generic/preview-your-app.md
