extends /app/pages/templates/article  

block configParams
  -
    title       = "Dry Run"
    keywords    = "php,generic,stage,test"
    description = "preview generic app"
    articles    = "php/generic"
    icons       = "php,generic"
    
block markdown
  include:md /articles/php/generic/preview-your-app.md
