extends /app/pages/templates/article  

block configParams
  -
    title       = "Stage a PHP application | Nanobox"
    description = "Easily stage a PHP application before deplying to production"
    keywords    = "php production application, manage php application, test php application, stage php application"
    articles    = "php/php"
    icons       = "php,php"
    
block markdown
  include:md /articles/php/php/preview-your-app.md
