extends /app/pages/templates/article  

block configParams
  -
    title       = "Remote Access to PHP Applications | Nanobox"
    description = "Securely manage running PHP application with SSH remote access"
    keywords    = "php production application, manage php application, ssh access, remote access, server management, secure access"
    articles    = "php/php"
    icons       = "php,php"
    
block markdown
  include:md /articles/shared/remote-access.md
