extends /app/pages/templates/article  

block configParams
  -
    title       = "Remote Access"
    keywords    = "php,generic,remote-access"
    description = "generic remote access"
    articles    = "php/generic"
    icons       = "php,generic"
    
block markdown
  include:md /articles/shared/remote-access.md
