extends /app/pages/templates/article  

block configParams
  -
    title       = "Scale PHP Applications | Nanobox"
    description = "Easily scale production PHP applications with zero downtime"
    keywords    = "php production application, manage php application, scale php application, zero downtime"
    articles    = "php/generic"
    icons       = "php"
    
block markdown
  include:md /articles/shared/scale-your-app.md
