extends /app/pages/templates/article  

block configParams
  -
    title       = "Manage PHP Application Teams | Nanobox"
    description = "Easily manage PHP development teams and application collaborators"
    keywords    = "php production application, manage php application, php collaboration, team management"
    articles    = "php/generic"
    icons       = "php"
    id          = "Team Management"
    
block markdown
  include:md /articles/shared/team-management.md
