extends /app/pages/templates/article  

block configParams
  -
    title       = "Configure Apache and Nginx for PHP PHP | Nanobox"
    description = "How to configure Apache and Nginx to run PHP PHP in production"
    keywords    = "php production application, manage php application, nginx, apache, nginx php, apache php, php php nginx, php php apache"
    articles    = "php/php"
    icons       = "php,php"
    
block markdown
  include:md /articles/php/webserver-config.md
