extends /app/pages/templates/article  

block configParams
  -
    title       = "Add a Database"
    keywords    = "php,lumen,add-a-database"
    description = "Add a database to your Lumen app with Nanobox"
    articles    = "php/lumen"
    icons       = "php,lumen"
    
block markdown
  include:md /articles/php/lumen/add-a-database.md
