extends /app/pages/templates/article  

block configParams
  -
    title       = "Monitoring Production Lumen Applications | Nanobox"
    description = "Monitor a production Lumen application with live and historical stats"
    keywords    = "php, lumen production application, manage lumen application, stats, php stats, lumen stats, monitor lumen, lumen app health"
    articles    = "php/lumen"
    icons       = "php,lumen"
    
block markdown
  include:md /articles/shared/app-health.md
