extends /app/pages/templates/article  

block configParams
  -
    title       = "Managing PHP Gems with Bundler | Nanobox"
    description = "How to manage Lumen application dependencies with Bundler"
    keywords    = "php, lumen application, manage lumen application, bundler, lumen bundler, php bundler, gem bundler"
    articles    = "php/lumen"
    icons       = "php,lumen"
    
block markdown
  include:md /articles/php/bundler.md
