extends /app/pages/templates/article  

block configParams
  -
    title       = "Composer"
    keywords    = "php,lumen,composer"
    description = "composer with lumen"
    articles    = "php/lumen"
    icons       = "php,lumen"
    
block markdown
  include:md /articles/php/composer.md
