extends /app/pages/templates/article  

block configParams
  -
    title       = "Managing PHP Extensions with Composer | Nanobox"
    description = "How to manage Lumen application dependencies with Composer"
    keywords    = "php, lumen application, manage lumen application, composer, lumen composer, php composer"
    articles    = "php/lumen"
    icons       = "php,lumen"
    
block markdown
  include:md /articles/php/composer.md
