extends /app/pages/templates/article  

block configParams
  -
    title       = "Configure Lumen for Production"
    keywords    = "php,lumen,configure,production"
    description = "Configuring Lumen app for production with Nanobox"
    articles    = "php/lumen"
    icons       = "php,lumen"
    
block markdown
  include:md /articles/php/lumen/configure-lumen.md
