extends /app/pages/templates/article  

block configParams
  -
    title       = "Managing PHP Versions | Nanobox"
    description = "How to update or change php versions in development and production environments"
    keywords    = "php, lumen production application, manage lumen application, configure lumen, production lumen, lumen in production, php version, manage php versions"
    articles    = "php/lumen"
    icons       = "php,lumen"
    id          = "Configure PHP"
    
block markdown
  include:md /articles/php/config.md
