extends /app/pages/templates/article  

block configParams
  -
    title       = "Configure Lumen to run in Production | Nanobox"
    description = "Learn how to configure a Lumen application to run in production"
    keywords    = "php, lumen production application, manage lumen application, configure lumen, production lumen, lumen in production"
    articles    = "php/lumen"
    icons       = "php,lumen"
    
block markdown
  include:md /articles/php/lumen/configure-lumen.md
