extends /app/pages/templates/article  

block configParams
  -
    title       = "Debug Lumen Application in Production | Nanobox"
    description = "Learn how to debug a production Lumen application"
    keywords    = "php, lumen production application, manage lumen application, lumen logging, lumen monitoring, debug lumen, debugging lumen"
    articles    = "php/lumen"
    icons       = "php,lumen"
    
block markdown
  include:md /articles/shared/debugging.md
