extends /app/pages/templates/article  

block configParams
  -
    title       = "SSL/TLS Encryption"
    keywords    = "php,lumen,ssl,tls,encryption"
    description = "Lumen SSL/TLS Encryption with Nanobox"
    articles    = "php/lumen"
    icons       = "php,lumen"
    
block markdown
  include:md /articles/shared/encryption.md
