extends /app/pages/templates/article  

block configParams
  -
    title       = "Add SSL/TLS Encryption to a Lumen Application | Nanobox"
    description = "Learn how to easily add SSL/TLS encryption to a Lumen production application"
    keywords    = "php, lumen production application, manage lumen application, ssl, tls, encryption"
    articles    = "php/lumen"
    icons       = "php,lumen"
    
block markdown
  include:md /articles/shared/encryption.md
