extends /app/pages/templates/article  

block configParams
  -
    title       = "Run an Existing Lumen Applicatin in Docker | Nanobox"
    description = "Learn how to take an existing Lumen application and run it using Docker"
    keywords    = "php, lumen production application, manage lumen application, docker, lumen on docker, containers"
    articles    = "php/lumen"
    icons       = "php,lumen"
    id          = "Existing Lumen App"
    
block markdown
  include:md /articles/php/lumen/existing-app.md
