extends /app/pages/templates/article  

block configParams
  -
    title       = "Create a Lumen Application from Scratch | Nanobox"
    description = "Learn how to create a new Lumen application and local development environment"
    keywords    = "php, lumen application, lumen application, php dev environment, dev environment, lumen dev environemnt, lumen dev, docker, containers"
    articles    = "php/lumen"
    icons       = "php,lumen"
    id          = "Lumen from Scratch"
    
block markdown
  include:md /articles/php/lumen/from-scratch.md
