extends /app/pages/templates/article  

block configParams
  -
    title       = "Adding Javascript to a Lumen Application | Nanobox"
    description = "How to add Javascriot to a Lumen application"
    keywords    = "php, lumen application, lumen javascript, javascript"
    articles    = "php/lumen"
    icons       = "php,lumen"
    
block markdown
  :md
    # Frontend Javascript
  include:md /articles/shared/partials/nodejs.md
  include:md /articles/shared/partials/package-managers.md
  include:md /articles/shared/partials/task-runners.md
