extends /app/pages/templates/article  

block configParams
  -
    title       = "Frontend Javascript"
    keywords    = "php,lumen,javascript,node,yarn,npm,bower,gulp,grunt,brunch,broccoli"
    description = "javascript in lumen"
    articles    = "php/lumen"
    icons       = "php,lumen"
    
block markdown
  :md
    # Frontend Javascript
  include:md /articles/shared/partials/nodejs.md
  include:md /articles/shared/partials/package-managers.md
  include:md /articles/shared/partials/task-runners.md
