extends /app/pages/templates/article  

block configParams
  -
    title       = "Launch a Lumen Application to Production | Nanobox"
    description = "Learn how to deploy a Lumen application to production servers"
    keywords    = "php, lumen production application, manage lumen application, deploy lumen, launch lumen, lumen in production, lumen production servers"
    articles    = "php/lumen"
    icons       = "php,lumen"
    
block markdown
  :md
    # Launch Your App
  include:md /articles/shared/partials/launch-your-app.md
  include:md /articles/php/lumen/launch-your-app.md
  include:md /articles/shared/partials/deploy-your-app.md
