extends /app/pages/templates/article  

block configParams
  -
    title       = "Managing a Production Lumen Application | Nanobox"
    description = "Manage a Lumen application's logs, traffic, health, and storage"
    keywords    = "php, lumen production application, manage lumen application, monitor lumen, lumen logging, load balancer, lumen monitoring, production logs"
    articles    = "php/lumen"
    icons       = "php,lumen"
    id          = "Manage Platform"
    
block markdown
  include:md /articles/shared/manage-platform.md
