extends /app/pages/templates/article  

block configParams
  -
    title       = "Manage Platform"
    keywords    = "php,lumen,manage,production"
    description = "Manage your Lumen app in production with Nanobox"
    articles    = "php/lumen"
    icons       = "php,lumen"
    
block markdown
  include:md /articles/shared/manage-platform.md
