extends /app/pages/templates/article  

block configParams
  -
    title       = "Using New Relic in Lumen Applications | Nanobox"
    description = "How to install and use New Relic in Lumen applications deployed with Nanobox"
    keywords    = "newrelic lumen, performance monitoring, newrelic php, new relic php, new relic paas, installing new relic, installing newrelic php, production performance monitoring"
    articles    = "php/lumen"
    icons       = "php,lumen"
    id          = "New Relic"
    
block markdown
  include:md /articles/php/newrelic.md
