extends /app/pages/templates/article  

block configParams
  -
    title       = "Lumen PHP Application Extensions | Nanobox"
    description = "Find out what PHP Extentions are available for Lumen PHP"
    keywords    = "php, lumen production application, manage lumen application, php extentions, lumen php extensions"
    articles    = "php/lumen"
    icons       = "php,lumen"
    
block markdown
  include:md /articles/php/extensions.md
