extends /app/pages/templates/article  

block configParams
  -
    title       = "Stage a Lumen application | Nanobox"
    description = "Easily stage a Lumen application before deplying to production"
    keywords    = "php, lumen production application, manage lumen application, test lumen application, stage lumen application"
    articles    = "php/lumen"
    icons       = "php,lumen"
    
block markdown
  include:md /articles/php/lumen/preview-your-app.md
