extends /app/pages/templates/article  

block configParams
  -
    title       = "Dry Run"
    keywords    = "php,lumen,stage,test"
    description = "preview lumen app"
    articles    = "php/lumen"
    icons       = "php,lumen"
    
block markdown
  include:md /articles/php/lumen/preview-your-app.md
