extends /app/pages/templates/article  

block configParams
  -
    title       = "Add Environment Variable to Production Lumen Application | Nanobox"
    description = "Learn how to add environment variable to a production Lumen application"
    keywords    = "php, lumen production application, manage lumen application, lumen environment variables, environment variables"
    articles    = "php/lumen"
    icons       = "php,lumen"
    id          = "Environment Variables"
    
block markdown
  include:md /articles/shared/production-evars.md
