extends /app/pages/templates/article  

block configParams
  -
    title       = "Scale Lumen Applications | Nanobox"
    description = "Easily scale production Lumen applications with zero downtime"
    keywords    = "php, lumen production application, manage lumen application, scale lumen application, zero downtime"
    articles    = "php/lumen"
    icons       = "php,lumen"
    id          = "Scale Your App"
    
block markdown
  include:md /articles/shared/scale-your-app.md
