extends /app/pages/templates/article  

block configParams
  -
    title       = "Scale Your App"
    keywords    = "php,lumen,production,scale"
    description = "How to scale your Lumen app with Nanobox"
    articles    = "php/lumen"
    icons       = "php,lumen"
    
block markdown
  include:md /articles/shared/scale-your-app.md
