extends /app/pages/templates/article  

block configParams
  -
    title       = "Manage Lumen Application Teams | Nanobox"
    description = "Easily manage Lumen development teams and application collaborators"
    keywords    = "php, lumen production application, manage lumen application, lumen collaboration, team management"
    articles    = "php/lumen"
    icons       = "php,lumen"
    
block markdown
  include:md /articles/shared/team-management.md
