extends /app/pages/templates/article  

block configParams
  -
    title       = "Configure Apache and Nginx for Lumen PHP | Nanobox"
    description = "How to configure Apache and Nginx to run Lumen PHP in production"
    keywords    = "php, lumen production application, manage lumen application, nginx, apache, nginx php, apache php, lumen php nginx, lumen php apache"
    articles    = "php/lumen"
    icons       = "php,lumen"
    
block markdown
  include:md /articles/php/webserver-config.md
