extends /app/pages/templates/article  

block configParams
  -
    title       = "Add a Database to a Crystal Application | Nanobox"
    description = "How to add and connect to a database with a Crystal applciation"
    keywords    = "crystal, crystal production application, manage crystal application, crystal database, crystal and mongodb, crystal and postgres, mongodb, postgres"
    articles    = "crystal/generic"
    icons       = "crystal"
    id          = "Add a Database"
    
block markdown
  include:md /articles/crystal/generic/add-a-database.md
