extends /app/pages/templates/article  

block configParams
  -
    title       = "Stage a Crystal application | Nanobox"
    description = "Easily stage a Crystal application before deplying to production"
    keywords    = "crystal, crystal production application, manage crystal application, test crystal application, stage crystal application"
    articles    = "crystal/generic"
    icons       = "crystal,generic"
    id          = "Preview your App"
    
block markdown
  include:md /articles/crystal/generic/preview-your-app.md
