extends /app/pages/templates/article  

block configParams
  -
    title       = "Remote Access to Crystal Applications | Nanobox"
    description = "Securely manage running Crystal application with SSH remote access"
    keywords    = "crystal, crystal production application, manage crystal application, ssh access, remote access, server management, secure access"
    articles    = "crystal/generic"
    icons       = "crystal"
    id          = "Remote Access"
    
block markdown
  include:md /articles/shared/remote-access.md
