extends /app/pages/templates/article  

block configParams
  -
    title       = "Managing Shards | Nanobox"
    description = "How to manage Crystal application dependencies with shards"
    keywords    = "crystal, crystal application, manage crystal application, shards, crystal shards, crystal shards, gem shards"
    articles    = "crystal/generic"
    icons       = "crystal"
    id          = "Shards"
    
block markdown
  include:md /articles/crystal/shards.md
