extends /app/pages/templates/article  

block configParams
  -
    title    = "Stage your App"
    articles = "golang"
    icons    = "golang"
    
block markdown
  include:md /articles/shared/production/stage-your-app.md
