extends /app/pages/templates/article  

block configParams
  -
    title       = "Add a Database"
    keywords    = "nodejs,adonis,add-a-database"
    description = "Add a database to Adonis with Nanobox"
    articles    = "nodejs/adonis"
    icons       = "nodejs,adonis"
    
block markdown
  include:md /articles/nodejs/adonis/add-a-database.md
