extends /app/pages/templates/article  

block configParams
  -
    title       = "Monitoring Production Adonis Applications | Nanobox"
    description = "Monitor a production Adonis application with live and historical stats"
    keywords    = "nodejs, adonis production application, manage adonis application, stats, nodejs stats, adonis stats, monitor adonis, adonis app health"
    articles    = "nodejs/adonis"
    icons       = "node,adonis"
    id          = "App Health"
    
block markdown
  include:md /articles/shared/app-health.md
