extends /app/pages/templates/article  

block configParams
  -
    title       = "Managing Nodejs Versions | Nanobox"
    description = "How to update or change nodejs versions in development and production environments"
    keywords    = "nodejs, adonis production application, manage adonis application, configure adonis, production adonis, adonis in production, nodejs version, manage nodejs versions"
    articles    = "nodejs/adonis"
    icons       = "node,adonis"
    id          = "Configure Nodejs"
    
block markdown
  include:md /articles/nodejs/config.md
