extends /app/pages/templates/article  

block configParams
  -
    title       = "Configure Adonis for Production"
    keywords    = "nodejs,adonis,configure,production"
    description = "Configuring Adonis for production with Nanobox"
    articles    = "nodejs/adonis"
    icons       = "nodejs,adonis"
    
block markdown
  include:md /articles/nodejs/adonis/configure-adonis.md
