extends /app/pages/templates/article  

block configParams
  -
    title       = "Debugging Adonis"
    keywords    = "nodejs,adonis,debug"
    description = "Debug your Adonis app with Nanobox"
    articles    = "nodejs/adonis"
    icons       = "nodejs,adonis"
    
block markdown
  include:md /articles/shared/debugging.md
