extends /app/pages/templates/article  

block configParams
  -
    title       = "Debug Adonis Application in Production | Nanobox"
    description = "Learn how to debug a production Adonis application"
    keywords    = "nodejs, adonis production application, manage adonis application, adonis logging, adonis monitoring, debug adonis, debugging adonis"
    articles    = "nodejs/adonis"
    icons       = "node,adonis"
    id          = "Debugging"
    
block markdown
  include:md /articles/shared/debugging.md
