extends /app/pages/templates/article  

block configParams
  -
    title       = "SSL/TLS Encryption"
    keywords    = "nodejs,adonis,ssl,tls,encryption"
    description = "Adonis SSL/TLS Encryption with Nanobox"
    articles    = "nodejs/adonis"
    icons       = "nodejs,adonis"
    
block markdown
  include:md /articles/shared/encryption.md
