extends /app/pages/templates/article  

block configParams
  -
    title       = "Run an Existing Adonis Applicatin in Docker | Nanobox"
    description = "Learn how to take an existing Adonis application and run it using Docker"
    keywords    = "nodejs, adonis production application, manage adonis application, docker, adonis on docker, containers"
    articles    = "nodejs/adonis"
    icons       = "node,adonis"
    id          = "Existing Adonis App"
    
block markdown
  include:md /articles/nodejs/adonis/existing-app.md
