extends /app/pages/templates/article  

block configParams
  -
    title       = "Managing Adonis Packages with Yarn & NPM | Nanobox"
    description = "How to manage Adonis application dependencies with Yarn & NPM"
    keywords    = "nodejs, adonis application, manage adonis application, yarn, npm, adonis yarn, adonis npm, nodejs yarn, nodejs npm"
    articles    = "nodejs/adonis"
    icons       = "nodejs,adonis"
    id          = "Yarn & NPM"
    
block markdown
  include:md /articles/nodejs/npm.md
