extends /app/pages/templates/article  

block configParams
  -
    title       = "Adding a Domain to an Adonis Application | Nanobox"
    description = "How to point an existing domain name to an Adonis application"
    keywords    = "nodejs, adonis production application, manage adonis application point dns, add dns, domain, domin pointing, point domain"
    articles    = "nodejs/adonis"
    icons       = "node,adonis"
    id          = "Point Your Domain"
    
block markdown
  include:md /articles/shared/point-your-domain.md
