extends /app/pages/templates/article  

block configParams
  -
    title       = "Stage an Adonis application | Nanobox"
    description = "Easily stage an Adonis application before deplying to production"
    keywords    = "nodejs, adonis production application, manage adonis application, test adonis application, stage adonis application"
    articles    = "nodejs/adonis"
    icons       = "nodejs,adonis"
    
block markdown
  include:md /articles/nodejs/adonis/preview-your-app.md
