extends /app/pages/templates/article  

block configParams
  -
    title       = "Remote Access to Adonis Applications | Nanobox"
    description = "Securely manage running Adonis application with SSH remote access"
    keywords    = "nodejs, adonis production application, manage adonis application, ssh access, remote access, server management, secure access"
    articles    = "nodejs/adonis"
    icons       = "nodejs,adonis"
    id          = "Remote Access"
    
block markdown
  include:md /articles/shared/remote-access.md
