extends /app/pages/templates/article  

block configParams
  -
    title       = "Manage Adonis Application Teams | Nanobox"
    description = "Easily manage Adonis development teams and application collaborators"
    keywords    = "nodejs, adonis production application, manage adonis application, adonis collaboration, team management"
    articles    = "nodejs/adonis"
    icons       = "nodejs,adonis"
    
block markdown
  include:md /articles/shared/team-management.md
