extends /app/pages/templates/framework-landing  

block configParams
  -
    formalName   = "Phoenix"
    informalName = "phoenix"
    icon         = "phoenix"
    iconCrumbs   = "elixir,phoenix"

block jsParams
  script.
    //- This is javascript
    requiredComponents = [
      {name:'Elixir', icon:'elixir', href:'#'}
    ]
    optionalComponents = [
      {name:'Postgres', icon:'postgres', href:'#'},
      {name:'MongoDB', icon:'mongo', href:'#'},
      {name:'Redis', icon:'redis', href:'#'}
    ]
    articleGroups = "elixir/phoenix"
