extends /app/pages/templates/article  

block configParams
  -
    title    = "Production Environment Variables"
    articles = "php/laravel"
    icons    = "php,laravel"
    
block markdown
  include:md /articles/shared/production/production-evars.md
