extends /app/pages/templates/article  

block configParams
  -
    title    = "Install Nanobox"
    articles = "php/laravel"
    icons    = "php,laravel"
    
block markdown
  include:md /articles/shared/install-nanobox.md
