extends /app/pages/templates/article  

block configParams
  -
    title       = "Configure Node.js"
    keywords    = "javascript,angular,nodejs"
    description = "Configure Node.js and Angular with Nanobox"
    articles    = "javascript/angular"
    icons       = "javascript,angular"
    id          = "Configure Nodejs"
    
block markdown
  :md
    # Configure Nodejs
  include:md /articles/shared/partials/nodejs.md
