extends /app/pages/templates/article  

block configParams
  -
    title       = "Angular From Scratch"
    keywords    = "javascript,angular,new"
    description = "new angular app"
    articles    = "javascript/angular"
    icons       = "javascript,angular"
    
block markdown
  include:md /articles/javascript/angular/from-scratch.md
