extends /app/pages/templates/article  

block configParams
  -
    title       = "Launch Angular Backend"
    keywords    = "javascript,angular,backend"
    description = "launch angular backend"
    articles    = "javascript/angular"
    icons       = "javascript,angular"
    
block markdown
  include:md /articles/javascript/angular/launch-backend.md
