extends /app/pages/templates/framework-landing  

block configParams
  -
    formalName   = "Angular"
    informalName = "angular"
    icon         = "angular"

block jsParams
  script.
    //- This is javascript
    requiredComponents = [
      {name:'Javascript', icon:'javascript', href:'#'},
      {name:'PostgreSQL', icon:'postgres', href:'#'}
    ]
    optionalComponents = [
      {name:'Mongo DB', icon:'mongo', href:'#'},
      {name:'Redis', icon:'redis', href:'#'}
    ]
    articleGroups = [
      {title:"First Steps",   group:"shared/first-steps,javascript/angular/first-steps"},
      {title:"Next Steps",    group:"javascript/angular/next-steps,shared/next-steps"},
      {title:"Production",    group:"javascript/angular/production,shared/production"},
      {title:"Going Further", group:"javascript/angular/going-further,shared/going-further"}
    ]
