extends /app/pages/templates/article  

block configParams
  -
    title       = "Yarn, NPM, & Bower"
    keywords    = "javascript,angular,yarn,npm,bower"
    description = "Using package-managers like yarn, npm, and bower with Angular"
    articles    = "javascript/angular"
    icons       = "javascript,angular"
    id          = "Yarn, NPM, & Bower"
    
block markdown
  :md
    # Yarn, NPM, & Bower
  include:md /articles/shared/partials/package-managers.md
